@charset "UTF-8";
/**
 * Common Styles
 *
 * 01. Reset
 * 02. Base
 * 03. Layout
 * 04. Parts
 *
 */
/* ==========================================================================
   01. Reset
   ========================================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* ==========================================================================
   02. Base
   ========================================================================== */
html {
  color: #1a1a1a;
  font-size: 62.5%; }
  @media screen and (max-width: 767px) {
    html {
      font-size: 2.67vw; } }

body {
  font-family: "source-han-sans-japanese", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 140%;
  font-weight: 500;
  -webkit-text-size-adjust: 100%; }
  body * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  @media screen and (min-width: 768px), print {
    body {
      line-height: 1.85;
      min-width: 1380px; } }
  @media screen and (max-width: 767px) {
    body {
      line-height: 1.85;
      font-size: 140%; } }

#main {
  display: block; }

/* link
   ========================================================================== */
a {
  color: #1a1a1a;
  text-decoration: none;
  transition: color .2s ease; }

a:visited {
  color: #1a1a1a;
  text-decoration: none; }

a:hover {
  color: #38a75b; }

#main a {
  text-decoration: underline; }

/* image
   ========================================================================== */
img {
  height: auto;
  line-height: 1;
  max-width: 100%;
  vertical-align: top; }

table th img,
table td img {
  vertical-align: middle; }

/* form
   ========================================================================== */
input,
textarea,
label {
  vertical-align: middle; }

/* display
   ========================================================================== */
.block {
  display: block; }

.sp-item {
  display: none; }

.pc-block {
  display: block; }

@media screen and (max-width: 767px) {
  .sp-item {
    display: block; }
  .pc-item {
    display: none !important; }
  .pc-block {
    display: inline; }
  .sp-block {
    display: block; } }

/* float
   ========================================================================== */
.clearfix::after,
.fbox::after {
  display: block;
  clear: both;
  content: ""; }

.fr {
  float: right; }

.fl {
  float: left; }

ul.fbox li {
  float: left;
  display: inline; }

/* margin
   ========================================================================== */
.mt0 {
  margin-top: 0px !important; }
  @media screen and (max-width: 767px) {
    .mt0 {
      margin-top: 0vw !important; } }

.mt5 {
  margin-top: 5px !important; }
  @media screen and (max-width: 767px) {
    .mt5 {
      margin-top: 1.33vw !important; } }

.mt10 {
  margin-top: 10px !important; }
  @media screen and (max-width: 767px) {
    .mt10 {
      margin-top: 2.67vw !important; } }

.mt15 {
  margin-top: 15px !important; }
  @media screen and (max-width: 767px) {
    .mt15 {
      margin-top: 4vw !important; } }

.mt20 {
  margin-top: 20px !important; }
  @media screen and (max-width: 767px) {
    .mt20 {
      margin-top: 5.33vw !important; } }

.mt25 {
  margin-top: 25px !important; }
  @media screen and (max-width: 767px) {
    .mt25 {
      margin-top: 6.67vw !important; } }

.mt30 {
  margin-top: 30px !important; }
  @media screen and (max-width: 767px) {
    .mt30 {
      margin-top: 8vw !important; } }

.mt35 {
  margin-top: 35px !important; }
  @media screen and (max-width: 767px) {
    .mt35 {
      margin-top: 9.33vw !important; } }

.mt40 {
  margin-top: 40px !important; }
  @media screen and (max-width: 767px) {
    .mt40 {
      margin-top: 10.67vw !important; } }

.mt45 {
  margin-top: 45px !important; }
  @media screen and (max-width: 767px) {
    .mt45 {
      margin-top: 12vw !important; } }

.mt50 {
  margin-top: 50px !important; }
  @media screen and (max-width: 767px) {
    .mt50 {
      margin-top: 13.33vw !important; } }

.mt55 {
  margin-top: 55px !important; }
  @media screen and (max-width: 767px) {
    .mt55 {
      margin-top: 14.67vw !important; } }

.mt60 {
  margin-top: 60px !important; }
  @media screen and (max-width: 767px) {
    .mt60 {
      margin-top: 16vw !important; } }

.mb0 {
  margin-bottom: 0px !important; }
  @media screen and (max-width: 767px) {
    .mb0 {
      margin-bottom: 0vw !important; } }

.mb5 {
  margin-bottom: 5px !important; }
  @media screen and (max-width: 767px) {
    .mb5 {
      margin-bottom: 1.33vw !important; } }

.mb10 {
  margin-bottom: 10px !important; }
  @media screen and (max-width: 767px) {
    .mb10 {
      margin-bottom: 2.67vw !important; } }

.mb15 {
  margin-bottom: 15px !important; }
  @media screen and (max-width: 767px) {
    .mb15 {
      margin-bottom: 4vw !important; } }

.mb20 {
  margin-bottom: 20px !important; }
  @media screen and (max-width: 767px) {
    .mb20 {
      margin-bottom: 5.33vw !important; } }

.mb25 {
  margin-bottom: 25px !important; }
  @media screen and (max-width: 767px) {
    .mb25 {
      margin-bottom: 6.67vw !important; } }

.mb30 {
  margin-bottom: 30px !important; }
  @media screen and (max-width: 767px) {
    .mb30 {
      margin-bottom: 8vw !important; } }

.mr0 {
  margin-right: 0px !important; }
  @media screen and (max-width: 767px) {
    .mr0 {
      margin-right: 0vw !important; } }

.mr5 {
  margin-right: 5px !important; }
  @media screen and (max-width: 767px) {
    .mr5 {
      margin-right: 1.33vw !important; } }

.mr10 {
  margin-right: 10px !important; }
  @media screen and (max-width: 767px) {
    .mr10 {
      margin-right: 2.67vw !important; } }

.mr15 {
  margin-right: 15px !important; }
  @media screen and (max-width: 767px) {
    .mr15 {
      margin-right: 4vw !important; } }

.mr20 {
  margin-right: 20px !important; }
  @media screen and (max-width: 767px) {
    .mr20 {
      margin-right: 5.33vw !important; } }

.ml0 {
  margin-left: 0px !important; }
  @media screen and (max-width: 767px) {
    .ml0 {
      margin-left: 0vw !important; } }

.ml5 {
  margin-left: 5px !important; }
  @media screen and (max-width: 767px) {
    .ml5 {
      margin-left: 1.33vw !important; } }

.ml10 {
  margin-left: 10px !important; }
  @media screen and (max-width: 767px) {
    .ml10 {
      margin-left: 2.67vw !important; } }

.ml15 {
  margin-left: 15px !important; }
  @media screen and (max-width: 767px) {
    .ml15 {
      margin-left: 4vw !important; } }

.ml20 {
  margin-left: 20px !important; }
  @media screen and (max-width: 767px) {
    .ml20 {
      margin-left: 5.33vw !important; } }

/* padding
   ========================================================================== */
.pt0 {
  padding-top: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

@media screen and (min-width: 768px), print {
  .pc-pdg {
    padding-left: 40px;
    padding-right: 40px; }
  .pc-pdg-inner {
    padding-left: 50px;
    padding-right: 50px; } }

@media screen and (max-width: 767px) {
  .sp-pdg {
    padding-left: 2.67vw;
    padding-right: 2.67vw; }
  .sp-pdg-none {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .sp-pdg-inner {
    padding-left: 5.33vw;
    padding-right: 5.33vw; } }

/* text-align
   ========================================================================== */
.text-r {
  text-align: right !important; }

.text-c,
table.text-c th,
table.text-c td,
table.th-c th {
  text-align: center !important; }

.text-l {
  text-align: left !important; }

/* font size
   ========================================================================== */
.fs13 {
  font-size: 13px;
  font-size: 1.3rem; }

.fs14 {
  font-size: 14px;
  font-size: 1.4rem; }

.fs15 {
  font-size: 15px;
  font-size: 1.5rem; }

.fs16 {
  font-size: 16px;
  font-size: 1.6rem; }

@media screen and (max-width: 767px) {
  .fs13 {
    font-size: 3.47vw; }
  .fs14 {
    font-size: 3.73vw; }
  .fs15 {
    font-size: 4vw; }
  .fs16 {
    font-size: 3.73vw; } }

/* ==========================================================================
   03. Layout
   ========================================================================== */
/* base
   ========================================================================== */
html {
  height: 100%; }

body {
  height: 100%; }

@media screen and (max-width: 767px) {
  body {
    position: relative; } }

#contents {
  position: relative;
  overflow: hidden; }

.cont-wrap {
  align-items: flex-start;
  display: flex;
  margin-top: 70px;
  position: relative; }

@media screen and (max-width: 767px) {
  .cont-wrap {
    display: block;
    margin-top: 0; } }

/* header
   ========================================================================== */
#head {
  padding: 22px 0 24px; }

.head-inner {
  position: relative; }

.head-logo {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%); }

.head-btn {
  letter-spacing: .1em;
  margin-left: 38px;
  width: 185px; }
  .head-btn .btn {
    display: block; }
  .head-btn .btn01 {
    padding: 10px 30px 11px 20px; }

.head-logo-aone {
  position: absolute;
  right: 30px;
  top: 6px; }

@media screen and (max-width: 767px) {
  #head {
    padding: 0; }
  .head-inner.box-full {
    padding-left: 0;
    padding-right: 0; }
  .head-logo {
    background-color: #FFF;
    padding-bottom: 5.33vw;
    padding-top: 5.33vw;
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    text-align: center; }
    .head-logo img {
      height: 5.33vw;
      width: auto; }
  .head-btn {
    font-size: 4vw;
    margin-left: 0;
    width: 100%; }
    .head-btn .btn {
      display: block;
      position: relative; }
    .head-btn .btn01 {
      border-radius: 5.87vw;
      padding: 3.47vw 5.33vw; }
    .head-btn .sp-item {
      display: inline-block; }
  .head-logo-aone {
    position: absolute;
    right: 4vw;
    top: 6.4vw;
    width: 14.13vw; }
  .btn-spmenu {
    line-height: 1;
    position: absolute;
    left: 5.33vw;
    height: 5.33vw;
    top: 5.33vw;
    width: 6.4vw; }
  .js-panel-btn {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    text-decoration: none;
    text-align: center; }
  .panel-btn-icon {
    display: inline-block;
    position: relative;
    width: 6.4vw;
    height: 0.53vw;
    margin: 0;
    background: #38a75b;
    transition: .2s;
    vertical-align: middle; }
  .panel-btn-icon:before, .panel-btn-icon:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0.53vw;
    background: #38a75b;
    transition: .3s; }
  .panel-btn-icon:before {
    margin-top: -2.4vw; }
  .panel-btn-icon:after {
    margin-top: 1.87vw; }
  .js-panel-btn.close .panel-btn-icon {
    background: transparent; }
  .js-panel-btn.close .panel-btn-icon:before, .js-panel-btn.close .panel-btn-icon:after {
    margin-top: 0;
    width: 6.4vw; }
  .js-panel-btn.close .panel-btn-icon:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .js-panel-btn.close .panel-btn-icon:after {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg); }
  .gnav-open #head {
    background-color: #f5f5f5;
    height: 100%; } }

/* navigation
   ========================================================================== */
#gnav-wrap {
  align-items: center;
  display: flex;
  padding-right: 120px;
  justify-content: flex-end; }

#gnav {
  display: flex;
  align-items: flex-end; }
  #gnav > li {
    margin-left: 48px;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 700; }
    #gnav > li:first-child {
      margin-left: 0; }
    #gnav > li.active {
      color: #38a75b; }
    #gnav > li.activeParent a {
      color: #38a75b; }
    #gnav > li.activeParent .gnav-child-list a {
      color: #1a1a1a; }
  #gnav span {
    display: block; }

.gnav-child-wrap {
  display: none; }

@media screen and (min-width: 768px), print {
  #gnav a:hover {
    color: #38a75b; } }

@media screen and (max-width: 767px) {
  #gnav-wrap {
    background-color: #f5f5f5;
    display: none;
    padding-bottom: 6.67vw;
    padding-right: 2.67vw; }
  #gnav {
    display: block;
    margin-bottom: 6.67vw; }
    #gnav > li {
      font-size: 4.27vw;
      margin-left: 0;
      line-height: 1; }
    #gnav a:hover {
      color: #1a1a1a; }
    #gnav .gnav-parent {
      display: block; }
      #gnav .gnav-parent span {
        border-bottom: 1px solid #ddd;
        display: block;
        padding: 6.67vw 4.27vw 3.73vw 6.93vw;
        position: relative; }
        #gnav .gnav-parent span:after {
          border-top: 2px solid #38a75b;
          border-right: 2px solid #38a75b;
          content: '';
          display: block;
          right: 4.53vw;
          position: absolute;
          top: 59%;
          transform: rotate(45deg) translateY(-50%);
          height: 1.33vw;
          width: 1.33vw; }
      #gnav .gnav-parent.has-child span:after {
        top: 51%;
        transform: rotate(135deg) translateY(-50%); }
      #gnav .gnav-parent.has-child span.gnav-child-open:after {
        right: 2.67vw;
        top: 63%;
        transform: rotate(-45deg) translateY(-50%); }
    #gnav .active span {
      border-bottom: 1px solid #ddd;
      padding: 6.67vw 4.27vw 3.73vw 6.93vw; }
  .gnav-child-wrap {
    display: none; }
  .gnav-child {
    padding-left: 5.33vw; }
  .gnav-child-list li {
    border-bottom: 1px solid #ddd;
    font-size: 3.73vw;
    font-weight: 500; }
  .gnav-child-list span {
    display: block;
    padding: 5.33vw 0 2.67vw 9.6vw;
    position: relative; }
    .gnav-child-list span:after {
      border-top: 2px solid #38a75b;
      border-right: 2px solid #38a75b;
      content: '';
      display: block;
      left: 5.33vw;
      position: absolute;
      top: 5.87vw;
      transform: rotate(45deg);
      height: 1.33vw;
      width: 1.33vw; }
  .gnav-child-list a[target="_blank"] > span {
    display: inline-block !important; } }

/* main
   ========================================================================== */
#main {
  position: relative; }
  #main:before {
    content: '';
    display: block;
    height: 366px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; }

.bg-cmn #main {
  padding-top: 97px; }
  .bg-cmn #main:before {
    background: -webkit-linear-gradient(left, #38a85b 0%, #288947 100%);
    background: linear-gradient(to right, #38a85b 0%, #288947 100%);
    height: 266px; }

.bg-img #main {
  padding-top: 197px; }
  .bg-img #main:before {
    height: 367px; }

@media screen and (max-width: 767px) {
  .bg-cmn #main,
  .bg-img #main {
    padding: 16.27vw 0 0; }
    .bg-cmn #main:before,
    .bg-img #main:before {
      height: 43.73vw; }
  .has-side #main {
    margin-top: 13.07vw; } }

.main-cont {
  width: 980px; }

@media screen and (max-width: 767px) {
  .main-cont {
    padding-top: 10.67vw;
    width: 100%; }
  .has-side .main-cont {
    padding-top: 0; } }

/* side
   ========================================================================== */
.side {
  padding-right: 80px;
  width: 240px;
  position: relative; }
  .side .side-nav {
    position: static;
    width: 160px; }
  .side.is-fixed {
    position: fixed;
    left: inherit;
    top: 0; }
  .side a {
    text-decoration: none !important; }

.is-fixed .side .side-nav {
  position: fixed;
  top: 0; }

.side-nav li {
  border-bottom: 1px solid #ddd;
  position: relative;
  margin-bottom: 17px; }
  .side-nav li a {
    display: block;
    padding: 10px 10px 5px 10px;
    position: relative; }
    .side-nav li a:before, .side-nav li a:after {
      content: '';
      display: block;
      right: 15px;
      position: absolute; }
    .side-nav li a:before {
      border-top: 1px solid #888;
      border-right: 1px solid #888;
      content: '';
      display: block;
      top: 55%;
      transform: translateY(-50%) rotate(45deg);
      height: 4px;
      width: 4px; }
    .side-nav li a:after {
      background-color: #888;
      height: 1px;
      top: 55%;
      transform: translateY(-50%);
      width: 8px; }
  .side-nav li a.current {
    color: #38a75b; }
    .side-nav li a.current:before, .side-nav li a.current:after {
      right: 5px; }
    .side-nav li a.current:before {
      border-color: #38a75b; }
    .side-nav li a.current:after {
      background-color: #38a75b;
      width: 18px; }
  .side-nav li:after {
    background-color: #38a75b;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%; }

@media screen and (max-width: 767px) {
  .side {
    padding-right: 0;
    width: 100%; }
    .side .side-nav {
      width: 100%; }
  .sp-anchor-nav {
    background-color: #FFF;
    border-top: 1px solid #ddd;
    font-size: 4.27vw;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10; }
    .sp-anchor-nav.is-fixed {
      position: fixed;
      top: 0; }
  .sp-anchor-nav-current {
    border-bottom: 1px solid #ddd;
    color: #38a75b;
    padding-top: 3.2vw;
    padding-bottom: 3.2vw;
    position: relative; }
    .sp-anchor-nav-current:after {
      border-top: 0.53vw solid #38a75b;
      border-right: 0.53vw solid #38a75b;
      content: '';
      display: block;
      right: 10.67vw;
      position: absolute;
      top: 40%;
      transform: rotate(135deg) translateY(-50%);
      height: 1.33vw;
      width: 1.33vw; }
  .sp-anchor-nav-select {
    border-bottom: 1px solid #ddd;
    display: none;
    padding: 0 8vw 8vw; }
    .sp-anchor-nav-select li {
      border-bottom: 1px solid #ddd; }
      .sp-anchor-nav-select li a {
        color: #888;
        display: block;
        padding-top: 3.73vw;
        padding-bottom: 2.67vw;
        position: relative; }
        .sp-anchor-nav-select li a:after {
          border-top: 0.53vw solid #888;
          border-right: 0.53vw solid #888;
          content: '';
          display: block;
          right: 2.67vw;
          position: absolute;
          top: 50%;
          transform: rotate(135deg) translateY(-50%);
          height: 1.33vw;
          width: 1.33vw; }
      .sp-anchor-nav-select li.current {
        border-bottom: 1px solid #38a75b; }
        .sp-anchor-nav-select li.current a {
          color: #38a75b; }
          .sp-anchor-nav-select li.current a:after {
            border-color: #38a75b; } }

/* footer
   ========================================================================== */
#foot {
  position: relative;
  margin-top: 100px; }

/* SP　固定ナビ */
@media screen and (min-width: 768px), print {
  .sp-foot-nav {
    display: none; } }

@media screen and (max-width: 767px) {
  .sp-foot-nav {
    background-color: #FFF;
    bottom: -16.27vw;
    border-top: 1px solid #ddd;
    position: fixed;
    padding-bottom: 2.67vw;
    padding-top: 2.67vw;
    text-align: center;
    height: 16.27vw;
    transition: bottom ease .5s;
    width: 100%;
    z-index: 15; }
    .sp-foot-nav.is-fixed {
      bottom: 0; }
  .gnav-open .sp-foot-nav {
    bottom: 0; }
  .sp-foot-nav-start {
    margin: 0 auto;
    width: 53.33vw; }
    .sp-foot-nav-start .btn {
      display: block; }
    .sp-foot-nav-start .btn01 {
      padding: 2.67vw 6.67vw 2.67vw 5.33vw; }
  .sp-foot-nav-pagetop {
    background-color: #f5f5f5;
    height: 16vw;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 16vw; }
    .sp-foot-nav-pagetop a {
      display: block;
      height: 100%; }
    .sp-foot-nav-pagetop span {
      position: absolute;
      left: 50%;
      top: 55%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .sp-foot-nav-pagetop span::before {
        border-top: 2px solid #38a75b;
        border-right: 2px solid #38a75b;
        content: '';
        display: block;
        height: 10px;
        width: 10px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
  .sp-foot-nav-btn {
    line-height: 1;
    position: absolute;
    left: 5.33vw;
    top: 5.33vw;
    width: 6.4vw; } }

/* さっそく、はじめましょうと商品情報
   ========================================================================== */
.start {
  background: url(/common/css/img/foot_start_bg.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  height: 400px;
  text-align: center; }
  .start .box-center {
    height: 100%;
    padding-top: 118px; }
  .start .start-ttl {
    font-size: 35px;
    font-size: 3.5rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 28px; }
  .start .start-btn .btn {
    background-color: #fff;
    color: #38a75b;
    font-weight: 700;
    min-width: 540px;
    font-size: 21px;
    font-size: 2.1rem; }
    .start .start-btn .btn.arrow01::after {
      border-color: #38a75b; }
  .start .start-label9 {
    position: absolute;
    right: 40px;
    bottom: 20px;
    text-align: right; }
    .start .start-label9 a {
      color: #fff;
      text-decoration: none !important; }
    .start .start-label9 .icon-arrow01 {
      padding-left: 19px;
      position: relative;
      text-decoration: none; }
      .start .start-label9 .icon-arrow01:before {
        border-top: 2px solid #fff !important;
        border-right: 2px solid #fff !important;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        top: 8px;
        transform: rotate(45deg);
        height: 6px;
        width: 6px; }
  @media screen and (min-width: 768px), print {
    .start .start-btn .btn:hover {
      background-color: #38a75b;
      border-color: #fff;
      color: #fff; }
      .start .start-btn .btn:hover.arrow01::after {
        border-color: #fff; } }
  @media screen and (max-width: 767px) {
    .start {
      background-image: url(/common/css/img/foot_start_bg_sp.jpg);
      height: auto;
      padding-top: 0; }
      .start .box-center {
        padding-top: 18.67vw;
        padding-bottom: 21.33vw; }
      .start .start-ttl {
        font-size: 24px;
        font-size: 2.4rem;
        text-align: center;
        margin-bottom: 5.33vw; }
      .start .start-btn .btn {
        min-width: 100%;
        font-size: 15px;
        font-size: 1.5rem; }
      .start .start-label9 {
        /*display: none;*/
        font-size: 3.47vw;
        right: 6.67vw;
        bottom: 3.2vw; }
        .start .start-label9 .icon-arrow01 {
          padding-left: 5.07vw; }
          .start .start-label9 .icon-arrow01:before {
            border-top: 0.53vw solid #fff;
            border-right: 0.53vw solid #fff;
            top: 1.87vw;
            height: 1.6vw;
            width: 1.6vw; } }

.bnr-prd {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px; }

@media screen and (max-width: 767px) {
  .bnr-prd {
    padding-bottom: 8vw;
    padding-top: 8vw; }
    .bnr-prd img {
      margin: 0 auto;
      height: auto;
      width: 94.67vw; } }

/* フッターナビ
   ========================================================================== */
.foot-nav {
  background-color: #f5f5f5;
  padding-top: 55px;
  padding-bottom: 15px; }

.foot-nav-inner {
  display: flex;
  margin-bottom: 70px; }

.foot-logo {
  width: 309px; }

.foot-nav-set {
  width: 170px; }
  .foot-nav-set.foot-nav-template {
    width: 420px; }

.foot-nav-ttl {
  line-height: 1;
  margin-bottom: 30px;
  margin-top: 40px;
  font-size: 16px;
  font-size: 1.6rem; }
  .foot-nav-ttl:first-child {
    margin-top: 0; }

.foot-nav-list li {
  font-size: 13px;
  font-size: 1.3rem; }

.foot-nav-list a {
  color: #888; }
  .foot-nav-list a:hover {
    color: #38a75b; }

.foot-nav-template .foot-nav-list {
  display: flex;
  flex-wrap: wrap; }
  .foot-nav-template .foot-nav-list li {
    width: 50%; }

.foot-nav-policy {
  position: absolute;
  right: 104px;
  bottom: calc(1.75em + 67px);
  font-size: 13px;
  font-size: 1.3rem; }
  .foot-nav-policy a {
    color: #888; }
    .foot-nav-policy a:hover {
      color: #38a75b; }

.foot-nav-copyright {
  color: #888;
  font-size: 11px;
  font-size: 1.1rem; }

.foot-logo-wrap {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px; }

.foot-logo-trademarks {
  color: #888;
  float: left;
  font-size: 13px;
  font-size: 1.3rem; }

.foot-logo-3m {
  float: right;
  text-align: right; }

@media screen and (max-width: 767px) {
  .foot-nav {
    padding-top: 8vw;
    padding-bottom: 5.33vw; }
  .foot-nav-inner {
    display: block;
    margin-bottom: 13.33vw;
    padding-left: 4vw;
    padding-right: 4vw; }
  .foot-logo {
    margin-bottom: 6.67vw;
    text-align: center;
    width: 100%; }
    .foot-logo img {
      height: auto;
      width: 47.47vw; }
  .foot-nav-set {
    border-top: 1px solid #ddd;
    width: 100%; }
    .foot-nav-set:last-child {
      border-bottom: 1px solid #ddd; }
    .foot-nav-set.foot-nav-template {
      width: 100%; }
  .foot-nav-ttl {
    font-size: 4vw;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0; }
    .foot-nav-ttl + .foot-nav-ttl {
      border-top: 1px solid #ddd; }
    .foot-nav-ttl a {
      display: block;
      padding: 4vw 4vw 4vw 8.53vw;
      position: relative; }
      .foot-nav-ttl a:before {
        border-top: 0.53vw solid #38a75b;
        border-right: 0.53vw solid #38a75b;
        content: '';
        display: block;
        left: 4vw;
        position: absolute;
        top: 50%;
        transform: rotate(45deg) translateY(-50%);
        height: 1.33vw;
        width: 1.33vw; }
  .foot-nav-list {
    display: none; }
  .foot-nav-template .foot-nav-list {
    display: none; }
  .foot-nav-policy {
    font-size: 3.2vw;
    left: 4vw;
    bottom: auto; }
  .foot-nav-copyright {
    font-size: 2.93vw;
    padding-right: 4vw;
    text-align: right; }
  .foot-logo-wrap {
    position: relative;
    padding-top: 5.33vw;
    padding-bottom: 5.33vw; }
  .foot-logo-trademarks {
    color: #888;
    float: none;
    font-size: 2.93vw;
    text-align: center; }
  .foot-logo-3m {
    float: none;
    text-align: center;
    margin-top: 4.27vw; } }

/* モバイルアプリのご案内
   ========================================================================== */
.apps-popup {
  display: none; }

@media screen and (max-width: 767px) {
  .apps-popup {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.4s ease;
    visibility: hidden;
    width: 100%;
    z-index: 1000; }
    .apps-popup.popup-open {
      opacity: 1;
      visibility: visible; }
  .apps-popup-inner {
    background: url(/common/css/img/bg_apps_popup.png) no-repeat center center;
    background-size: 100%;
    position: relative;
    width: 86.67vw;
    z-index: 5; }
  .apps-popup-inner {
    padding: 10.67vw 8vw; }
    .apps-popup-inner h2 {
      font-size: 4.53vw;
      text-align: center;
      margin-bottom: 2.67vw; }
    .apps-popup-inner p {
      font-size: 3.2vw; }
  .apps-popup-close {
    margin: 8vw auto 0;
    width: 40vw; }
    .apps-popup-close .btn01 {
      display: block; }
  .apps-popup-overlay {
    background: rgba(0, 0, 0, 0.6);
    display: none;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed; }
  .popup-open .apps-popup-overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 1; } }

/* ページトップ
   ========================================================================== */
/* ==========================================================================
   04. Parts
   ========================================================================== */
/* ボックス
   ========================================================================== */
/* センターボックス */
.box-center {
  position: relative; }
  @media screen and (min-width: 768px), print {
    .box-center {
      margin-left: auto;
      margin-right: auto;
      width: 1300px;
      padding-left: 40px;
      padding-right: 40px; } }

/* フルボックス（左右余白あり） */
.box-full {
  padding-left: 30px;
  padding-right: 30px; }
  @media screen and (max-width: 767px) {
    .box-full {
      padding-left: 2.67vw;
      padding-right: 2.67vw; } }

/* 背景色ボックス */
.box-bg01 {
  background: rgba(56, 167, 91, 0.1); }

/* 下層共通の白背景ボックス */
.cmn-sct-wrap {
  position: relative;
  z-index: 5; }

.cmn-sct {
  padding-top: 80px; }
  .cmn-sct:first-child {
    padding-top: 20px; }
  @media screen and (max-width: 767px) {
    .cmn-sct {
      padding-top: 14.67vw; }
      .cmn-sct:first-child {
        padding-top: 0; } }

#main > article {
  padding-top: 60px;
  position: relative; }
  #main > article:before {
    background-color: #FFF;
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 170px;
    max-width: 1300px;
    width: 100%; }

@media screen and (max-width: 767px) {
  #main > article {
    padding-top: 9.33vw; }
    #main > article:before {
      height: 50%;
      width: calc(100% - 20px); } }

/* 上にグレーボーダー */
.line-top {
  border-top: 1px solid #ddd; }

/* 横並びボックス */
@media screen and (min-width: 768px), print {
  .box-col2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-right: 20px; }
    .box-col2 > * {
      margin: 40px 20px 0 0;
      width: 50%; }
      .box-col2 > *:nth-child(2n) {
        margin-right: -20px; }
      .box-col2 > *:nth-child(-n+2) {
        margin-top: 0; } }

@media screen and (max-width: 767px) {
  .box-col2 > * + * {
    margin-top: 4vw; } }

@media screen and (min-width: 768px), print {
  .box-col3 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-right: 40px; }
    .box-col3 > * {
      margin: 40px 20px 0 0;
      width: 33.3333333333%; }
      .box-col3 > *:nth-child(3n) {
        margin-right: -40px; }
      .box-col3 > *:nth-child(-n+3) {
        margin-top: 0; } }

@media screen and (max-width: 767px) {
  .box-col3 > * + * {
    margin-top: 4vw; } }

@media screen and (min-width: 768px), print {
  .box-col4 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-right: 60px; }
    .box-col4 > * {
      margin: 40px 20px 0 0;
      width: 25%; }
      .box-col4 > *:nth-child(4n) {
        margin-right: -60px; }
      .box-col4 > *:nth-child(-n+4) {
        margin-top: 0; } }

@media screen and (max-width: 767px) {
  .box-col4 > * + * {
    margin-top: 4vw; } }

/* 画像・テキスト 横配置 */
@media screen and (min-width: 768px), print {
  .box-img-l,
  .box-img-r {
    display: -ms-flexbox;
    display: flex; }
    .box-img-l .box-text,
    .box-img-r .box-text {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .box-img-l.row-reverse,
    .box-img-r.row-reverse {
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; } }

@media screen and (max-width: 767px) {
  .box-img-l .box-img + .box-text,
  .box-img-l .box-text + .box-img,
  .box-img-r .box-img + .box-text,
  .box-img-r .box-text + .box-img {
    margin-top: 5.33vw; }
  .box-img-l .box-img img,
  .box-img-r .box-img img {
    height: auto;
    width: 100%; } }

@media screen and (min-width: 768px), print {
  .box-img-l .box-img {
    padding-right: 40px; } }

@media screen and (min-width: 768px), print {
  .box-img-r .box-img {
    padding-left: 40px; } }

/* ボタン
   ========================================================================== */
/* ボタンの基本スタイル */
.btn {
  border-radius: 5em;
  display: inline-block;
  line-height: 1.2;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  transition: all 0.2s ease; }
  .btn.arrow01 {
    position: relative; }
    .btn.arrow01:after {
      content: '';
      display: block;
      right: 32px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      height: 5px;
      width: 5px; }
  .btn[target="_blank"]:after {
    display: block;
    margin: 0;
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 11px; }
  @media screen and (max-width: 767px) {
    .btn.arrow01:after {
      right: 5.33vw;
      height: 1.33vw;
      width: 1.33vw; }
    .btn[target="_blank"]:after {
      right: 5.33vw;
      height: 2.4vw;
      width: 2.67vw; } }

/* スタイル別クラス */
.btn01 {
  background-color: #38a75b;
  border: 1px solid #38a75b;
  color: #fff;
  padding: 10px 20px 11px;
  font-weight: 700; }
  .btn01:visited {
    color: #fff; }
  .btn01:hover {
    background-color: #fff;
    color: #38a75b; }
    .btn01:hover.arrow01:after {
      border-color: #38a75b; }
  .btn01[target="_blank"]:after {
    background: url(/common/css/img/icon_window_w.svg) no-repeat left top;
    background-size: cover; }
  .btn01[target="_blank"]:hover:after {
    background: url(/common/css/img/icon_window_gre.svg) no-repeat left top;
    background-size: cover; }
  @media screen and (max-width: 767px) {
    .btn01 {
      padding: 2.67vw 5.33vw; } }

.btn02 {
  background-color: #38a75b;
  border: 1px solid #FFF;
  color: #fff;
  padding: 15px 20px 16px; }
  .btn02:visited {
    color: #fff; }
  .btn02.arrow01 {
    position: relative;
    padding: 15px 47px 16px; }
    .btn02.arrow01:after {
      border-top: 1px solid #FFF;
      border-right: 1px solid #FFF; }
  .btn02:hover {
    background-color: #fff;
    border: 1px solid #38a75b;
    color: #38a75b; }
    .btn02:hover.arrow01:after {
      border-color: #38a75b; }
  .btn02[target="_blank"]:after {
    background: url(/common/css/img/icon_window_gre.svg) no-repeat left top;
    background-size: cover; }
  .btn02[target="_blank"]:hover:after {
    background: url(/common/css/img/icon_window_w.svg) no-repeat left top;
    background-size: cover; }
  @media screen and (max-width: 767px) {
    .btn02 {
      padding: 2.67vw 5.33vw; }
      .btn02.arrow01 {
        padding: 2.93vw 9.33vw 3.2vw; } }

.btn03 {
  background-color: #FFF;
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
  padding: 15px 47px 16px; }
  .btn03:visited {
    color: #1a1a1a; }
  .btn03.arrow01 {
    border-color: #1a1a1a;
    position: relative; }
    .btn03.arrow01:after {
      border-width: 2px;
      border-top: 1px solid #1a1a1a;
      border-right: 1px solid #1a1a1a; }
  .btn03:hover {
    background: rgba(56, 167, 91, 0.1);
    color: #1a1a1a; }
  .btn03.back.arrow01:after {
    right: auto;
    left: 32px;
    transform: translateY(-50%) rotate(-135deg); }
  @media screen and (max-width: 767px) {
    .btn03 {
      padding: 2.93vw 9.33vw 3.2vw; }
      .btn03.arrow01 {
        padding: 2.93vw 9.33vw 3.2vw; } }

.btn04 {
  background-color: #FFF;
  border: 1px solid #38a75b;
  color: #38a75b;
  padding: 15px 20px 16px; }
  .btn04:visited {
    color: #38a75b; }
  .btn04.arrow01 {
    border-color: #38a75b;
    position: relative;
    padding: 15px 47px 16px; }
    .btn04.arrow01:after {
      border-width: 2px;
      border-top: 1px solid #38a75b;
      border-right: 1px solid #38a75b; }
  .btn04:hover {
    background-color: #38a75b;
    color: #FFF; }
    .btn04:hover.arrow01 {
      border-color: #FFF; }
      .btn04:hover.arrow01:after {
        border-color: #FFF; }
  .btn04.back.arrow01:after {
    right: auto;
    left: 32px;
    transform: translateY(-50%) rotate(-135deg); }
  @media screen and (max-width: 767px) {
    .btn04 {
      padding: 2.67vw 5.33vw; }
      .btn04.arrow01 {
        padding: 2.93vw 9.33vw 3.2vw; } }

/* センターボタン */
.btn-center {
  margin-top: 80px;
  text-align: center; }
  .btn-center .btn {
    min-width: 450px;
    font-size: 18px;
    font-size: 1.8rem; }
  @media screen and (max-width: 767px) {
    .btn-center {
      margin-top: 10.67vw; }
      .btn-center .btn {
        font-size: 4.27vw;
        min-width: 90%; } }

/* ボタンレイアウト */
.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 40px 0; }
  .btn-list li {
    padding: 0 10px;
    width: 40%; }
    .btn-list li:nth-child(n+3) {
      margin-top: 20px; }
  @media screen and (max-width: 767px) {
    .btn-list {
      display: block;
      margin: 10.67vw 0; }
      .btn-list li {
        padding: 0;
        width: 100%; }
        .btn-list li + li {
          margin-top: 2.67vw !important; } }

/* フォーム
   ========================================================================== */
form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  color: #bababa; }

form input::-moz-placeholder,
form textarea::-moz-placeholder {
  color: #bababa; }

form input:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
  color: #bababa; }

form input::-ms-clear {
  visibility: hidden; }

form input::-ms-reveal {
  visibility: hidden; }

form textarea {
  resize: vertical; }

select::-ms-expand {
  background-color: transparent;
  border: 0;
  display: none; }

/* フォームアイテム
   ----------------------------------------------------------------------- */
.form-item, .form-btn a,
.form-btn button,
.form-btn input {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.form-item {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ddd;
  color: #1a1a1a;
  display: block;
  font-family: "source-han-sans-japanese", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif !important;
  line-height: 1.5;
  min-height: 41px;
  padding: 6px 20px 9px;
  -webkit-transition: border-color 0.2s ease, box-shadow 0.2s ease;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
  font-size: 13px;
  font-size: 1.3rem; }
  .form-item:focus {
    border-color: #fff;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  @media screen and (max-width: 767px) {
    .form-item {
      min-height: 12.27vw;
      padding: 2.4vw 3.47vw 2.13vw;
      font-size: 4.27vw; } }

select.form-item {
  background: #fff url(img/bg_select.png) no-repeat right center;
  background-size: contain;
  padding-right: 30px !important; }
  @media screen and (max-width: 767px) {
    select.form-item {
      padding-right: 8vw !important; } }

.form-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1rem; }
  .form-inline:last-child {
    margin-right: 0; }
  .form-inline label {
    display: inline-block;
    padding-left: .25rem; }

/* フォームボタン
   ----------------------------------------------------------------------- */
.form-btn {
  text-align: center; }
  .form-btn a,
  .form-btn button,
  .form-btn input {
    cursor: pointer;
    font-family: "source-han-sans-japanese", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif !important;
    width: 100%; }
  @media screen and (min-width: 768px), print {
    .form-btn {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      margin: 60px auto; }
      .form-btn li {
        padding: 0 10px;
        width: 40%; } }
  @media screen and (max-width: 767px) {
    .form-btn {
      margin: 16vw auto; }
      .form-btn li + li {
        margin-top: 2.67vw; } }

.form-btn-submit,
.form-btn-srch {
  background-color: #38a75b;
  border: 1px solid #38a75b;
  color: #FFF;
  cursor: pointer;
  transition: background-color ease .2s;
  font-weight: 700; }
  .form-btn-submit:hover,
  .form-btn-srch:hover {
    background-color: #FFF;
    color: #38a75b; }
  @media screen and (max-width: 767px) {
    .form-btn-submit,
    .form-btn-srch {
      font-size: 4.27vw;
      display: block;
      margin: 4vw auto 0 !important;
      width: 50%; } }

.form-btn-srch {
  padding: 10px 30px 10px 18px; }
  .form-btn-srch path {
    color: #FFF;
    fill: currentColor;
    transition: all .2s ease; }
  .form-btn-srch:hover path {
    color: #38a75b;
    fill: currentColor; }
  @media screen and (max-width: 767px) {
    .form-btn-srch {
      padding: 1.33vw 2.67vw; } }

.form-btn-srch-icon {
  margin-right: 8px;
  vertical-align: middle;
  width: 12px; }
  .form-btn-srch-icon svg {
    height: auto;
    width: 12px; }

/* アイコン
   ========================================================================== */
/*

icomoonを使用する場合はコメントアウトを外してください

@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/icomoon.eot?n6dhp8');
  src: url('fonts/icomoon.eot?n6dhp8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?n6dhp8') format('truetype'),
    url('fonts/icomoon.woff?n6dhp8') format('woff'),
    url('fonts/icomoon.svg?n6dhp8#icomoon') format('svg');
}

[class*=" icon-"],
[class^="icon-"] {
  &::before {
    color: $color-link;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

*/
/* テキストの頭に矢印アイコン */
#main .icon-arrow01 {
  padding-left: 19px;
  position: relative;
  text-decoration: none; }
  #main .icon-arrow01:before {
    border-top: 2px solid #38a75b;
    border-right: 2px solid #38a75b;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 8px;
    transform: rotate(45deg);
    height: 6px;
    width: 6px; }

#main .icon-arrow02 {
  padding-left: 19px;
  position: relative;
  text-decoration: none; }
  #main .icon-arrow02:before {
    border-top: 2px solid #FFF;
    border-right: 2px solid #FFF;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 8px;
    transform: rotate(45deg);
    height: 6px;
    width: 6px; }

@media screen and (max-width: 767px) {
  #main .icon-arrow01 {
    padding-left: 5.07vw; }
    #main .icon-arrow01:before {
      border-top: 0.53vw solid #38a75b;
      border-right: 0.53vw solid #38a75b;
      top: 1.87vw;
      height: 1.6vw;
      width: 1.6vw; }
  #main .icon-arrow02 {
    padding-left: 19px;
    position: relative;
    text-decoration: none; }
    #main .icon-arrow02:before {
      border-top: 2px solid #FFF;
      border-right: 2px solid #FFF;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      top: 8px;
      transform: rotate(45deg);
      height: 6px;
      width: 6px; } }

/* リンク
   ========================================================================== */
/* 新規ウィンドウ */
a[target="_blank"]::after {
  background: url(img/icon_window.svg) no-repeat left top;
  background-size: cover;
  content: '';
  display: inline-block;
  margin: 0 5px;
  width: 10px;
  height: 9px;
  vertical-align: middle; }

a[target="_blank"].no-icon:after {
  display: none; }

/* PDF */
a[href$=".pdf"]::after {
  background: url(img/icon_pdf.svg) no-repeat left top;
  display: inline-block;
  margin: 0 5px;
  width: 1.2em;
  height: 1.2em;
  vertical-align: text-bottom; }

@media screen and (max-width: 767px) {
  a[target="_blank"]::after {
    margin: 0 1.33vw;
    width: 2.67vw;
    height: 2.4vw; }
  a[href$=".pdf"]::after {
    margin: 0 1.33vw;
    width: 4.8vw;
    height: 4.53vw; } }

/* リスト
   ========================================================================== */
/* 黒丸付きリスト */
.list-disc {
  margin-left: 0.5em; }
  .list-disc > li {
    /*list-style-type: disc;*/
    padding-left: 1em;
    text-indent: -1em; }
    .list-disc > li:last-child {
      margin-bottom: 0; }
    .list-disc > li:before {
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 2px;
      background-color: #1a1a1a;
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.6em; }
  @media screen and (max-width: 767px) {
    .list-disc li {
      margin-bottom: 2.67vw; } }

/* 番号付きリスト */
.list-decimal {
  margin-left: 1.5em; }
  .list-decimal > li {
    list-style-type: decimal;
    margin-bottom: 10px; }
    .list-decimal > li:last-child {
      margin-bottom: 0; }
  @media screen and (max-width: 767px) {
    .list-decimal li {
      margin-bottom: 2.67vw; } }

/* 注釈リスト */
.list-note > li {
  color: #888;
  margin-left: 1em;
  text-indent: -1em; }

/* 三角アイコンリスト */
.list-arrow-link {
  margin-top: 25px; }
  .list-arrow-link li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative; }
    .list-arrow-link li:last-child {
      margin-bottom: 0; }
    .list-arrow-link li:after {
      border-top: 2px solid #38a75b;
      border-right: 2px solid #38a75b;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      top: .75em;
      transform: rotate(45deg);
      height: 6px;
      width: 6px; }
  .list-arrow-link a {
    text-decoration: none !important; }

/* テンプレートのリスト */
.temp-item-nav {
  display: flex;
  flex-wrap: wrap; }
  .temp-item-nav li {
    min-height: 57px;
    margin-bottom: 28px;
    width: 25%;
    font-size: 16px;
    font-size: 1.6rem; }
    .temp-item-nav li a {
      display: flex;
      align-items: center;
      text-decoration: none !important;
      height: 100%; }
      .temp-item-nav li a:hover .item-nav-icon-img {
        transform: scale(1.2); }

.item-nav-icon-img,
.item-nav-name {
  display: inline-block; }

.item-nav-icon-img {
  text-align: center;
  transition: transform .2s ease;
  height: 68px;
  width: 68px; }
  .item-nav-icon-img path {
    transition: all .2s ease; }

.temp-item-nav a .de-svg path,
.temp-item-nav a .de-svg rect,
.temp-item-nav a .de-svg polygon {
  color: #38a75b;
  fill: #959595; }

.temp-item-nav a:hover .de-svg path,
.temp-item-nav a:hover .de-svg rect,
.temp-item-nav a:hover .de-svg polygon {
  color: #38a75b;
  fill: currentColor; }

.item-nav-name {
  padding-left: 16px; }

@media screen and (max-width: 767px) {
  .temp-item-nav li {
    font-size: 3.73vw;
    line-height: 1.4;
    min-height: auto;
    margin-bottom: 7.47vw;
    width: 50%; }
    .temp-item-nav li a {
      display: flex;
      align-items: center;
      height: 100%; }
      .temp-item-nav li a:hover .item-nav-icon-img {
        transform: scale(1.2); }
  .item-nav-icon-img,
  .item-nav-name {
    display: inline-block; }
  .item-nav-name {
    padding-left: 2.13vw; }
  .item-nav-icon-img {
    height: 9.6vw !important;
    width: 9.6vw !important; } }

/* ボックスリスト */
.list-box-link {
  display: flex;
  flex-wrap: wrap; }
  .list-box-link li {
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 313px; }
    .list-box-link li:nth-child(3n) {
      margin-right: 0; }
  .list-box-link a {
    background-color: #f5f5f5;
    border-bottom: 3px solid #38a75b;
    display: block;
    padding: 26px 0;
    text-decoration: none !important; }

@media screen and (max-width: 767px) {
  .list-box-link {
    display: block; }
    .list-box-link li {
      margin-right: 0;
      margin-bottom: 4vw;
      width: 100%; }
    .list-box-link a {
      border-bottom: 0.8vw solid #38a75b;
      padding: 4vw 0; } }

/* 質問リスト */
.list-q {
  margin-top: -20px; }
  .list-q li {
    border-bottom: 1px solid #ddd;
    position: relative;
    padding: 27px 0 5px 36px;
    font-size: 13px;
    font-size: 1.3rem; }
  .list-q a {
    text-decoration: none !important; }
  .list-q .font-eng-b {
    color: #888;
    position: absolute;
    left: 5px;
    top: 19px;
    font-size: 20px;
    font-size: 2rem; }

@media screen and (max-width: 767px) {
  .list-q {
    margin-top: -5.33vw; }
    .list-q li {
      font-size: 3.2vw;
      padding: 7.2vw 0 1.33vw 8vw; }
    .list-q .font-eng-b {
      font-size: 4.8vw;
      left: 1.33vw;
      top: 5.87vw; } }

/* Movie
   ========================================================================== */
#movie-popup {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease;
  visibility: hidden;
  z-index: 1000; }
  #movie-popup.-visible {
    opacity: 1;
    visibility: visible; }
    #movie-popup.-visible #movie-popup-yt {
      opacity: 1;
      transform: scale(1) translate(0, 0) skew(0deg, 0deg); }

#movie-popup-yt {
  opacity: 0;
  transition: opacity 0.8s ease 0.4s, transform 0.8s ease 0.4s;
  transform: scale(1.1) translate(100px, 100px) skew(0deg, -5deg); }

.movie-popup-close {
  border: 1px solid #fff;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  position: fixed;
  right: 30px;
  top: 30px;
  cursor: pointer;
  transition: transform 0.4s ease; }
  .movie-popup-close:hover {
    transform: scale(0.9); }
  .movie-popup-close::after, .movie-popup-close::before {
    background-color: #fff;
    content: '';
    display: block;
    height: 1px;
    width: 30px;
    position: absolute;
    left: 50%;
    top: 50%; }
  .movie-popup-close::before {
    transform: translate(-50%, -50%) rotate(45deg); }
  .movie-popup-close::after {
    transform: translate(-50%, -50%) rotate(-45deg); }

@media screen and (max-width: 767px) {
  #movie-popup-yt {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    transform: scale(1.1) translate(0, 10.67vw) skew(0deg, -5deg); }
    #movie-popup-yt iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
  .movie-popup-close {
    border-radius: 6.67vw;
    height: 13.33vw;
    width: 13.33vw;
    right: 5.33vw;
    top: 5.33vw; }
    .movie-popup-close::before, .movie-popup-close::after {
      height: 1px;
      width: 6.67vw; } }

/* ページャー
   ========================================================================== */
.pagination {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1;
  margin: 50px auto;
  text-align: center; }
  .pagination li {
    margin: 10px;
    min-width: 3em; }
  .pagination a {
    background-color: #fafafa;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
    position: relative;
    text-decoration: none;
    transition: background-color 0.2s ease; }
    .pagination a:hover {
      text-decoration: underline; }
  .pagination .pagination-item-active {
    background-color: #f5f5f5;
    font-weight: bold; }
    .pagination .pagination-item-active a {
      pointer-events: none; }
  .pagination .pagination-item-first a,
  .pagination .pagination-item-last a,
  .pagination .pagination-item-prev a,
  .pagination .pagination-item-next a {
    background-color: #eee; }
  @media screen and (max-width: 767px) {
    .pagination li {
      margin: 1.33vw;
      font-size: 12px;
      font-size: 1.2rem; }
    .pagination a {
      padding: 2.67vw 1.33vw; } }

/* テーブル
   ========================================================================== */
.tbl01 {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 100%; }
  .tbl01 th, .tbl01 td {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 15px 20px; }
  .tbl01 th {
    color: #888;
    font-weight: 500;
    text-align: left; }
    .tbl01 th[scope="row"] {
      width: 25%; }
  .tbl01 td {
    color: #888; }
  .tbl01 .th-head {
    background-color: #ebf6ee;
    color: #1a1a1a;
    text-align: center;
    font-size: 15px;
    font-size: 1.5rem; }

.w20 {
  width: 20%; }

@media screen and (max-width: 767px) {
  .tbl01 th, .tbl01 td {
    font-size: 3.47vw;
    padding: 1.87vw 4vw; }
  .tbl01 .th-head {
    font-size: 3.73vw; }
  .sp-tbl-vertical .th-head {
    display: none; }
  .sp-tbl-vertical th,
  .sp-tbl-vertical td {
    display: block;
    width: 100% !important; }
  .sp-tbl-vertical th[scope="row"] {
    background-color: #ebf6ee;
    color: #1a1a1a;
    text-align: center; } }

/* スクロール テーブル
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
.tbl-scroll-wrap:not(:last-child) {
  margin-bottom: 1em; }

.tbl-scroll-wrap .tbl-scroll-inner {
  overflow-x: auto; }
  .tbl-scroll-wrap .tbl-scroll-inner:-webkit-scrollbar {
    display: none; }

.tbl-scroll-wrap .tbl-scroll {
  -webkit-overflow-scrolling: touch;
  min-width: 100%; }

@media screen and (max-width: 767px) {
  .tbl-scroll-note {
    color: #888;
    font-size: 3.47vw;
    text-align: center;
    margin-bottom: 1.33vw; }
  .tbl-scroll-wrap {
    transform: scale(1, -1); }
    .tbl-scroll-wrap .tbl-scroll {
      margin-bottom: 10px;
      min-width: 170%;
      transform: scale(1, -1); }
  .tbl-scroll-inner::-webkit-scrollbar {
    height: 8px; }
  .tbl-scroll-inner::-webkit-scrollbar-track {
    background: #ddd; }
  .tbl-scroll-inner::-webkit-scrollbar-thumb {
    background: #38a75b; } }

/* タイトル
   ========================================================================== */
/* ページタイトル */
.main-ttlwrap {
  text-align: center; }

.main-ttl-label {
  background-color: #38a75b;
  color: #FFF;
  display: inline-block;
  letter-spacing: .05em;
  line-height: 1;
  padding: 7px 38px 7px 37px;
  position: relative;
  font-size: 18px;
  font-size: 1.8rem;
  font-family: century-gothic, sans-serif;
  font-weight: 700; }
  .main-ttl-label:before, .main-ttl-label:after {
    bottom: -14px;
    right: -3px;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    transform-origin: center top;
    width: 0; }
  .main-ttl-label:before {
    background-color: #FFF;
    border: 11px solid transparent;
    border-top: 11px solid #FFF;
    transform: rotate(-45deg); }
  .main-ttl-label:after {
    border: 11px solid transparent;
    border-top: 11px solid #7ec694;
    transform: rotate(135deg); }
  .main-ttl-label span {
    display: inline-block; }
    .main-ttl-label span:before {
      border: 11px solid transparent;
      border-top: 11px solid #278847;
      transform: rotate(-45deg);
      bottom: -22px;
      right: 9px;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      transform-origin: left top;
      width: 0; }

.main-ttl {
  line-height: 1.2;
  margin-top: 23px;
  font-weight: 700;
  font-size: 50px;
  font-size: 5rem; }

.main-ttl-icon {
  vertical-align: sub; }
  .main-ttl-icon .main-ttl-icon-img {
    height: 61px;
    width: 61px; }
  .main-ttl-icon .de-svg path {
    color: #1a1a1a;
    fill: currentColor; }

.main-ttl-lead {
  margin-top: 60px;
  margin-bottom: 50px; }
  .main-ttl-lead.cmn-ttl-lead {
    margin-top: 20px;
    font-size: 16px;
    font-size: 1.6rem; }

@media screen and (max-width: 767px) {
  .main-ttl-label {
    font-size: 3.2vw;
    padding: 1.87vw 10.13vw 1.87vw 9.87vw; }
  .main-ttl {
    font-size: 7.2vw;
    margin-top: 6.13vw;
    padding-left: 5.33vw;
    padding-right: 5.33vw; }
  .main-ttl-icon .main-ttl-icon-img {
    height: 10.67vw;
    width: 10.67vw; }
  .main-ttl-lead {
    font-size: 3.47vw;
    text-align: left;
    margin-top: 8vw;
    margin-bottom: 13.33vw;
    padding-left: 5.33vw;
    padding-right: 5.33vw; }
    .main-ttl-lead.cmn-ttl-lead {
      font-size: 3.73vw;
      margin-top: 5.33vw; } }

/* タイトル01*/
.ttl01 {
  color: #38a75b;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 30px;
  font-size: 3rem; }
  .ttl01 span {
    border-bottom: 2px solid #38a75b;
    display: inline-block;
    position: relative; }
    .ttl01 span:after {
      background-color: #38a75b;
      content: '';
      display: block;
      position: absolute;
      right: -19px;
      bottom: 6px;
      height: 2px;
      width: 23px;
      transform: rotate(-45deg); }

.ttl01-lead {
  color: #a1a1a1;
  text-align: center;
  margin-bottom: 67px;
  margin-top: 40px; }

@media screen and (max-width: 767px) {
  .ttl01 {
    font-size: 5.33vw;
    margin-top: 9.87vw;
    margin-bottom: 5.33vw; }
  .ttl01-lead {
    margin-bottom: 8.8vw;
    margin-top: 5.33vw;
    padding-left: 5.33vw;
    padding-right: 5.33vw; } }

/* タイトル02 */
.ttl02 {
  color: #38a75b;
  line-height: 1.25;
  margin-bottom: 40px;
  position: relative;
  font-size: 30px;
  font-size: 3rem; }
  .ttl02:after {
    background-color: #ddd;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%; }
  .ttl02 span {
    background-color: #FFF;
    padding-right: 30px;
    position: relative;
    z-index: 5; }

@media screen and (max-width: 767px) {
  .ttl02 {
    font-size: 5.87vw;
    margin-bottom: 8vw;
    padding-bottom: 2.67vw; }
    .ttl02:after {
      bottom: 0;
      top: auto;
      transform: none; }
    .ttl02 span {
      padding-right: 0; } }

/* タイトル03 */
.ttl03 {
  background: url(img/icon_ttl03.png) no-repeat left 6px;
  background-size: 11px auto;
  line-height: 1.25;
  margin-bottom: 20px;
  margin-top: 50px;
  padding-left: 20px;
  font-size: 18px;
  font-size: 1.8rem; }

@media screen and (max-width: 767px) {
  .ttl03 {
    background-size: 2.4vw auto;
    font-size: 4vw;
    margin-bottom: 4vw;
    margin-top: 8vw;
    padding-left: 4.8vw; } }

/* パンくずリスト
   ========================================================================== */
.topicpath {
  position: absolute;
  width: 100%;
  z-index: 5; }
  .topicpath li {
    display: inline-block;
    list-style-type: none;
    font-size: 12px;
    font-size: 1.2rem; }
    .topicpath li + li {
      padding-left: 16px; }
      .topicpath li + li::before {
        border-right: 1px solid #FFF;
        border-top: 1px solid #FFF;
        content: '';
        display: inline-block;
        height: 5px;
        width: 5px;
        margin-right: 16px;
        position: relative;
        top: -1px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
    .topicpath li a,
    .topicpath li a:visited,
    .topicpath li a:hover {
      color: #FFF; }
    .topicpath li a:hover {
      text-decoration: underline; }
    .topicpath li:last-child a {
      color: rgba(255, 255, 255, 0.6);
      pointer-events: none;
      text-decoration: none; }
    .topicpath li:first-child a {
      background: url(img/topicpath_home02.png) no-repeat left top;
      background-size: 14px auto;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      width: 14px;
      height: 10px;
      display: block; }
  @media screen and (min-width: 768px), print {
    .topicpath {
      max-width: 1300px;
      left: 50%;
      top: 25px;
      transform: translateX(-50%); } }
  @media screen and (max-width: 767px) {
    .topicpath {
      position: absolute;
      left: 0;
      top: 0;
      padding: 4vw 2.67vw; }
      .topicpath a {
        color: #FFF; }
      .topicpath li {
        font-size: 2.67vw; }
        .topicpath li:first-child a {
          background-size: 3.73vw;
          width: 3.73vw;
          height: 2.67vw; }
        .topicpath li + li::before {
          height: 1.33vw;
          width: 1.33vw;
          margin-right: 2.67vw; } }

@media screen and (max-width: 767px) {
  .has-side .topicpath {
    top: 13.07vw; } }

.bg-img .topicpath li a,
.bg-img .topicpath li a:visited,
.bg-img .topicpath li a:hover {
  color: #1a1a1a; }

.bg-img .topicpath li::before {
  border-right: 1px solid #38a75b;
  border-top: 1px solid #38a75b; }

.bg-img .topicpath li:first-child a {
  background: url(img/topicpath_home01.png) no-repeat left top;
  background-size: 14px auto; }

.bg-img .topicpath li:last-child a {
  color: rgba(26, 26, 26, 0.6); }

/* Webフォント
   ========================================================================== */
.noto-m {
  font-weight: 500; }

.noto-b {
  font-weight: 700; }

.font-eng-m {
  font-family: century-gothic, sans-serif;
  font-weight: 400; }

.font-eng-b {
  font-family: century-gothic, sans-serif;
  font-weight: 700; }

/* その他パーツ
   ========================================================================== */
/* 電話番号リンク */
@media screen and (min-width: 768px), print {
  .tel-linktext {
    pointer-events: none;
    text-decoration: none; } }

/* 画像を幅100%にする */
img.img-full {
  max-width: 100%;
  width: 100%;
  height: auto; }

/* object fit image */
img.img-ofi-cover,
img.img-ofi-contain {
  width: 100%;
  height: 100%; }

img.img-ofi-cover {
  object-fit: cover;
  font-family: 'object-fit: cover;'; }

img.img-ofi-contain {
  object-fit: contain;
  font-family: 'object-fit: contain;'; }

/* sticky */
.sticky {
  position: -webkit-sticky;
  position: sticky; }
  .sticky.sticky-fixed.is-sticky {
    position: fixed;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden; }
  .sticky.sticky-fixed.is-sticky:not([style*="margin-top"]) {
    margin-top: 0 !important; }
  .sticky.sticky-fixed.is-sticky:not([style*="margin-bottom"]) {
    margin-bottom: 0 !important; }
  .sticky.sticky-fixed.is-absolute {
    position: absolute; }
