@charset "UTF-8";


/* ==========================================================================
   02. Base
   ========================================================================== */
html {
  color: #1a1a1a;
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
  font-family: "source-han-sans-japanese", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 140%;
  font-weight: 500;
}

body * {
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

#main {
  display: block;
}

/* link
   ========================================================================== */
a {
  -webkit-transition: color .2s ease;
  color: #1a1a1a;
  text-decoration: none;
  transition: color .2s ease;
}

a:visited {
  color: #1a1a1a;
  text-decoration: none;
}

a:hover {
  color: #38a75b;
}

#main a {
  text-decoration: underline;
}

/* image
   ========================================================================== */
img {
  height: auto;
  line-height: 1;
  max-width: 100%;
  vertical-align: top;
}

table th img,
table td img {
  vertical-align: middle;
}

/* form
   ========================================================================== */
input,
textarea,
label {
  vertical-align: middle;
}
