@charset "UTF-8";


/* copy from /sence/style.css
  ========================================================================== */
.easy-sct {
  border-bottom: 1px solid #ddd;
  padding-bottom: 50px;
  padding-top: 50px; }
  .easy-sct:first-child {
    padding-top: 0; }
  .easy-sct:last-child {
    border-bottom: none;
    padding-bottom: 0; }

.easy-sct-inner {
  display: flex; }

.easy-sct-img {
  width: 550px; }

.easy-sct-text {
  margin-left: 60px;
  width: 610px; }
  .easy-sct-text p {
    color: #888;
    margin-bottom: 20px; }

.easy-sct-text .easy-sct-cate {
  font-size: 18px;
  font-size: 1.8rem;
  color: #38a75b;
  font-weight: 700;
  margin-bottom: 10px;
  padding-left: 23px;
  position: relative; }
  .easy-sct-text .easy-sct-cate:before {
    background: #38a75b;
    border-bottom: 2px solid #278746;
    content: '';
    display: block;
    height: 2px;
    width: 15px;
    position: absolute;
    left: 0;
    top: 16px; }

@media screen and (max-width: 767px) {
  .easy-sct-text .easy-sct-cate {
    font-size: 4.27vw; }
    .easy-sct-text .easy-sct-cate:before {
      top: 3.47vw; } }
.easy-sct-ttl {
  line-height: 1.5;
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 24px;
  font-size: 2.4rem; }

.easy-sct-link {
  display: flex;
  margin-top: 32px; }
  .easy-sct-link .btn {
    padding: 10px 47px 10px;
    font-size: 13px;
    font-size: 1.3rem; }
    .easy-sct-link .btn:after {
      border-width: 1px;
      right: 15px; }
  .easy-sct-link li {
    margin-right: 14px; }
    .easy-sct-link li:last-child {
      margin-right: 0; }

@media screen and (max-width: 767px) {
  .easy-sct {
    padding-bottom: 6.67vw;
    padding-top: 6.67vw; }
    .easy-sct:first-child {
      padding-top: 0; }
    .easy-sct:last-child {
      padding-bottom: 0; }

  .easy-sct-inner {
    display: block; }

  .easy-sct-img {
    margin-bottom: 5.33vw;
    width: 100%; }
    .easy-sct-img img {
      height: auto;
      width: 100%; }
    .easy-sct-img img + img {
      margin-top: 1em; }

  .easy-sct-text {
    margin-left: 0;
    width: 100%; }
    .easy-sct-text p {
      margin-bottom: 2.67vw; }

  .easy-sct-ttl {
    font-size: 5.33vw;
    margin-bottom: 3.47vw; }

  .easy-sct-link {
    display: block;
    margin-top: 8vw; }
    .easy-sct-link .btn {
      display: block;
      padding: 2.67vw 12.53vw;
      font-size: 3.47vw; }
      .easy-sct-link .btn:after {
        right: 4vw; }
    .easy-sct-link li {
      margin-right: 0;
      margin-bottom: 2.67vw; }
      .easy-sct-link li:last-child {
        margin-bottom: 0; } 
}



/* add | かんたんマニュアル追加指定
 -------------------------------------------------------------------------- */


  #easy-mobile .easy-sct-img img,
  #easy-entry .easy-sct-img img {
    border: 2px solid #ddd }


@media screen and (min-width: 767px) {
  #easy-mobile .easy-sct-img img{
    width: 49%; }
  #easy-mobile .easy-sct-img img + img {
    margin-left: 1%; }
}


  /* 画像アドレス指定 上書き ■ ■ 本番公開時 コメントアウト
   ------------------------------ 
  body.cat_easy .topicpath li:first-child a {
    background-image: url(../common/css/img/topicpath_home02.png);
  }
  body.cat_easy .start {
    background-image: url(../common/css/img/foot_start_bg.jpg);
  }
  @media screen and (max-width: 767px){
    body.cat_easy .start {
      background-image: url(../common/css/img/foot_start_bg_sp.jpg);
    }
  }
  body.cat_easy .bg-img .topicpath li:first-child a {
    background-image: url(../common/css/img/topicpath_home01.png);
  }
  body.cat_easy .apps-popup-inner {
    background-image: url(../common/css/img/bg_apps_popup.png);
  }
  body.cat_easy select.form-item {
    background-image: url(../common/css/img/bg_select.png);
  }
   */


  /* サイドメニュー 突き抜け対応
   ------------------------------ */
  .main-cont {
    z-index: 1;
    background-color: #fff;
  }


  .main-ttl-label span {
    text-transform: uppercase;
  }
  .main-ttl span{
    display: block;
    margin-bottom: 0.2em;
    font-size: 50%;
  }

  .easy-sct-img{
    width: 450px;
    height: auto;
  }
  .easy-sct-text {
      margin-left: 30px;
      width: 500px;
  }

  .side-anchor .side-nav{
    position: static;
  }


  /* サイドメニュー 長いページ名対応
   ------------------------------ 
  */
  .side-nav li:nth-child(4) a span,
  .side-nav li:nth-child(3) a span{
    font-size: 95%;
  }


  /* サイドメニュー カレント表示
   ------------------------------ 
   色を緑にして、矢印を右に伸ばす  */

  /* 基本操作編 */
  #easy-basic .side-nav li:nth-child(1) a{
    color: #38a75b;
  }
    #easy-basic .side-nav li:nth-child(1) a:before{
      border-color: #38a75b;
      right: 5px; 
    }
    #easy-basic .side-nav li:nth-child(1) a:after{
      width: 18px; 
      background-color: #38a75b;
      right: 5px; 
    }

  /* 差し込み印刷編 */
  #easy-pouring .side-nav li:nth-child(2) a{
    color: #38a75b;
  }
    #easy-pouring .side-nav li:nth-child(2) a:before{
      border-color: #38a75b;
      right: 5px; 
    }
    #easy-pouring .side-nav li:nth-child(2) a:after{
      width: 18px; 
      background-color: #38a75b;
      right: 5px; 
    }

  /* 基本操作 モバイル編 */
  #easy-mobile .side-nav li:nth-child(3) a{
    color: #38a75b;
  }
    #easy-mobile .side-nav li:nth-child(3) a:before{
      border-color: #38a75b;
      right: 5px; 
    }
    #easy-mobile .side-nav li:nth-child(3) a:after{
      width: 18px; 
      background-color: #38a75b;
      right: 5px; 
    }

  /* ユーザー登録の流れ */
  #easy-entry .side-nav li:nth-child(4) a{
    color: #38a75b;
  }
    #easy-entry .side-nav li:nth-child(4) a:before{
      border-color: #38a75b;
      right: 5px; 
    }
    #easy-entry .side-nav li:nth-child(4) a:after{
      width: 18px; 
      background-color: #38a75b;
      right: 5px; 
    }


    @media screen and (min-width: 768px), print{
    .easy-sct-inner.box-center {
        padding-left: 0px;
    }
    }






  /* 数字リスト 丸数字化 
   ------------------------------ */
  section.cmn-sct-wrap section{
    margin-bottom: 50px;
    border-bottom: 1px solid #dddddd;
  }
    section.cmn-sct-wrap section > div{
      padding-bottom: 50px;
    }
  .cmn-sct-wrap .easy-sct section:last-child {
    border-bottom: 0 none transparent;
    margin-bottom: 0;
  }
    .cmn-sct-wrap .easy-sct section:last-child > div:last-child{
      padding-bottom: 0;
    }

  section/*.cmn-sct-wrap section > div h4,*/
  section.cmn-sct-wrap section > div h5{
    color: #38a75b;
  }

  section.cmn-sct-wrap section > div ul{
    padding-left: 1.2em;
    margin-bottom: 0.8em;
  }

  /* 数字リスト 丸数字化 
   ------------------------------ */
  section.cmn-sct-wrap section > div ol {
    list-style: none;
    margin-bottom: 0.8em;
    /* ol ごとに数字をリセット */
    counter-reset: my-counter;
  }
  /* 1 以外からolが始まる場合、リセットしない */
  section.cmn-sct-wrap section > div ol[start] {
    counter-reset: none;
  }
  section.cmn-sct-wrap section > div ol[start="2"] { counter-reset: my-counter 1; }
  section.cmn-sct-wrap section > div ol[start="3"] { counter-reset: my-counter 2; }
  section.cmn-sct-wrap section > div ol[start="4"] { counter-reset: my-counter 3; }
  section.cmn-sct-wrap section > div ol[start="5"] { counter-reset: my-counter 4; }
  section.cmn-sct-wrap section > div ol[start="6"] { counter-reset: my-counter 5; }

    section.cmn-sct-wrap section > div ol li {
      position: relative;
      padding-left: 1.5em;
    }
      section.cmn-sct-wrap section > div ol li:before {
        display: inline-block;
        width:       1.23em;
        height:      1.23em;
        line-height: 1.1em;
        margin-left: -1.5em;
        margin-right: 0.4em;
        /*color: #c00;*/
        /*border: solid 1px #c00;*/
        border: solid 1px #999;
        border-radius: 50%;
        font-size: 90%;
        text-align: center;
        /*vertical-align: middle;*/

        content: counter(my-counter);
        counter-increment: my-counter;
      }

  /* 文字装飾
   ------------------------------ */
  section.cmn-sct-wrap section h5 {
    color: #38a75b;
  }
  section.cmn-sct-wrap section em {
    display: inline-block;
    /*padding: 0.8em 0;*/
    font-style: normal;
    font-size: 90%;
    line-height: 1.4em;
  }
  section.cmn-sct-wrap section strong {
    color: #494949;
  }
  /*.easy-sct-text p {*/
  .easy-sct-text ul,
  .easy-sct-text ol,
  .easy-sct-text div
  {
    color: #666;
  }


/* add | かんたんマニュアル追加指定: モバイル表示 
 -------------------------------------------------------------------------- */
 @media screen and (max-width: 767px){


  /* モバイルメニュー カレント表示 */

  /* 基本操作編 */
  #easy-basic .sp-anchor-nav-select li:nth-child(1){
    border-bottom: 1px solid #38a75b;
  }
    #easy-basic .sp-anchor-nav-select li:nth-child(1) a{
      color: #38a75b;
    }
      #easy-basic .sp-anchor-nav-select li:nth-child(1) a:after{
        border-color: #38a75b;
      }

  /* 差し込み印刷編 */
  #easy-pouring .sp-anchor-nav-select li:nth-child(2){
    border-bottom: 1px solid #38a75b;
  }
    #easy-pouring .sp-anchor-nav-select li:nth-child(2) a{
      color: #38a75b;
    }
      #easy-pouring .sp-anchor-nav-select li:nth-child(2) a:after{
        border-color: #38a75b;
      }

  /* 基本操作 モバイル編 */
  #easy-mobile .sp-anchor-nav-select li:nth-child(3){
    border-bottom: 1px solid #38a75b;
  }
    #easy-mobile .sp-anchor-nav-select li:nth-child(3) a{
      color: #38a75b;
    }
      #easy-mobile .sp-anchor-nav-select li:nth-child(3) a:after{
        border-color: #38a75b;
      }

  /* ユーザー登録の流れ */
  #easy-entry .sp-anchor-nav-select li:nth-child(4){
    border-bottom: 1px solid #38a75b;
  }
    #easy-entry .sp-anchor-nav-select li:nth-child(4) a{
      color: #38a75b;
    }
      #easy-entry .sp-anchor-nav-select li:nth-child(4) a:after{
        border-color: #38a75b;
      }

  /* ------------------------------ */

  .main-ttl-lead br{
    display: none;
  }

  .sp-pdg-inner {
    padding-left:  5.33vw;
    padding-right: 5.33vw;
  }

  .easy-sct-img{
    width: auto;
    height: auto;
  }
  .easy-sct-text {
      margin-left: 0;
      width: auto;
  }

  section.cmn-sct-wrap section{
    margin-bottom: 2.5em;
  }
  section.cmn-sct-wrap section > div{
    padding-bottom: 4em;
  }



  /* セクションNOをブロックの先頭に表示 */
  section{
    position: relative;
  }
  .easy-sct-text .easy-sct-cate {
    position: absolute;
    top: 0;
  }
  .easy-sct > section > 
  .easy-sct-inner:first-child .easy-sct-img {
    padding-top: 10vw;
  }

  /* 横線見出し */
  .cmn-sct-wrap .easy-sct section{
    border-bottom: 0 none transparent;
    margin-bottom: 0;
  }

  .easy-sct-text .easy-sct-cate {
    width: 100%;
    padding-left: 0;
    text-align: center;
    font-size: 5.5vw;
  }
  .easy-sct-text .easy-sct-cate:before,
  .easy-sct-text .easy-sct-cate:after {
    background: #38a75b;
    border-bottom: 1px solid #278746; /* 0.4vw */
    /*border-bottom: 0 none transparent;*/
    content: '';
    display: block;
    height: 0.8vw;
    width: 28vw;
    position: absolute;
    top: 0.9em;
  }
  .easy-sct-text .easy-sct-cate:after {
    right: 0;
  }


  .easy-sct > section > 
  .easy-sct-inner:first-child .easy-sct-img {
    padding-top: 17vw;
  }

/*

.easy-sct-text .easy-sct-cate:after {
    background: #38a75b;
    border-bottom: 2px solid #278746;
    content: '';
    display: inline-block;
    height: 2px;
    width: 56vw;
    vertical-align: middle;
    margin-left: 0.5em;
}


*/

/* 長方形見出し 

  .easy-sct-text .easy-sct-cate {
    width: 100%;
    padding-left: 0;
    background-color: #38a75b;
    color: #FFF;
    text-align: center;
  }
  .easy-sct-img {
    padding-top: 16vw;
  }
  .easy-sct-text .easy-sct-cate:before{
    content: '';
    display: none;
  }
*/
}




