
</div><!-- // #contents -->
<% 
if ( !page_settings.mobileapp_exists ) { 
// モバイルアプリ 公開前 notes
-%>



<!-- ////////////////////////////// モバイル版アプリのご案内 start -->
<div class="apps-popup">
  <div class="apps-popup-inner">
    <h2>スマートフォンをお使いの方へ</h2>
    <p>ラベル屋さん™ラベル＆カード作成ソフト10のモバイル版アプリは4月下旬に公開予定です。</p>
    <p>モバイル版アプリの公開まではPCにてWeb版をご利用いただきますようにお願いいたします。</p>
    <div class="apps-popup-close"><span class="btn btn01">閉じる</span></div>
  </div>
  <div class="apps-popup-overlay"></div>
</div>
<!-- ////////////////////////////// モバイル版アプリのご案内 end -->


<% } %>

<!-- ////////////////////////////////////////////////// footer start -->
<footer id="foot">

<% 
if (page_settings.manual_type === "EASY") { 
// かんたんマニュアル フッタPR
-%>

    <!-- ////////////////////////////////////////////////// START start -->
    <section class="sp-pdg start">
      <div class="box-center sp-pdg-inner">
        <h2 class="start-ttl">さっそく、はじめましょう。</h2>
        <p class="start-btn text-c pc-item"><a href="https://labelten.labelyasan.com/web/" class="btn btn02 popup" target="_blank">デザイン開始</a></p>
        <p class="start-btn text-c apps-popup-btn sp-item"><span class="btn btn01">モバイル版アプリのご案内</span></p>
        <p class="start-label9"><a href="<%= page_settings.url_root %>/support/#sct05"><span class="icon-arrow01">旧バージョンをご利用の方はこちら</span></a></p>
      </div>
    </section>
    <!-- ////////////////////////////////////////////////// START end -->


    <div class="bnr-prd">
      <p><a href="https://www.a-one.co.jp/product/?_ga=2.47195431.1260576748.1550555792-700300645.1497315566" target="_blank" class="no-icon"><img src="<%= page_settings.dir_neu_files %>/common/img/bnr_prd.jpg" alt="A-one商品情報サイト：ラベルシールの用紙情報はエーワン商品サイトをご覧ください" width="1120" height="200" class="pc-item"><img src="<%= page_settings.dir_neu_files %>/common/img/bnr_prd_sp.jpg" alt="A-one商品情報サイト：ラベルシールの用紙情報はエーワン商品サイトをご覧ください" width="355" height="150" class="sp-item"></a></p>
    </div>



<% 
// かんたんマニュアル フッタメニュー 
%>
  <div class="foot-nav box-full">
    <div class="foot-nav-inner box-center">

      <p class="foot-logo"><a href="<%= page_settings.url_root %>/"><img src="<%= page_settings.dir_neu_files %>/common/img/logo.svg" alt="ラベル屋さん" width="195" height="25"></a></p>

      <div class="foot-nav-set">
        <h3 class="foot-nav-ttl"><a href="<%= page_settings.url_root %>/guide/">特長</a></h3>
      </div>

      <div class="foot-nav-set foot-nav-template">
        <h3 class="foot-nav-ttl"><a href="<%= page_settings.url_root %>/template/">デザインテンプレート</a></h3>
        <ul class="foot-nav-list">
          <li><a href="<%= page_settings.url_root %>/template/item/01_meishi/">名刺</a></li>
          <li><a href="<%= page_settings.url_root %>/template/item/08_ticket/">チケット/クーポン</a></li>
          <li><a href="<%= page_settings.url_root %>/template/item/02_atena/">宛名ラベル</a></li>
          <li><a href="<%= page_settings.url_root %>/template/item/09_id/">IDカード/名札</a></li>
          <li><a href="<%= page_settings.url_root %>/template/item/03_onamae/">お名前シール</a></li>
          <li><a href="<%= page_settings.url_root %>/template/item/10_sign/">サイン/掲示用ラベル</a></li>
          <li><a href="<%= page_settings.url_root %>/template/item/18_smartphone/">スマホスキンシール</a></li>
          <li><a href="<%= page_settings.url_root %>/template/item/11_shugei/">手芸/アイロンプリント</a></li>
          <li><a href="<%= page_settings.url_root %>/template/item/17_tensha/">転写シール</a></li>
          <li><a href="<%= page_settings.url_root %>/template/item/12_uchiwa/">うちわ</a></li>
          <li><a href="<%= page_settings.url_root %>/template/item/04_sticker/">ステッカー</a></li>
          <li><a href="<%= page_settings.url_root %>/template/item/13_calendar/">カレンダー</a></li>
          <li><a href="<%= page_settings.url_root %>/template/item/05_hyouji/">表示用ラベル</a></li>
          <li><a href="<%= page_settings.url_root %>/template/item/14_photo/">写真シール</a></li>
          <li><a href="<%= page_settings.url_root %>/template/item/06_file/">収納/ファイル用ラベル</a></li>
          <li><a href="<%= page_settings.url_root %>/template/item/15_bihin/">備品ラベル</a></li>
          <li><a href="<%= page_settings.url_root %>/template/item/07_cd/">CD/DVDラベル&amp;カード</a></li>
          <li><a href="<%= page_settings.url_root %>/template/item/19_syunou/">キレイにみせる収納ラベル</a></li>
        </ul>
      </div>

      <div class="foot-nav-set">
        <h3 class="foot-nav-ttl"><a href="<%= page_settings.url_root %>/scene/">活用シーン</a></h3>
  
        <h3 class="foot-nav-ttl"><a href="<%= page_settings.url_root %>/howto/web/">使い方</a></h3>
        <!--<ul class="foot-nav-list">
          <li><a href="/howto/web/">WEB版</a></li>
          <li><a href="/howto/download/">ダウンロード版</a></li>
          <li><a href="/howto/mobile/">モバイル版アプリ</a></li>
        </ul>-->
      </div>

      <div class="foot-nav-set">
        <h3 class="foot-nav-ttl"><a href="<%= page_settings.url_root %>/support/">サポート</a></h3>
        <ul class="foot-nav-list">
          <li><a href="<%= page_settings.url_root %>/support/#sct01">よくあるご質問</a></li>
          <li><a href="<%= page_settings.url_root %>/support/#sct02">マニュアル</a></li>
          <li><a href="<%= page_settings.url_root %>/support/#sct03">動作環境</a></li>
          <li><a href="<%= page_settings.url_root %>/support/#sct04">利用許諾規約</a></li>
          <li><a href="<%= page_settings.url_root %>/support/#sct05">旧バージョン情報</a></li>
        </ul>
      </div>

    </div><!-- //.foot-nav-inner -->
<% 
} else  { 
// 詳細マニュアル モバイルアプリマニュアル フッタメニュー 
-%>
  <div class="foot-nav box-full">
<% } -%>

    <div class="box-center">
      <p class="foot-nav-policy"><a href="<%= page_settings.url_root %>/policy/">サイトご利用規約</a></p>
      <p class="foot-nav-copyright"><small>&copy; 3M <%= page_settings.timestamp.substring(0,4) /* ejs処理時の年数を表示 */ %>. All Rights Reserved.</small></p>
    </div>

  </div><!-- //.foot-nav -->

  <div class="foot-logo-wrap box-center fbox">
    <p class="foot-logo-trademarks">A-one、エーワン、ラベル屋さんは、<br class="sp-item">3M社の商標です。</p>
    <p class="foot-logo-3m"><a href="http://go.3m.com/office-jp" target="_blank" class="no-icon"><img src="<%= page_settings.dir_neu_files %>/common/img/logo_3m.jpg" width="146" height="26"></a></p>
  </div>




  <!-- ////////////////////////////////////////////////// SP fixed navi start -->
  <div class="sp-foot-nav">
    <p class="sp-foot-nav-btn">
      <a href="#" class="js-panel-btn">
        <span class="panel-btn-icon"></span>
        <span class="font-en menu-text"></span>
      </a>
    </p>
<% if ( page_settings.mobileapp_exists ) {
// モバイルアプリ 公開
-%>
      <p class="sp-foot-nav-start"><a href="https://labelten.labelyasan.com/web/" class="btn btn01" target="_blank">モバイル版アプリのご案内</a></p>
<% } else { 
// モバイルアプリ 公開前
-%>
      <p class="sp-foot-nav-start apps-popup-btn"><span class="btn btn01">モバイル版アプリ</span></p>
<% } -%>
    <p class="sp-foot-nav-pagetop"><a href="#"><span></span></a></p>
  </div>
  <!-- ////////////////////////////////////////////////// SP fixed navi end -->



</footer>
<!-- ////////////////////////////////////////////////// footer end -->

</div><!-- // #wrapper -->




<script src="<%= page_settings.dir_neu_files %>/common/js/lib/jquery-3.2.1.min.js"></script>
<script src="<%= page_settings.dir_neu_files %>/common/js/lib/ofi.min.js"></script>
<script src="<%= page_settings.dir_neu_files %>/js/sticky-state.min.js?v=1"></script>
<script src="<%= page_settings.dir_neu_files %>/common/js/lib/desvg.js"></script>
<script src="<%= page_settings.dir_neu_files %>/common/js/app_rsp.js"></script>
<script src="<%= page_settings.dir_neu_files %>/js/script.js"></script>
<script src="<%= page_settings.dir_neu_files %>/common/js/common.js"></script>

<% 
if( !page_settings.manual_type === "EASY" ){ 
// position: sticky; IE11 enable  
%>
<script>
// .stickyが指定されている要素に対してposition: stickyを適用させる関数
function callStickyState() {
  // position: stickyを適用させたい要素を引数に指定し、
  // StickyStateをnewしてインスタンスを返す
  return new StickyState(document.querySelectorAll('.sticky'));
}
</script>
<%# 
<script src="./js/stickyfill.min.js"></script>
<script>
    var elem = document.querySelectorAll('.sticky');
    Stickyfill.add(elem);
</script>
%>

<% } %>

<!--Universal Analytics <%# ■■スクリプトを入れるか外すかする %> -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92871-1', 'auto', {'allowLinker': true});
  ga('require', 'linker');
  ga('linker:autoLink', ['www.a-one.co.jp'], false, false );
  ga('require', 'displayfeatures');
  ga('send', 'pageview');


</script>
<!--[end Universal Analytics]//-->



<!-- Yahoo Code for your Target List -->
<script type="text/javascript" language="javascript">
/* <![CDATA[ */
var yahoo_retargeting_id = 'GU1MXG4SK3';
var yahoo_retargeting_label = '';
var yahoo_retargeting_page_type = '';
var yahoo_retargeting_items = [{item_id: '', category_id: '', price: '', quantity: ''}];
/* ]]> */
</script>
<script type="text/javascript" language="javascript" src="//b92.yahoo.co.jp/js/s_retargeting.js"></script>
<!--[end Yahoo Code for your Target List]//-->



<!-- リマーケティング タグの Google コード -->
<!--------------------------------------------------
リマーケティング タグは、個人を特定できる情報と関連付けることも、デリケートなカテゴリに属するページに設置することも許可されません。タグの設定方法については、こちらのページをご覧ください。
http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 937470442;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/937470442/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!--[end リマーケティング タグの Google コード]//-->



</body></html>