<!DOCTYPE html> <%# saved from url=(0035)http://labelyasan.a-one.jp/support/ %>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1<%# 1380 %>">
<meta name="format-detection" content="telephone=no,address=no,email=no">
<meta name="description" content="<%= page_settings.page_description_text %>">

<!-- Facebook start -->
<meta property="og:type"        content="article">
<meta property="og:title"       content="<%= page_settings.page_name %> | ラベル屋さん -使い方マニュアル-">
<meta property="og:url"         content="<%= page_settings.domain_url %><%= page_settings.page_filename %>">
<meta property="og:image"       content="<%= page_settings.url_root %>/common/img/thumb_fb.png">
<meta property="og:description" content="<%= page_settings.page_description_text %>">
<meta property="og:site_name"   content="ラベル屋さん -使い方マニュアル-">
<!-- Facebook end -->


<% 
if (page_settings.manual_type === "EASY") {
-%><title> <%= page_settings.page_name %> [<%= jsonData.cat_name %>] | ラベル屋さん｜無料で使えるラベル・カード印刷ソフト。豊富なデザインテンプレートもご用意。</title> <%
} else {
-%><title> <%= jsonData.cat_name %> - <%= page_settings.page_name %> | ラベル屋さん 使い方マニュアル </title> <%
} 
-%>


<link rel="icon" href="<%= page_settings.dir_neu_files %>/common/img/favicon.ico">
<link rel="apple-touch-icon" href="<%= page_settings.dir_neu_files %>/common/img/icon.png">
<link rel="stylesheet" href="<%= page_settings.dir_neu_files %>/common/css/common.css?v=1">
<% 
if (page_settings.manual_type === "EASY") {
-%><link rel="stylesheet" href="<%= page_settings.dir_manual %>/stylesheets/style_easy.css?<%= page_settings.timestamp %>"> <%
} else {
-%>
<link rel="stylesheet" href="<%= page_settings.dir_manual %>/stylesheets/common_local.css?<%= page_settings.timestamp %>">
<link rel="stylesheet" href="<%= page_settings.dir_manual %>/stylesheets/lib/sticky-state.css">
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> -->
<link rel="stylesheet" href="<%= page_settings.dir_manual %>/fonts/fontawesome/css/all.min.css">
<%
} 
-%>


<%# フォントのロード %>
<script>
  (function(d) {
    var config = {
      kitId: 'obu7lss',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>


<!-- Google Tag Manager start -->

<!-- ※※※ アクセス解析タグの設置を忘れずに！ ※※※ -->

<!-- Google Tag Manager end -->
</head>
<%# 
BODY ////////////////////////////////////////////////// 
%>
<% if (page_settings.manual_type === "EASY") { -%>
<body id="<%= page_settings.site_id %>-<%= page_settings.page_id %>" class="has-side bg-cmn cat_<%= page_settings.site_id %>">

<% } else { %>
<body id="<%= page_settings.cat_id %>_<%= page_settings.page_id %>" class="<%= page_settings.manual_type %> cat_<%= page_settings.cat_id //bg-cmn %> page__">
<!-- 詳細マニュアル: 変数 一覧
<%= page_settings.domain_url %>
<%= page_settings.page_filename %>
<%= page_settings.cat_name %>
<%= page_settings.cat_id %> 
<%= page_settings.cat_no %> 
<%= page_settings.page_name %>
<%= page_settings.page_id %>
<%= page_settings.page_no %>
<%= page_settings.page_description_text %>
-->
<% } %>


<!-- ////////////////////////////////////////////////// header start -->
<header id="head">
  <div class="head-inner box-full">

    <% if ( page_settings.manual_type === "EASY" ) { -%>
    <h1 class="head-logo">
      <a href="<%= page_settings.url_root %>/">
        <img src="<%= page_settings.dir_neu_files %>/common/img/logo.svg" alt="ラベル屋さん" width="195" height="25">
      </a>
    </h1>
    <% } else { -%>
    <div class="head-logo">
      <a href="<%= page_settings.url_official %>/">
        <img src="<%= page_settings.dir_neu_files %>/common/img/logo.svg" alt="ラベル屋さん" width="195" height="25">
      </a>
      <a href="https://www.labelyasan.com/support/#sct02"> <span>使い方マニュアル</span> </a>
    </div>
    <% } -%>


    <p class="btn-spmenu sp-item">
      <a href="<%= page_settings.url_root %>/support/#" class="js-panel-btn">
        <span class="panel-btn-icon"></span>
        <span class="font-en menu-text"></span>
      </a>
    </p>



    <nav id="gnav-wrap" class="sp-pdg">
      <ul id="gnav">

<% 
if( page_settings.manual_type === "EASY" ) { 
// かんたんマニュアル メニュー
%>
        <!-- ////////////////////////////// 特長 start -->
        <li>
          <a href="<%= page_settings.url_root %>/guide/" class="gnav-parent"><span>特長</span></a>
        </li>
        <!-- ////////////////////////////// 特長 end -->

        <!-- ////////////////////////////// デザインテンプレート start -->
        <li>
          <a href="<%= page_settings.url_root %>/template/" class="gnav-parent has-child"><span>デザインテンプレート</span></a>
          <div class="gnav-child-wrap">
            <div class="gnav-child">
              <ul class="gnav-child-list">
                <li class="sp-item"><a href="<%= page_settings.url_root %>/template/"><span>デザインテンプレートトップ</span></a></li>
                <li><a href="<%= page_settings.url_root %>/template/item/01_meishi/"><span>名刺</span></a></li>
                <li><a href="<%= page_settings.url_root %>/template/item/02_atena/"><span>宛名ラベル</span></a></li>
                <li><a href="<%= page_settings.url_root %>/template/item/03_onamae/"><span>お名前シール</span></a></li>
                <li><a href="<%= page_settings.url_root %>/template/item/18_smartphone/"><span>スマホスキンシール</span></a></li>
                <li><a href="<%= page_settings.url_root %>/template/item/17_tensha/"><span>転写シール</span></a></li>
                <li><a href="<%= page_settings.url_root %>/template/item/04_sticker/"><span>ステッカー</span></a></li>
                <li><a href="<%= page_settings.url_root %>/template/item/05_hyouji/"><span>表示用ラベル</span></a></li>
                <li><a href="<%= page_settings.url_root %>/template/item/06_file/"><span>収納/ファイル用ラベル</span></a></li>
                <li><a href="<%= page_settings.url_root %>/template/item/07_cd/"><span>CD/DVDラベル&amp;カード</span></a></li>
                <li><a href="<%= page_settings.url_root %>/template/item/08_ticket/"><span>チケット/クーポン</span></a></li>
                <li><a href="<%= page_settings.url_root %>/template/item/09_id/"><span>IDカード/名札</span></a></li>
                <li><a href="<%= page_settings.url_root %>/template/item/10_sign/"><span>サイン/掲示用ラベル</span></a></li>
                <li><a href="<%= page_settings.url_root %>/template/item/11_shugei/"><span>手芸/アイロンプリント</span></a></li>
                <li><a href="<%= page_settings.url_root %>/template/item/12_uchiwa/"><span>うちわ</span></a></li>
                <li><a href="<%= page_settings.url_root %>/template/item/13_calendar/"><span>カレンダー</span></a></li>
                <li><a href="<%= page_settings.url_root %>/template/item/14_photo/"><span>写真シール</span></a></li>
                <li><a href="<%= page_settings.url_root %>/template/item/15_bihin/"><span>備品ラベル</span></a></li>
                <li><a href="<%= page_settings.url_root %>/template/item/19_syunou/"><span>キレイにみせる収納ラベル</span></a></li>
              </ul>
            </div>
          </div>
        </li>
        <!-- ////////////////////////////// デザインテンプレート end -->

        <!-- ////////////////////////////// 活用シーン start -->
        <li>
          <a href="<%= page_settings.url_root %>/scene/" class="gnav-parent"><span>活用シーン</span></a>
        </li>
        <!-- ////////////////////////////// 活用シーン end -->

        <!-- ////////////////////////////// 使い方 start -->
        <li>
          <!--<a href="/howto/web/" class="gnav-parent has-child">--><a href="<%= page_settings.url_root %>/howto/web/" class="gnav-parent"><span>使い方</span></a>
          <!--<div class="gnav-child-wrap">
            <div class="gnav-child">
              <ul class="gnav-child-list">
                <li class="sp-item"><a href="/howto/"><span>使い方トップ</span></a></li>
                <li><a href="/web/" target="_blank"><span>WEB版</span></a></li>
                <li><a href="/support/download/"><span>ダウンロード版</span></a></li>
                <li><a href="/howto/mobile/"><span>モバイル版アプリ</span></a></li>
              </ul>
            </div>
          </div>-->
        </li>
        <!-- ////////////////////////////// 使い方 end -->

        <!-- ////////////////////////////// サポート start -->
        <li class="active">
          <span>サポート</span>
          <div class="gnav-child-wrap">
            <div class="gnav-child">
              <ul class="gnav-child-list">
                <li class="sp-item"><a href="<%= page_settings.url_root %>/support/"><span>サポートトップ</span></a></li>
                <li><a href="<%= page_settings.url_root %>/support/#sct01"><span>よくあるご質問</span></a></li>
                <li><a href="<%= page_settings.url_root %>/support/#sct02"><span>マニュアル</span></a></li>
                <li><a href="<%= page_settings.url_root %>/support/#sct03"><span>動作環境</span></a></li>
                <li><a href="<%= page_settings.url_root %>/support/#sct04"><span>利用許諾規約</span></a></li>
                <li><a href="<%= page_settings.url_root %>/support/#sct05"><span>旧バージョン情報</span></a></li>
              </ul>
            </div>
          </div>
        </li>
        <!-- ////////////////////////////// サポート end -->

        <!-- ////////////////////////////// サイトご利用規約 start -->
        <li class="sp-item"><a href="<%= page_settings.url_root %>/policy/" class="gnav-parent"><span>サイトご利用規約</span></a></li>
        <!-- ////////////////////////////// サイトご利用規約 end -->
<% 
} else if( page_settings.manual_type === "MANUAL" ){
// 詳細マニュアル メニュー
// サイドナビとおなじ内容を入れる / モバイルで表示される
%>



        <!-- ////////////////////////////// はじめに start -->
        <li>
          <a href="<%= page_settings.url_root %>" class="gnav-parent has-child"><span>はじめに</span></a>
          <div class="gnav-child-wrap">
            <div class="gnav-child">
              <ul class="gnav-child-list">
                <%# <li class="sp-item"><a href=""><span>はじめに トップ</span></a></li> %>
                <li class="firstly_about"><a href="index.html"><span>ラベル屋さん™ラベル＆カード作成ソフト10について</span></a></li>
                <%# <li class="firstly_about"><a href="1_01-firstly_about.html"><span>ラベル屋さん™ラベル＆カード作成ソフト10について</span></a></li> %>
                <li class="firstly_caution"><a href="1_02-firstly_caution.html"><span>ラベル屋さん9をお使いの方へ</span></a></li>
                <li class="firstly_specification"><a href="1_03-firstly_specification.html"><span>ラベル屋さん10の仕様</span></a></li>
                <li class="firstly_features"><a href="1_04-firstly_features.html"><span>ラベル屋さん10の特徴</span></a></li>
              </ul>
            </div>
          </div>
        </li>
        <!-- ////////////////////////////// はじめに end -->


        <!-- ////////////////////////////// 操作概要 start -->
        <li>
          <a href="<%= page_settings.url_root %>" class="gnav-parent has-child"><span>操作概要</span></a>
          <div class="gnav-child-wrap">
            <div class="gnav-child">
              <ul class="gnav-child-list">
                <%# <li class="sp-item"><a href=""><span>操作概要 トップ</span></a></li> %>

                <li class="operation_tips"><a href="2_01-operation_tips.html"><span>操作Tips</span></a></li>
                <li class="operation_flow"><a href="2_02-operation_flow.html"><span>操作の流れ</span></a></li>
                <li class="operation_template"><a href="2_03-operation_template.html"><span>テンプレートの利用</span></a></li>
        <!-- <li class="operation_cloud"><a href="2_04-operation_cloud.html"><span>クラウドの利用について(4月中)</a></span></li> -->
              </ul>
            </div>
          </div>
        </li>
        <!-- ////////////////////////////// 操作概要 end -->


        <!-- ////////////////////////////// 画面説明 start -->
        <li>
          <a href="<%= page_settings.url_root %>" class="gnav-parent has-child"><span>画面説明</span></a>
          <div class="gnav-child-wrap">
            <div class="gnav-child">
              <ul class="gnav-child-list">
                <%# <li class="sp-item"><a href=""><span>画面説明 トップ</span></a></li> %>

                <li class="screen_index"><a href="3_00-screen_index.html"><span>画面説明の概要</span></a></li>
                <li class="screen_top"><a href="3_01-screen_top.html"><span>ホーム画面</span></a></li>
                <li class="screen_paper"><a href="3_02-screen_paper.html"><span>用紙選択</span></a></li>
                <li class="screen_tools"><a href="3_03-screen_tools.html"><span>操作画面の共通部分</span></a></li>
        <!-- <li class="screen_menu"><a href="3_04-screen_menu.html"><span>操作画面のメニュー(DL版のみ)</a></span></li> -->
              </ul>
            </div>
          </div>
        </li>
        <!-- ////////////////////////////// 画面説明 end -->


        <!-- ////////////////////////////// デザイン画面 start -->
        <li>
          <a href="<%= page_settings.url_root %>" class="gnav-parent has-child"><span>デザイン画面</span></a>
          <div class="gnav-child-wrap">
            <div class="gnav-child">
              <ul class="gnav-child-list">
                <%# <li class="sp-item"><a href=""><span>デザイン画面 トップ</span></a></li> %>

                <li class="design_index"><a href="4_00-design_index.html"><span>デザイン画面の概要</span></a></li>
                <li class="design_main_pane"><a href="4_01-design_main_pane.html"><span>デザイン編集領域</span></a></li>
                <li class="design_controller_l"><a href="4_02-design_controller_l.html"><span>左パネル</span></a></li>
                <li class="design_text"><a href="4_03-design_text.html"><span>通常文字</span></a></li>
                <li class="design_text_circle"><a href="4_04-design_text_circle.html"><span>円周文字</span></a></li>
                <li class="design_text_3d"><a href="4_05-design_text_3d.html"><span>3D文字</span></a></li>
                <li class="design_text_date"><a href="4_06-design_text_date.html"><span>日付文字</span></a></li>
                <li class="design_img"><a href="4_07-design_img.html"><span>画像</span></a></li>
                <li class="design_square"><a href="4_08-design_square.html"><span>四角形</span></a></li>
                <li class="design_poly"><a href="4_09-design_poly.html"><span>多角形</span></a></li>
                <li class="design_circle"><a href="4_10-design_circle.html"><span>丸</span></a></li>
                <li class="design_straight"><a href="4_11-design_straight.html"><span>直線</span></a></li>
                <li class="design_curve"><a href="4_12-design_curve.html"><span>曲線</span></a></li>
                <li class="design_barcode"><a href="4_13-design_barcode.html"><span>バーコード</span></a></li>
                <li class="design_qrcode"><a href="4_14-design_qrcode.html"><span>QRコード</span></a></li>
                <li class="design_table"><a href="4_15-design_table.html"><span>表</span></a></li>
                <li class="design_serial"><a href="4_16-design_serial.html"><span>連番</span></a></li>
        <!-- <li class="design_sns"><a href="4_17-design_sns.html"><span>SNS連携(4月以降)</a></span></li> -->
                <li class="design_multiselect"><a href="4_18-design_multiselect.html"><span>複数オブジェクト選択時</span></a></li>
                <li class="design_export"><a href="4_19-design_export.html"><span>編集画面の書き出し</span></a></li>
              </ul>
            </div>
          </div>
        </li>
        <!-- ////////////////////////////// デザイン画面 end -->


        <!-- ////////////////////////////// レイアウト画面 start -->
        <li>
          <a href="<%= page_settings.url_root %>" class="gnav-parent has-child"><span>レイアウト画面</span></a>
          <div class="gnav-child-wrap">
            <div class="gnav-child">
              <ul class="gnav-child-list">
                <%# <li class="sp-item"><a href=""><span>レイアウト画面 トップ</span></a></li> %>

                <li class="layout_index"><a href="5_00-layout_index.html"><span>レイアウト画面の概要</span></a></li>
                <li class="layout_copy"><a href="5_01-layout_copy.html"><span>デザイン面のコピーと移動</span></a></li>
                <li class="layout_delete"><a href="5_02-layout_delete.html"><span>デザイン面の削除</span></a></li>
                <li class="layout_page"><a href="5_03-layout_page.html"><span>ページの操作</span></a></li>
                <li class="layout_overwrite"><a href="5_04-layout_overwrite.html"><span>塗り足し</span></a></li>
              </ul>
            </div>
          </div>
        </li>
        <!-- ////////////////////////////// レイアウト画面 end -->


        <!-- ////////////////////////////// 印刷画面 start -->
        <li>
          <a href="<%= page_settings.url_root %>" class="gnav-parent has-child"><span>印刷画面</span></a>
          <div class="gnav-child-wrap">
            <div class="gnav-child">
              <ul class="gnav-child-list">
                <%# <li class="sp-item"><a href=""><span>印刷画面 トップ</span></a></li> %>

                <li class="print_index"><a href="6_00-print_index.html"><span>印刷画面の概要</span></a></li>
                <li class="print_pageset"><a href="6_01-print_pageset.html"><span>印刷ページの設定</span></a></li>
                <li class="print_settings"><a href="6_02-print_settings.html"><span>印刷設定</span></a></li>
                <li class="print_export"><a href="6_03-print_export.html"><span>印刷・PDF書き出し</span></a></li>
              </ul>
            </div>
          </div>
        </li>
        <!-- ////////////////////////////// 印刷画面 end -->



        <!-- ////////////////////////////// 差し込み画面 start -->
        <li>
          <a href="<%= page_settings.url_root %>" class="gnav-parent has-child"><span>差し込み画面</span></a>
          <div class="gnav-child-wrap">
            <div class="gnav-child">
              <ul class="gnav-child-list">

                <li class="pouring_index"><a href="7_00-pouring_index.html"><span>差し込み画面の概要</span></a></li>
                <li class="pouring_operation"><a href="7_01-pouring_operation.html"><span>差し込みの操作説明</span></a></li>
                <li class="pouring_loaddesign"><a href="7_02-pouring_loaddesign.html"><span>差し込みデザインの読み込み</span></a></li>
                <li class="pouring_csv"><a href="7_03-pouring_csv.html"><span>差し込みデータの書き出し・読み込み</span></a></li>
                <li class="pouring_layout"><a href="7_04-pouring_layout.html"><span>差し込み時のレイアウト</span></a></li>
                <li class="pouring_print"><a href="7_05-pouring_print.html"><span>差し込み時の印刷</span></a></li>
              </ul>
            </div>
          </div>
        </li>
        <!-- ////////////////////////////// 差し込み画面 end -->


        <%# 
        <!-- ////////////////////////////// サイトマップ start -->
        <li>
          <a href="<％= page_settings.url_root ％>/guide/" class="gnav-parent"><span>サイトマップ</span></a>
        </li>
        <!-- ////////////////////////////// サイトマップ end -->
        %>
<%
} else if( page_settings.manual_type === "MBAPP" ){
// モバイルアプリマニュアル メニュー
// サイドナビとおなじ内容を入れる / モバイルで表示される
%>



        <!-- ////////////////////////////// はじめに start -->
        <li>
          <a href="<%= page_settings.url_root %>" class="gnav-parent has-child"><span>はじめに</span></a>
          <div class="gnav-child-wrap">
            <div class="gnav-child">
              <ul class="gnav-child-list">
                <%# <li class="sp-item"><a href=""><span>はじめに トップ</span></a></li> %>
                <li class="firstly_about"><a href="index.html"><span>ラベル屋さん™ラベル＆カード作成ソフト10について</span></a></li>
                <%# <li class="firstly_about"><a href="1_01-firstly_about.html"><span>ラベル屋さん™ラベル＆カード作成ソフト10について</span></a></li> %>
                <li class="firstly_caution"><a href="1_02-firstly_caution.html"><span>ラベル屋さん9をお使いの方へ</span></a></li>
                <li class="firstly_specification"><a href="1_03-firstly_specification.html"><span>ラベル屋さん10の仕様</span></a></li>
                <li class="firstly_features"><a href="1_04-firstly_features.html"><span>ラベル屋さん10の特徴</span></a></li>
              </ul>
            </div>
          </div>
        </li>
        <!-- ////////////////////////////// はじめに end -->


        <!-- ////////////////////////////// 操作概要 start -->
        <li>
          <a href="<%= page_settings.url_root %>" class="gnav-parent has-child"><span>操作概要</span></a>
          <div class="gnav-child-wrap">
            <div class="gnav-child">
              <ul class="gnav-child-list">
                <%# <li class="sp-item"><a href=""><span>操作概要 トップ</span></a></li> %>

                <li class="operation_tips"><a href="2_01-operation_tips.html"><span>操作Tips</span></a></li>
                <li class="operation_flow"><a href="2_02-operation_flow.html"><span>操作の流れ</span></a></li>
                <li class="operation_template"><a href="2_03-operation_template.html"><span>テンプレートの利用</span></a></li>
        <!-- <li class="operation_cloud"><a href="2_04-operation_cloud.html"><span>クラウドの利用について(4月中)</a></span></li> -->
              </ul>
            </div>
          </div>
        </li>
        <!-- ////////////////////////////// 操作概要 end -->


        <!-- ////////////////////////////// 画面説明 start -->
        <li>
          <a href="<%= page_settings.url_root %>" class="gnav-parent has-child"><span>画面説明</span></a>
          <div class="gnav-child-wrap">
            <div class="gnav-child">
              <ul class="gnav-child-list">
                <%# <li class="sp-item"><a href=""><span>画面説明 トップ</span></a></li> %>

                <li class="screen_index"><a href="3_00-screen_index.html"><span>画面説明の概要</span></a></li>
                <li class="screen_top"><a href="3_01-screen_top.html"><span>ホーム画面</span></a></li>
                <li class="screen_paper"><a href="3_02-screen_paper.html"><span>用紙選択</span></a></li>
                <li class="screen_tools"><a href="3_03-screen_tools.html"><span>操作画面の共通部分</span></a></li>
        <!-- <li class="screen_menu"><a href="3_04-screen_menu.html"><span>操作画面のメニュー(DL版のみ)</a></span></li> -->
              </ul>
            </div>
          </div>
        </li>
        <!-- ////////////////////////////// 画面説明 end -->


        <!-- ////////////////////////////// デザイン画面 start -->
        <li>
          <a href="<%= page_settings.url_root %>" class="gnav-parent has-child"><span>デザイン画面</span></a>
          <div class="gnav-child-wrap">
            <div class="gnav-child">
              <ul class="gnav-child-list">
                <%# <li class="sp-item"><a href=""><span>デザイン画面 トップ</span></a></li> %>

                <li class="design_index"><a href="4_00-design_index.html"><span>デザイン画面の概要</span></a></li>
                <li class="design_main_pane"><a href="4_01-design_main_pane.html"><span>デザイン編集領域</span></a></li>
                <li class="design_controller_l"><a href="4_02-design_controller_l.html"><span>左パネル</span></a></li>
                <li class="design_text"><a href="4_03-design_text.html"><span>通常文字</span></a></li>
                <li class="design_text_circle"><a href="4_04-design_text_circle.html"><span>円周文字</span></a></li>
                <li class="design_text_3d"><a href="4_05-design_text_3d.html"><span>3D文字</span></a></li>
                <li class="design_text_date"><a href="4_06-design_text_date.html"><span>日付文字</span></a></li>
                <li class="design_img"><a href="4_07-design_img.html"><span>画像</span></a></li>
                <li class="design_square"><a href="4_08-design_square.html"><span>四角形</span></a></li>
                <li class="design_poly"><a href="4_09-design_poly.html"><span>多角形</span></a></li>
                <li class="design_circle"><a href="4_10-design_circle.html"><span>丸</span></a></li>
                <li class="design_straight"><a href="4_11-design_straight.html"><span>直線</span></a></li>
                <li class="design_curve"><a href="4_12-design_curve.html"><span>曲線</span></a></li>
                <li class="design_barcode"><a href="4_13-design_barcode.html"><span>バーコード</span></a></li>
                <li class="design_qrcode"><a href="4_14-design_qrcode.html"><span>QRコード</span></a></li>
                <li class="design_table"><a href="4_15-design_table.html"><span>表</span></a></li>
                <li class="design_serial"><a href="4_16-design_serial.html"><span>連番</span></a></li>
        <!-- <li class="design_sns"><a href="4_17-design_sns.html"><span>SNS連携(4月以降)</a></span></li> -->
                <li class="design_multiselect"><a href="4_18-design_multiselect.html"><span>複数オブジェクト選択時</span></a></li>
                <li class="design_export"><a href="4_19-design_export.html"><span>編集画面の書き出し</span></a></li>
              </ul>
            </div>
          </div>
        </li>
        <!-- ////////////////////////////// デザイン画面 end -->


        <!-- ////////////////////////////// レイアウト画面 start -->
        <li>
          <a href="<%= page_settings.url_root %>" class="gnav-parent has-child"><span>レイアウト画面</span></a>
          <div class="gnav-child-wrap">
            <div class="gnav-child">
              <ul class="gnav-child-list">
                <%# <li class="sp-item"><a href=""><span>レイアウト画面 トップ</span></a></li> %>

                <li class="layout_index"><a href="5_00-layout_index.html"><span>レイアウト画面の概要</span></a></li>
                <li class="layout_copy"><a href="5_01-layout_copy.html"><span>デザイン面のコピーと移動</span></a></li>
                <li class="layout_delete"><a href="5_02-layout_delete.html"><span>デザイン面の削除</span></a></li>
                <li class="layout_page"><a href="5_03-layout_page.html"><span>ページの操作</span></a></li>
                <li class="layout_overwrite"><a href="5_04-layout_overwrite.html"><span>塗り足し</span></a></li>
              </ul>
            </div>
          </div>
        </li>
        <!-- ////////////////////////////// レイアウト画面 end -->


        <!-- ////////////////////////////// 印刷画面 start -->
        <li>
          <a href="<%= page_settings.url_root %>" class="gnav-parent has-child"><span>印刷画面</span></a>
          <div class="gnav-child-wrap">
            <div class="gnav-child">
              <ul class="gnav-child-list">
                <%# <li class="sp-item"><a href=""><span>印刷画面 トップ</span></a></li> %>

                <li class="print_index"><a href="6_00-print_index.html"><span>印刷画面の概要</span></a></li>
                <li class="print_pageset"><a href="6_01-print_pageset.html"><span>印刷ページの設定</span></a></li>
                <li class="print_settings"><a href="6_02-print_settings.html"><span>印刷設定</span></a></li>
                <li class="print_export"><a href="6_03-print_export.html"><span>印刷・PDF書き出し</span></a></li>
              </ul>
            </div>
          </div>
        </li>
        <!-- ////////////////////////////// 印刷画面 end -->



        <!-- ////////////////////////////// 差し込み画面 start -->
        <li>
          <a href="<%= page_settings.url_root %>" class="gnav-parent has-child"><span>差し込み画面</span></a>
          <div class="gnav-child-wrap">
            <div class="gnav-child">
              <ul class="gnav-child-list">

                <li class="pouring_index"><a href="7_00-pouring_index.html"><span>差し込み画面の概要</span></a></li>
                <li class="pouring_operation"><a href="7_01-pouring_operation.html"><span>差し込みの操作説明</span></a></li>
                <li class="pouring_loaddesign"><a href="7_02-pouring_loaddesign.html"><span>差し込みデザインの読み込み</span></a></li>
                <li class="pouring_csv"><a href="7_03-pouring_csv.html"><span>差し込みデータの書き出し・読み込み</span></a></li>
                <li class="pouring_layout"><a href="7_04-pouring_layout.html"><span>差し込み時のレイアウト</span></a></li>
                <li class="pouring_print"><a href="7_05-pouring_print.html"><span>差し込み時の印刷</span></a></li>
              </ul>
            </div>
          </div>
        </li>
        <!-- ////////////////////////////// 差し込み画面 end -->


        <%# 
        <!-- ////////////////////////////// サイトマップ start -->
        <li>
          <a href="<％= page_settings.url_root ％>/guide/" class="gnav-parent"><span>サイトマップ</span></a>
        </li>
        <!-- ////////////////////////////// サイトマップ end -->
        %>

<% } %>

      </ul>

      <p class="head-btn pc-item"><a href="https://labelten.labelyasan.com/web/" class="btn btn01 popup" target="_blank"><span class="sp-item">ラベル屋さんで</span>デザイン開始</a></p>
    </nav>


    <p class="head-logo-aone"><a href="http://www.a-one.co.jp/?_ga=2.194184621.1603856387.1545379094-2092760719.1496042503" target="_blank" class="no-icon"><img src="<%= page_settings.dir_neu_files %>/common/img/logo_aone.svg" alt="A-one" width="95" height="27"></a></p>


  </div><!-- // .head-center -->
</header>
<!-- ////////////////////////////////////////////////// header end -->

<div id="wrapper">
<div id="contents">
<!-- ////////////////////////////////////////////////// パンくずリスト start -->
<% 
if( page_settings.manual_type === "EASY" ) { 
// かんたんマニュアル パンくず
%>
<ol class="topicpath sp-pdg" itemscope="" itemtype="http://schema.org/BreadcrumbList">
<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
<a itemprop="item" href="/"><span itemprop="name">トップ</span></a>
<meta itemprop="position" content="1">
</li>
<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
<a itemprop="item" href="/support/"><span itemprop="name">サポート</span></a>
<meta itemprop="position" content="2">
</li>
<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
<a itemprop="item" href="<%= page_settings.dir_manual %>/<%= page_settings.page_filename %>"><span itemprop="name">かんたんマニュアル [<%= page_settings.page_name %>]</span></a>
<meta itemprop="position" content="3">
</li>
</ol>
<% 
} else {
// 詳細マニュアル モバイルアプリマニュアル パンくず 

/*
<ol class="topicpath sp-pdg" itemscope="" itemtype="http://schema.org/BreadcrumbList">
<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
<a itemprop="item" href="<％= page_settings.url_root ％>/"><span itemprop="name">ラベル屋さん10 詳細マニュアル</span></a>
<meta itemprop="position" content="1">
</li>
<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
<a itemprop="item" href="<％= page_settings.cat_no ％>_00-<％= page_settings.cat_id ％>_index.html"><％= page_settings.cat_name ％></span></a>
<meta itemprop="position" content="2">
</li>
<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
<a itemprop="item" href="<％- page_settings.page_id ％>"><span itemprop="name"><％- page_settings.page_name ％></span></a>
<meta itemprop="position" content="3">
</li>
</ol>
*/ 
%>

  <nav id="breadcrumb">
    <ol>
      <li class="breadcrumb__dir"><a href="https://www.labelyasan.com/support/#sct02">使い方マニュアル</a></li>
      <li class="breadcrumb__dir cat_manual"><a href="<%= page_settings.cat_no %>_00-<%= page_settings.cat_id %>_index.html"><%= page_settings.cat_name %></a></li>
      <li class="breadcrumb__dir--current"><span><%- page_settings.page_name %></span></li>
    </ol>
  </nav>

<% } %>
<!-- ////////////////////////////////////////////////// パンくずリスト end -->

