<% // ページ内で使う変数とパーシャルファイルに渡すオブジェクトの作成

var url_internal =    { public: '',                local: 'http://labelyasan.a-one.jp', relative: '../../' };
var dir_manual =      { public: '/support/manual', local: '.' };
var dir_commonfiles = { public: '',                local: '.' };
var dir_ejs = './';

var location = 'public'; // public or local

var page_description_text = jsonData.page_description.replace( /<("[^"]*"|'[^']*'|[^'">])*>/g , ""); // page_description からHTMLタグを除去

var today  = new Date().toLocaleString('ja-JP', {era:'long'});
var YMDhms = today.replace( /\D/g , "");

var page_settings = { 
  site_id: 'easy', 
  page_id: jsonData.page_id, 
  page_name: jsonData.page_name, 
  page_filename: jsonData.page_filename, 
  page_description_text: page_description_text, //HTMLタグを除去したデスクリプション    
  manual_link_1: 'manual_easy_basic.html',
  manual_link_2: 'manual_easy_pouring.html',
  manual_link_3: 'manual_easy_mobile.html',
  manual_link_4: 'manual_easy_entry.html',
  manual_link_fully: 'https://labelten.labelyasan.com/web/help',

  url_root: url_internal[ location ],
  dir_manual: dir_manual[ location ], 
  dir_neu_files: dir_commonfiles[ location ],
  timestamp: YMDhms,

  mobileapp_exists: false, //リリースされたら true
  manual_type: "EASY"
}; 

%><%- include( dir_ejs+'_header.ejs', {page_settings:page_settings} ); %>

<!-- ////////////////////////////// SPアンカーナビ start -->
<div class="sp-anchor-nav sp-item">
  <p class="sp-anchor-nav-current">かんたんマニュアル</p>
  <ul class="sp-anchor-nav-select">
    <li><a href="<%= page_settings.dir_manual %>/<%- page_settings.manual_link_1 %>"><span>基本操作編</span></a></li>
    <li><a href="<%= page_settings.dir_manual %>/<%- page_settings.manual_link_2 %>"><span>差し込み印刷編</span></a></li>
    <li><a href="<%= page_settings.dir_manual %>/<%- page_settings.manual_link_3 %>"><span>基本操作 モバイル編</span></a></li>
    <li><a href="<%= page_settings.dir_manual %>/<%- page_settings.manual_link_4 %>"><span>ユーザー登録の流れ</span></a></li>
    <li><a href="<%- page_settings.manual_link_fully %>"><span>詳細マニュアル</span></a></li>
  </ul>
</div>
<!-- ////////////////////////////// SPアンカーナビ end -->


<main id="main">
<article>



  <section class="cmn-sct-wrap">



    <!-- ////////////////////////////// コンテンツ start -->
<% /*
<!--
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
>>> LOCAL DATA - start
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
-->
*/ %>
    <div class="box-center sp-pdg">

      <div class="main-ttlwrap">
        <p class="main-ttl-label"><span><%= jsonData.cat_id %></span></p>
        <h2 class="main-ttl"><span><%= jsonData.cat_name %></span><%= jsonData.page_name %></h2>

        <div class="main-ttl-lead">
          <p><%- jsonData.page_description %></p>
        </div>
      </div>




      <div class="cont-wrap">

        <%#
        http://labelyasan.a-one.jp/support/
        http://labelyasan.a-one.jp/support/manual/
        http://labelyasan.a-one.jp/support/manual/manual_easy_basic.html %>

        <!-- ////////////////////////////// サイドナビ start -->
        <div class="side side-anchor pc-item" style="position: relative;">
          <ul class="side-nav smooth">
            <li><a href="<%= page_settings.dir_manual %>/<%- page_settings.manual_link_1 %>"><span>基本操作編</span></a></li>
            <li><a href="<%= page_settings.dir_manual %>/<%- page_settings.manual_link_2 %>"><span>差し込み印刷編</span></a></li>
            <li><a href="<%= page_settings.dir_manual %>/<%- page_settings.manual_link_3 %>"><span>基本操作 モバイル編</span></a></li>
            <li><a href="<%= page_settings.dir_manual %>/<%- page_settings.manual_link_4 %>"><span>ユーザー登録の流れ</span></a></li>
            <li><a href="<%- page_settings.manual_link_fully %>"><span>詳細マニュアル</span></a></li>
          </ul>
        </div>
        <!-- ////////////////////////////// サイドナビ end -->




        <!-- ////////////////////////////// メインコンテンツ start -->
        <div class="main-cont sp-pdg-inner">
        <%# << ここまで support ------------------------- %>


          <!-- ////////////////////////////// 簡単マニュアル start -->
          <div class="easy-sct">

          <%# <br class="pc-item"> %>
          <%# 同じタイトルをまとめる %>
          <% 
          // 
          /* スプレッドシートのデータ */
          // json内の各ブロックを全表示
          var section = 0;
          var section_name = "";
          var section_head = true;

          for(var i=0; i<=20; i++) {
            var block_no = ('00'+ i).slice(-2);

            /* 画像を持つ手順ブロックが存在すれば表示 */
            if( eval('jsonData.block_img_'+block_no) != '' ){
              /* 新規section 処理 */
              if( section_name != eval('jsonData.block_name_'+block_no) ){ 

                section_name = eval('jsonData.block_name_'+block_no);
                section_head = true;
                section++;
                section00pad = ("00"+section).slice(-2);

                /* 最初のsection以外はsectionを閉じる */
                if( section != 1 ){

          %></section>
          <%# 空行挿入 ← %>
                <% } %>
          <section id="sct<%= section00pad %>">
              <% }else{
                section_head = false;
            } %>

            <div class="easy-sct-inner box-center">
              <div class="easy-sct-img">
                <%# <img src="<％- page_settings.root_test_dir ％><％= eval('jsonData.block_img_'+block_no) ％>" alt="" width="450" height="336"> %>
                <%- eval('jsonData.block_img_'+block_no) // 画像のパスがRoot相対にできない %>
              </div>
              <div class="easy-sct-text">
                <% if( section_head ){%>
                <p class="easy-sct-cate">STEP <%= section00pad %></p>
                <h4 class="easy-sct-ttl"><%= section_name %></h4>
                <% } %>
                <%- eval('jsonData.block_txt_'+block_no) %>
              </div>
            </div>
            <% 
              } 
            } /* for loop end */
          %>
          </section>



          </div>
          <!-- //////////////////////////////  簡単マニュアル end -->

        </div>
        <!-- ////////////////////////////// メインコンテンツ end -->

      </div><!-- //.cont-wrap -->






    </div>
    <!-- //.box-center sp-pdg -->








<% /* HTML構造 サンプル (外側は、内側は活用シーン)
    <div class="box-full howto-step-wrap">

        <div class="box-center">

          <section id="step01" class="howto-sct">
            <div class="howto-sct-set">
      <!-- 
              <p class="howto-sct-icon-step font-eng-b">
                <span class="icon-step-heading">STEP</span>
                <span class="icon-step-num">01</span>
              </p>
       -->
      <!-- 
              <div class="howto-sct-set-text">
                <h3 class="howto-sct-ttl">ラベル屋さんを起動</h3>
                <p>インターネットに接続された環境で「デザイン開始」ボタンをクリックいただくと、ラベル屋さん Web版が起動します。</p>
              </div>
       -->
            </div>

      <!-- 
            <div class="howto-sct-set">
              <p class="howto-sct-img"><img src="./files/sct01_img.jpg" alt="「デザイン開始」ボタンの画面" width="530" height="298"></p>
            </div>
       -->
          </section>

        </div><!-- //.box-center -->

    </div><!-- //.box-full -->
*/ %>

<% /*
<!--
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
<<< LOCAL DATA - end
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
-->
*/ %>
    <!-- ////////////////////////////// コンテンツ end -->





  </section>







</article>
</main>
<!-- <p id="pagetop" class="sticky"><a href="#"><span></span></a></p> -->

<%- /* フッタのinclude */
include(dir_ejs + '_footer.ejs', {page_settings:page_settings} ); 
%>