<% // ページ内で使う変数とパーシャルファイルに渡すオブジェクトの作成

var url_internal =    { public: '',                local: 'http://labelyasan.a-one.jp', relative: '../../' };
var dir_manual =      { public: '/support/manual', local: '.' };
var dir_commonfiles = { public: '',                local: '.' };
var dir_ejs = './'; 

var location = 'local'; // public or local

var today  = new Date().toLocaleString('ja-JP', {era:'long'});
var YMDhms = today.replace( /\D/g , "");

json_data = jsonData;

json_data["url_official"] = "https://www.labelyasan.com/";
json_data["url_root"] = url_internal[ location ];
json_data["dir_manual"] = dir_manual[ location ];
json_data["dir_neu_files"] = dir_commonfiles[ location ];
json_data["timestamp"] = YMDhms;
json_data["page_description_text"] = jsonData.page_description;

json_data["mobileapp_exists"] = false;
json_data["manual_type"] = "MBAPP";

  // 廃止
json_data["dir_downloaded"] = "./files";

%><%- 
/* ヘッダのinclude */
include( dir_ejs+'_header.ejs', {page_settings:json_data} ); 
%>

<!-- ////////////////////////////// SPアンカーナビ start -->
<div class="sp-anchor-nav sp-item">
  <p class="sp-anchor-nav-current"><%- jsonData.page_name %></p>
  <ul class="sp-anchor-nav-select">
	<%
	for(var i=0; i<=9; i++){ 
		if( eval('jsonData.section_name_'+i) != '' ){
			if( i == '0' ){ %>
	<li class=""><a href="#main__body"><%= eval('jsonData.section_name_'+i) %></a></li> <% 
			} else {  %>
	<li class=""><a href="#section_<%= i %>"><%= eval('jsonData.section_name_'+i) %></a></li> <% 
			}
		}
	} %>
  </ul>
</div>
<!-- ////////////////////////////// SPアンカーナビ end -->


<!-- サイドバー サイトナビ -->
<nav id="nav--global" >
	<ul class="sticky">
		<li class="nav__category firstly">
			<span>はじめに</span>
			<ul class="category__pages">
				<li class="firstly_about"><a href="index.html"><span>ラベル屋さん™ラベル＆カード作成ソフト10について</span></a></li>
				<%#	<li class="firstly_about"><a href="1_01-firstly_about.html"><span>ラベル屋さん™ラベル＆カード作成ソフト10について</span></a></li> %>
				<%# <li class="firstly_caution"><a href="1_02-firstly_caution.html"><span>ラベル屋さん9をお使いの方へ</span></a></li> %>
				<li class="firstly_specification"><a href="1_03-firstly_specification.html"><span>ラベル屋さん10の仕様</span></a></li>
				<li class="firstly_features"><a href="1_04-firstly_features.html"><span>ラベル屋さん10の特徴</span></a></li>

			</ul>
		</li>

	<%# >> 元メニュー %>
		<li class="nav__category operation">			
			<span>操作概要</span>
			<ul class="category__pages">
				<li class="operation_tips"><a href="2_01-operation_tips.html"><span>操作Tips</span></a></li>
				<li class="operation_flow"><a href="2_02-operation_flow.html"><span>操作の流れ</span></a></li>
				<li class="operation_template"><a href="2_03-operation_template.html"><span>テンプレートの利用</span></a></li>
				<li class="operation_cloud"><a href="2_04-operation_cloud.html"><span>クラウドの利用について</a></span></li>
			</ul>
		</li>

		<li class="nav__category screen">			
			<span>画面説明</span>
			<ul class="category__pages">
				<li class="screen_top"><a href="3_01-screen_top.html"><span>ホーム画面</span></a></li>
				<li class="screen_paper"><a href="3_02-screen_paper.html"><span>用紙選択</span></a></li>
				<%# <li class="screen_tools"><a href="3_03-screen_tools.html"><span>操作画面の共通部分</span></a></li> %>
				<%# <li class="screen_menu"><a href="3_04-screen_menu.html"><span>操作画面のメニュー(DL版のみ)</a></span></li> %>
				<li class="screen_tools"><a href="3_05-screen_save.html"><span>保存画面</span></a></li>
			</ul>
		</li>
	<%# << 元メニュー %>


	<%# >> メニュー修正案 %
		<li class="nav__category operation">			
			<span>操作概要</span>
			<ul class="category__pages">
				<li class="operation_flow"><a href="2_02-operation_flow.html"><span>操作の流れ</span></a></li>
				<li class="operation_tips"><a href="2_01-operation_tips.html"><span>編集ツールの操作方法</span></a></li>
				<li class="screen_tools"><a href="3_03-screen_tools.html"><span>操作画面の共通部分</span></a></li>
				<!-- <li class="operation_cloud"><a href="2_04-operation_cloud.html"><span>クラウドの利用について(4月中)</a></span></li> -->
			</ul>
		</li>

		<li class="nav__category home">			
			<a href="3_01-screen_top.html"><span>ホーム画面</span></a>
		</li>

		<li class="nav__category paper">			
			<a href="3_02-screen_paper.html"><span>用紙選択画面</span></a>
		</li>

		<li class="nav__category template">			
			<a href="2_03-operation_template.html"><span>テンプレート画面</span></a>
		</li>
	%# << メニュー修正案 %>

		<li class="nav__category design">			
			<span>デザイン画面</span>
			<ul class="category__pages">
				<li class="design_main_pane"><a href="4_01-design_main_pane.html"><span>デザイン編集領域</span></a></li>
				<%# <li class="design_controller_l"><a href="4_02-design_controller_l.html"><span>左パネル</span></a></li> %>
				<li class="design_text"><a href="4_03-design_text.html"><span>通常文字</span></a></li>
				<li class="design_text_circle"><a href="4_04-design_text_circle.html"><span>円周文字</span></a></li>
				<%# <li class="design_text_3d"><a href="4_05-design_text_3d.html"><span>3D文字</span></a></li> %>
				<li class="design_text_date"><a href="4_06-design_text_date.html"><span>日付文字</span></a></li>
				<li class="design_img"><a href="4_07-design_img.html"><span>画像</span></a></li>
				<li class="design_square"><a href="4_08-design_square.html"><span>四角形</span></a></li>
				<li class="design_poly"><a href="4_09-design_poly.html"><span>多角形</span></a></li>
				<li class="design_circle"><a href="4_10-design_circle.html"><span>丸</span></a></li>
				<li class="design_straight"><a href="4_11-design_straight.html"><span>直線</span></a></li>
				<li class="design_curve"><a href="4_12-design_curve.html"><span>曲線</span></a></li>
				<li class="design_barcode"><a href="4_13-design_barcode.html"><span>バーコード</span></a></li>
				<li class="design_qrcode"><a href="4_14-design_qrcode.html"><span>QRコード</span></a></li>
				<%# <li class="design_table"><a href="4_15-design_table.html"><span>表</span></a></li> %>
				<%# <li class="design_serial"><a href="4_16-design_serial.html"><span>連番</span></a></li> %>
				<li class="design_sns"><a href="4_17-design_sns.html"><span>SNS連携</a></span></li>
				<%# <li class="design_multiselect"><a href="4_18-design_multiselect.html"><span>複数オブジェクト選択時</span></a></li> %>
				<%# <li class="design_export"><a href="4_19-design_export.html"><span>編集画面の書き出し</span></a></li> %>
				<li class="design_sns"><a href="4_20-design_ar.html"><span>AR</a></span></li>
			</ul>
		</li>

		<li class="nav__category layout">			
			<span>レイアウト画面</span>
			<ul class="category__pages">
				<li class="layout_copy"><a href="5_01-layout_copy.html"><span>デザイン面のコピーと移動</span></a></li>
				<li class="layout_delete"><a href="5_02-layout_delete.html"><span>デザイン面の削除</span></a></li>
				<li class="layout_page"><a href="5_03-layout_page.html"><span>ページの操作</span></a></li>
				<%# <li class="layout_overwrite"><a href="5_04-layout_overwrite.html"><span>塗り足し</span></a></li> %>
			</ul>
		</li>

		<li class="nav__category print">
			<span>印刷画面</span>
			<ul class="category__pages">
				<%# <li class="print_pageset"><a href="6_01-print_pageset.html"><span>印刷ページの設定</span></a></li> %>
				<li class="print_settings"><a href="6_02-print_settings.html"><span>印刷設定</span></a></li>
				<li class="print_export"><a href="6_03-print_export.html"><span>印刷</span></a></li>
			</ul>
		</li>

		<%#
		<li class="nav__category pouring">			
			<span>差し込み画面</span>
			<ul class="category__pages">
				<li class="pouring_operation"><a href="7_01-pouring_operation.html"><span>差し込みの操作説明</span></a></li>
				<li class="pouring_loaddesign"><a href="7_02-pouring_loaddesign.html"><span>差し込みデザインの読み込み</span></a></li>
				<li class="pouring_csv"><a href="7_03-pouring_csv.html"><span>差し込みデータの書き出し・読み込み</span></a></li>
				<li class="pouring_layout"><a href="7_04-pouring_layout.html"><span>差し込み時のレイアウト</span></a></li>
				<li class="pouring_print"><a href="7_05-pouring_print.html"><span>差し込み時の印刷</span></a></li>
			</ul>
		</li>
		%>
	</ul>
</nav>

<!-- メイン部分 -->
<main id="main">
	<article id="main__body">
		<!-- ページタイトル -->
		<h1>
			<span><%= jsonData.cat_name %></span><%- jsonData.page_name %><%
			if (jsonData.page_no === "00") { -%>の概要<%/*について*/ } -%>
		</h1>

		<% 
		for(var i=0; i<=9; i++){
			if( eval('jsonData.section_name_'+i) != '' ){ 
		%>
		<section id="section_<%= i %>" class="sect_wrapper">
			<h2><%= eval('jsonData.section_name_'+i) %></h2> 
			<div class="sect_body"><% 
				// CSSの:empty判定のため、何も(半角スペースも)出さないよう注意

				if( eval('jsonData.section_txt_'+i) != '' ){ %>
				<%- eval('jsonData.section_txt_'+i) %>
			<% } %></div>
			<%# 出力HTML 可読性調整用コメント %>
		</section>

		<%
			}
		}
		%>
	</article>

	<!-- ページ内ナビ -->
	<nav id="nav__page">
		<ul class="section_index smooth sticky"><%
		for(var i=0; i<=9; i++){ 
			if( eval('jsonData.section_name_'+i) != '' ){
				if( i == '0' ){ %>
			<li class=""><a href="#main__body"><%= eval('jsonData.section_name_'+i) %></a></li> <% 
				} else {  %>
			<li class=""><a href="#section_<%= i %>"><%= eval('jsonData.section_name_'+i) %></a></li> <% 
				}
			}
		} %>
		</ul>
	</nav>
</main>

<%- 
/* フッタのinclude */
include(dir_ejs + '_footer.ejs', {page_settings:json_data} ); 
%>