@charset "UTF-8";

//-----------------------------------------------------------------
// 共通関数
//-----------------------------------------------------------------

@mixin clearfix() {
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  // for IE6,IE7
  &:before{
    content: " ";
    display: table;
  }
  & {
    *zoom: 1;
  }
}


@mixin menu-flat{
  @include clearfix;

  li{
  float: left;
  list-style: none outside;
  }
}

@mixin hidden-absolute{
  position: absolute;
  visibility: hidden;
  z-index: 0;
  pointer-events: none;
}

@mixin position-sticky {
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: -webkit-sticky;
  position: sticky;
}

// ==================================================



@mixin test-code{
  header, footer ,p, ul, div, h1{
    margin: 2px 0;
    padding: 2px 0;
    border: 0 solid #cccccc;
    border-width: 1px 0;
  }
  // header, footer ,p, ul, div, h1,
  body > div > div > div > div > div{
    margin: 2px;
    padding: 2px;
    border: 1px solid #cccccc;
  }
  header,footer                {border-color: #996666;}
  body > div > div    dd       {border-color: #ff6666;}
  body > div > div > div       {border-color: #88aadd;}
  body > div > div > div > div {border-color: #dddd99;}
  
  header,footer,
  body > div > div,dd
  body > div > div > div,
  body > div > div > div > div {border-width: 2px 0;}
  
  img{
    background-color: #666;
  }
}



