@charset "UTF-8";
// @import "variables";
// @import "functions";


/* >> 各ページ 個別設定 //////////////////////////S/////////////////////////////// */


// はじめに 
// ------------------------------

#firstly_specification {
    
  h3+ul{
    margin-left: 0;
    padding: 0;
    list-style: none outside;

    li{
      display: inline-block;
      &::after{
        content: ",";
        margin-right: 0.5em;
      }
      &:last-child::after{
        content: none;
        margin-right: 0;
      }
    }
  }

}


// 画面説明 
// ------------------------------

// ホーム画面
#screen_top {

  img[alt^="ボタン"]{
    width: 15%;
    height: auto;
    min-width: 130px; 
  }
  img[alt^="ボタン ファイルを"],
  img[alt^="ボタン 新規作成"],
  img[alt^="ボタン 差し込み"],
  img[alt^="ボタン 一覧"]
  {
    float: left;
    margin-right: 1.5em;
  }
}

#screen_tools{
  img[alt^="上部ツール"]{
    width: 100%;
    min-width: 100%;
    height: auto;
  }

}





/* << 各ページ 個別設定 ///////////////////////////////////////////////////////// */


/* 米印 装飾

em {
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    background-color: #f0f0f0;
    padding: 1.0em 1.5em;
    line-height: 1.6;
    margin: 1.2em 0;
    font-size: 90%;
    border-radius: 0.5em;
}

*/