@charset "UTF-8";

//-----------------------------------------------------------------
// 変数定義
//-----------------------------------------------------------------

// Path
// $Path_css: "./va/css";
$PATH_images: "../images/";

// SIZE
$is_mobile: 768px;
$SCREEN_Mobile-all: 'max-width: 768px';
$SCREEN_PC-all:     'min-width: 768px';
// $pane_main_w: 820px;
// $block_notes_w: 260px;

$header_H: 80px;
$nab_grobal_W: 250px;
$header_plW: 40px;
$main_pH: 60px;
$main_nav-W: 230px;

$mobile_body-padding: 6vw;


// COLOR
$RGB_a1-text:      #555555;
$RGB_a1-bg:        #ffffff;
$RGB_a1-text2:     #000000;
$RGB_a1-bg2:       #f0f0f0; //#f5f5f5;
$RGB_a1-link:      #666666; 
$RGB_a1-link_bg:   #e3f3e6; 
$RGB_a1-link_bg2:  rgba(56, 167, 91, 0.1); 
$RGB_a1-accent:    #288947;
$RGB_a1-accent2:   #e9f7ed;
$RGB_a1-border:    #cccccc;
// #e6f6e6
// #eaf5ec
// #666666
// #f0f0f0	

//border
$BORDER_none:   0 none transparent;
$BORDER_a1: 1px solid $RGB_a1-border; //#eeeeee;

// Font
$FONT-menuArrow: "impact";


/* memo
    background: linear-gradient(to right, #38a85b 0%, #288947 100%);
 */