@charset "UTF-8";
@import "compass"; 
@import "parts";
@import "pages";


/* サイト基本構造
----------------------------------------------------------------- */
// ・オフィシャルサイトの構造を転用して拡張
// ・HTMLで読み込んだオフィシャルサイトのcommon.cssに上書き
// ・オフィシャルサイトのCSSを読み込むのでノーマライズせず
// ・ベンダープレフィックスをcompassの@includeにほぼ依存

/* 

━━━━━━━━━━━━━━━━━━━━━━━
html
┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃  body
┃　┌─────────────────┐
┃　  header#head
┃　┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃　┃ div#wrapper
┃　┃　┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃　┃　┃ div#contents
┃　┃　┃　┌─────────────────┐
┃　┃　┃　  nav#breadcrumb
┃　┃　┃　┌─────────────────┐
┃　┃　┃　  div.sp-anchor-nav // モバイル ページ内移動
┃　┃　┃　┌─────────────────┐
┃　┃　┃　  nav#nav--global // サイドバー
┃　┃　┃　┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃　┃　┃　┃ main#main
┃　┃　┃　┃　┌─────────────────┐
┃　┃　┃　┃　  div#main__body
┃　┃　┌─────────────────┐
┃　┃　  div.apps-popup
┃　┃　┌─────────────────┐
┃　┃　  footer#foot




header#head
┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃  div.head-inner
┃　┌─────────────────┐
┃　  .head-logo
┃　┌─────────────────┐
┃　  p.btn-spmenu 
┃　┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃　┃  nav#gnav-wrap
┃　┃　┌─────────────────┐
┃　┃　  ul.#gnav
┃　┃　┌─────────────────┐
┃　┃　  p.head-btn
┃　┌─────────────────┐
┃　  p.head-logo-aone



nav#nav--global
┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃ ul
┃   li.nav_category
┃   ┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃   ┃ ul.category__pages
┃   ┃   li
┃   ┃     span
┃   ┃     a


main#main
┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃ article#mainbody
┃ ┌───────────────┐
┃   h1
┃ ┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃ ┃ section.sect_parent
┃ ┃ ┌───────────────┐
┃ ┃   h2
┃ ┃ ┌───────────────┐
┃ ┃   div //markdownを展開した各セクションの中身
┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃ nav#nav__page
┃ ┌───────────────┐
┃   ul
┃     li


footer#foot
┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃ div.foot-nav
┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃ div.foot-logo-wrap
┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃ div.sp-foot-nav

*/


// TODO:
// > サイドメニュー突き抜けないか確認
// > 検索の機能
// > 検索の消えるスニペット

// > tips 横幅調整
// > font aesome ローカル化

//-----------------------------------------------------------------


// 共通
// ==================================================

// テストコード 
// --------------------------------------
// html{
//   @extend %testcode;
// }



// ＠mixin
// --------------------------------------
@mixin font_awesome {
  display: inline-block;
  width: 1em;

  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

@mixin dogear{
  position: relative;

  &::after {
    content: " ";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    border: 4.5px solid transparent;
    border-color: transparent #fff #fff  transparent; /* Avoids the 1px 'step' in webkit. Background colour shows through */
  }

}

@mixin img_types {

    img{
      max-width: 800px;
      height: auto;
      border: solid 3px #eeeeee;

      &+img{
        margin-left: 1em;
        vertical-align: bottom;
      }

      &[alt^="全体画面"]{
        width: 90%;
      }
      &[alt^="Objectサンプル"]{
        width: 90%;
      }
      &[alt^="ボタン"]{
        width: auto;
        border: $BORDER_none;
      }
      &[alt^="サイドツール"]{
        width: 50%;
        float: left;
        margin-right: 1em;
      }
      &[alt^="上部ツール"]{
        width: auto;
        max-width: 100%;
        height: 80px;
        border: $BORDER_none;
      }
      &[alt^="POP画像"]{
        border: solid 1px #ccc ;
        @include border-radius(2.3%);
      }
      &[alt*="画像L"]{
        width: 65%;
      }
      &[alt*="画像M"]{
        width: 45%;
      }
      &[alt*="画像S"]{
        width: 30%;
      }
      &[alt*="画像XS"]{
        width: 15%;
      }


      // 個別ページ指定

      // 単一画像指定
      &[alt="全体画面 通常文字フォント変更前"]::after {
        content: ' ';
        display: block;
        width: 50px;
        height: 50px;
      }

    }

}


// FONT
// --------------------------------------
// /*
//  * "source-han-sans" licensed under the SIL Open Font License
//  * https://github.com/adobe-fonts/source-han-sans/
//  */
// @font-face {
//   font-family: "source-han-sans-jp";
//   src: url("../fonts/SourceHanSansJP-Medium.otf") format("opentype"),
//        url("../fonts/SourceHanSansJP-Bold.otf") format("opentype");
//   font-display: swap;
// }


// common.cssのリセット
// --------------------------------------
body {
  // line-height: 1.85;
  // min-width: 1380px;

  #main {
    article::before {
      content: none;
    }
  }

  // 画像アドレス指定 上書き (かんたんマニュアルでは本番時コメントアウト)
  // ------------------------------ 
  .topicpath li:first-child a {
    background-image: url(../common/css/img/topicpath_home02.png);
  }
  .start {
    background-image: url(../common/css/img/foot_start_bg.jpg);
  }
  @media screen and (max-width: 767px){
    .start {
    background-image: url(../common/css/img/foot_start_bg_sp.jpg);
    }
  }
  .bg-img .topicpath li:first-child a {
    background-image: url(../common/css/img/topicpath_home01.png);
  }
  .apps-popup-inner {
    background-image: url(../common/css/img/bg_apps_popup.png);
  }
  select.form-item {
    background-image: url(../common/css/img/bg_select.png);
  }

  #foot{
    margin-top: 0;
  }

}


// 共通表示
// -------------------------------------

body {
  // フォント指定 (引用CSSで指定)
  // font-family: "source-han-sans-japanese", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;

  // テキスト初期化
  header,
  #main,
  #breadcrumb,
  #nav--global {
    font-size: 117%;
    font-weight: normal;
    line-height: 1.15;
    letter-spacing: 0.05em;
  }

  h2, h3, h4, h5, h6{
    clear: both;
  }

  h1,h2,h3,h4,h5,h6,
  ul,ol {
    padding: 0;
    margin: 0;
  }
  h1{
    margin-bottom: 0;
  }
  h2, h3, h4, {
    margin-bottom: 0.8em;
  }
  h3, h4, {
    margin-top: 1em;  
  }

  h1{ font-size: 200%; }
  h2{ font-size: 150%; }
  h3{ font-size: 120%; }
  h4{ font-size: 100%; }

  h1,h2,h4,h5,h6{
    color: $RGB_a1-text2;
  }
  h3{
    color: $RGB_a1_accent
  }
  ul,ol{
    color: $RGB_a1-text;
  }

  em{
    font-style: normal;
    font-weight: bold;
    color: $RGB_a1-text2;
  }
  ul li em{
    margin-right: 0.5em;
  }

  strong{
    // line-height: 1.4;
    font-size: 88%;
    // BG ぬりつぶし版
    display: inline-block;
    padding: 1em 1.5em;
    margin-top: 0.5em;
    font-weight: normal;
    font-style: italic;
    line-height: 1.6;
    letter-spacing: 0.07em;
    color: $RGB_a1-text2;
    background-color: $RGB_a1-link_bg; //#e6f6e6
  }

}


// ヘッダ、ロゴまわりの表示
header {
  .head-logo{
    padding: 4.0vw 0;

    img{
      display: block;
      // height: 4.4vw;
      margin: 0 auto;
    }
    span {
      display: block;
      padding-top: 1.5vw;
      font-size: 3.5vw;
      line-height: 1;
    }
  }
} 

nav#breadcrumb{

  background-color: $RGB_a1-accent;

  ol {
  @include menu-flat;
    li.breadcrumb__dir{
      &::after{
        content: ">";
      }
      &+li{
        margin-left: 0.5em;
      }
      a{
        margin-right: 0.5em;
      }
    }

    li, a, span{
      font-size: 82%;
      color: $RGB_a1-bg;
    }
    li br{
      display: none;
    }

  }
  // リンクなし
  .cat_firstly & ,
  .cat_operation &{
    li.breadcrumb__dir.cat_manual a{
      pointer-events: none;
    }
  }

}

#nav--global {
  display: none;
}

#main{
  margin-left: 0;
  padding: 0;

  #main__body { //.box-center
    padding: 2.67vw;
  }

  // 本体部分内のリンク
  // ------------------------------
  a{
    text-decoration: none;
    color: $RGB_a1-link;
    &:hover{
    color: $RGB_a1_accent;
      img{
        @include opacity(0.5);
      }
    }
  }

  // 外部リンク アイコン表示
  section.sect_wrapper a[href^="http"]{
    display: inline-block;
    padding-left: 0.35em;
    color: #333;
    background-color: $RGB_a1_bg2;
    // background-color: #f0f0f0;

    &:hover{
    color: $RGB_a1-text2;
    // background-color: #f0f0f0;
    // background-color: #e6f6e6; //#eaf5ec
    background-color: $RGB_a1-link_bg; //#eaf5ec
    }

    &::after{
      margin: 0 0.4em;

      @include font_awesome;
      content: "\f35d";
      // content: "\f360";
      font-weight: bold;
      font-size: 90%;
    }

  }
  h3 a{
    display: block;
    color: $RGB_a1_accent;

    &::after{
      margin-left: 0.5em;

      @include font_awesome;
      content: "\f105";
      // https://fontawesome.com/icons/angle-double-right?style=solid f101
      // https://fontawesome.com/icons/external-link-square-alt?style=solid f360
      // https://fontawesome.com/icons/external-link-alt?style=solid f35d
    }
    &:hover::after{
      @include translate(0.1em, 0);
    }
  }

  // h1
  // ------------------------------
  h1 span{
    margin: 0 30px 0.3em 0;
    color: $RGB_a1-accent;
    font-size: 48%;
    display: block;
  }
  // 最初のセクション
  h1 + section.sect_wrapper{
    h2{
      display:  none;
    }
  }

}


// 本文内のスタイル
section.sect_wrapper{

  color: $RGB_a1-text;

  padding: 2em 0.5em 0;
  line-height: 1.6em;
  border-bottom: $BORDER_a1;

  @include clearfix();

  .sect_body{
    padding-bottom: 2em;
    &:empty{
    display: none;
    }
  }

  &:last-child{
    border-bottom: $BORDER_none;
  }

  p{
    margin: 0.5em auto;
  }
  img{
    height: auto;
    border: solid 3px #eeeeee;
  }

  // リスト今日共通
  ol,
  ul{
    margin-left: 1.2em;
    padding: 0.2em 0.5em;

    li{
      line-height: 1.5;
      margin-bottom: 0.6em;
    }
  }
  // 順序なしリスト
  ul{
    list-style: outside disc;

    ul{
      padding: 0.2em 0 0.2em 1.0em;
      list-style: outside circle;
      li{
      }
    }
  }
  .cat_design & p+ul{
    // margin-bottom: 1.8em;
    margin-bottom: 2.2em;
    list-style: inside none;
    margin-left: 0; 
    padding: 0;
  }

}

#foot {
  .foot-nav {
      padding-top: 15px;
  }
}



// mobile のみ適用
// ------------------------------------------------------------------------------
@media screen and ( $SCREEN_Mobile-all ) {

  body{

    h1{
      margin-bottom: 0;
    }

  }

  .head-logo a{
    display: block;
    width: 50%;
    margin: 0 auto;
  }

  .sp-anchor-nav{
    font-size: 3.90vw;
    line-height: 1.5;

    .sp-anchor-nav-current {
      // padding: 2.2vw 13.0vw;
        padding-left:  13.0vw;
        padding-right: 13.0vw;
    }

    .sp-anchor-nav-select {
      li a {
        // padding-top:    1.73vw;
        // padding-bottom: 1.67vw;
        padding-left:  6vw;
        padding-right: 6vw;

        &::after{
          top: 41%;
        }
      }
    }
  }

  #main{
    padding-top: 12vw;

    #main__body {
      padding: $mobile_body-padding*1.3 $mobile_body-padding;
    }
    #nav__page {
      display: none;
    }
  }

  .sect_body > p:first-child{
    margin-top: 0;
  }

  // 最初のセクション
  h1 + section.sect_wrapper{
    padding-left: 0;
    padding-right: 0;
  }

  section.sect_wrapper{
    img{
      width: 100%;

      &[alt^="サイドツール"]{
        display: block;
        // float: left;
        // clear: both;
        width: 70%;
        margin-bottom: 0.5em;
      }
    }
  }

  nav#breadcrumb {
    background-color: #288947;
    padding: 0.7em 6vw;
  }

}


// ------------------------------------------------------------------------------
// PC全体 (PC表示S) , print
// ------------------------------------------------------------------------------
@media screen and ( $SCREEN_PC-all ){


  // common.cssのリセット
  // ----------------------------------------
  body{
    min-width: $is_mobile;

    ul#gnav {
      height: 39px;

      li span{
        line-height: 39px;
        display: none; // サイトマップ撤去
      }
    }

    br.pc-item{
      display: none;
    }
  }


  // アニメーション設定
  // ----------------------------------------
  #nav--global li.nav__category {
    a{
      transition: all 400ms ease 0s;
    }
    & > a::before,
    & > span::before{
      transition: all 400ms ease 0s;
    }
    ul li{
      transition: all 300ms ease 0s;
    }
  }
  #main{
    img {
      transition: all 400ms ease 0s;
    }
    h3 a::after{
      transition: all 200ms ease 0s;
    }
    #nav__page {
      transition: all 400ms ease 0s;
    }
    #nav__page li a{
      transition: all 300ms ease 0s;
    }
  }


  // 左右メニュー マウスオーバー
  // ----------------------------------------
  li.nav__category > a,
  li.nav__category > span,
  li.nav__category li a,
  nav#nav__page li a{
    // @include border-radius(0.3em); 
    background-color: $RGB_a1_bg;

    @include dogear;

    &:hover{
    background-color: $RGB_a1_bg2 !important;
    color: $RGB_a1-text2;
    }
  }


  // レイアウト
  // ----------------------------------------

    #contents{
      @include display-flex;
      flex-wrap: wrap;
      align-items: strech;

      position: relative;
      overflow: visible;
    }

    #breadcrumb{
      width: 100%;
      border-bottom: $BORDER_a1;
    }

    #nav--global{
      @include flex(1 0 $nab_grobal_W); 
      position: relative;
      display: block;
      width:     $nab_grobal_W;
      max-width: $nab_grobal_W;
      max-width: $nab_grobal_W;
      overflow: visible;

      & > ul{
       @include position-sticky;
       top: 20px;
      }
    }

    #main {
      // #nav--global 用の flex
      @include flex(1 0 0%); 
      // #nav__page 用の dislpay:flex
      @include display-flex; 
      margin-left: 0;
      border-left: $BORDER_a1;
  
      #main__body {
        @include flex(none); 
        width: 100%;

        nav {
          border-left: $BORDER_a1;
        }
      }
    }

    footer{
      clear: both;
    }


  // ヘッダ
  // ----------------------------------------
  header{
    .head-logo {
      img{
        display: inline;
        vertical-align: middle;
        margin-right: 40px;
      }
      span{
        display: inline;
        font-size: 100%;
        vertical-align: middle;
      }
    }
    p.head-btn{
      display: none;
    }
  } 


  // パンくず 階層表示
  // ----------------------------------------
  nav#breadcrumb{
    line-height: 35px;
    padding-left: $header_plW;
  }

  .sp-anchor-nav{
    display: none;
  }

  // 左サイドメニュー
  // ----------------------------------------
  #nav--global {
    padding-top: 30px;

    form input,
    & > ul,
    & > ul ul li{
      display: block;
      // width: 80%;
      margin: 0 20px  0 20px;
    } 

    // 検索
    form {
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: $BORDER_a1;

      input{
        font-size: 170%;
      }
    }
    li{
      overflow: hidden;
    }

    // サイドバー ページ一覧
    li.nav__category{
      padding: 0;
      list-style: outside none;
      line-height: 1.4;

      $nav_cat_margin: 0.3em;

      // カテゴリ名
      & > span,
      & > a {
        display: table;
        width: 100%;
        margin-bottom: $nav_cat_margin;
        padding: 0.3em 0 0.3em 0.5em;
        color: $RGB_a1-text2;
        font-weight: bold;
        &::before{
          display: inline-block;
          // font-family: $FONT-menuArrow;
          // content: ">";
          // margin-right: 0.2em;
          @include font_awesome;
          content: "\f105"; // "\f054";
          font-weight: bold;
          color: $RGB_a1-text2;
        }

        span{
          display: table-cell;
          width: 100%;
        }
      }
      & > a:hover{
        color: #{$RGB_a1_accent} !important;
      }

      // ページ名
      ul {
        padding-left: 6%;

        li{
          height: 0;
          width: auto;
          margin: 0;
          &:last-child{
          margin-bottom: $nav_cat_margin;
          }

          a{
            display: table;
            width: 100%;

            span{
              font-size: 90%;
              display: table-cell;
              padding: 0.27em 3px 0.27em 10px;
              color: $RGB_a1-text;
              &:hover{
              color: $RGB_a1-text2;
              }
            }
          }
        }
      }

    }

    // Font Awesome
    /*
    li.nav__category{
      & > a::before,
      & > span::before {
        @include font_awesome;
        // display: inline-block;
        // width: 1em;
        margin-right: 0.5em;

        // font-family: "Font Awesome 5 Free";
        // -webkit-font-smoothing: antialiased;
        // font-variant: normal;
        // text-rendering: auto;
        // line-height: 1;

        text-align: center;
        font-style: normal;
      }
    }
    li.nav__category.firstly   > span::before{ content: "\f518"; } //f52b
    li.nav__category.operation > span::before{ content: "\f245"; }
    li.nav__category.screen    > a::before{ content: "\f2d0"; font-weight: 400;}
    li.nav__category.design    > a::before{ content: "\f304"; } //font-weight: 400; 
    li.nav__category.layout    > a::before{ content: "\f58e"; } //f58e
    li.nav__category.print     > a::before{ content: "\f02f"; }
    li.nav__category.pouring   > a::before{ content: "\f56f"; }

    li.nav__category.home       > a::before{ content: "\f015"; } //
    li.nav__category.paper      > a::before{ content: "\f0c5"; font-weight: 400;} //f15b 
    li.nav__category.template   > a::before{ content: "\f2d2"; } 

    */
    /*

      はじめに
      https://fontawesome.com/icons/book-open?style=solid f518
      https://fontawesome.com/icons/door-open?style=solid f52b
      https://fontawesome.com/icons/door-closed?style=solid
      https://fontawesome.com/icons/egg?style=solid
    
      操作概要
      https://fontawesome.com/icons/mouse-pointer?style=solid
      https://fontawesome.com/icons/sitemap?style=solid f0e8
    
      画面説明
      https://fontawesome.com/icons/window-maximize?style=regular f2d0

      デザイン画面
      https://fontawesome.com/icons/edit?style=regular f044
      https://fontawesome.com/icons/pen?style=solid f304

      印刷画面
      https://fontawesome.com/icons/print?style=solid
    
      差し込み画面
      https://fontawesome.com/icons/file-import?style=solid
      https://fontawesome.com/icons/clone?style=regular
      https://fontawesome.com/icons/images?style=regular

      ホーム画面
      https://fontawesome.com/icons/home?style=solid f015

      https://fontawesome.com/icons/file?style=regular f15b
      https://fontawesome.com/icons/copy?style=regular f0c5

      https://fontawesome.com/icons/window-restore?style=regular f2d2


    
    
      https://fontawesome.com/icons/th-large?style=solid f009
      https://fontawesome.com/icons/grip-vertical?style=solid f58e
      https://fontawesome.com/icons/table?style=solid f0ce

      https://fontawesome.com/icons/laptop?style=solid
      https://fontawesome.com/icons/chalkboard?style=solid

      https://fontawesome.com/icons/comment-alt?style=regular
    */

    // カテゴリ 折りたたみ／開く表示
    li.nav__category:hover,
    .cat_firstly   & li.nav__category.firstly,
    .cat_operation & li.nav__category.operation,
    .cat_screen    & li.nav__category.screen,
    .cat_design    & li.nav__category.design,
    .cat_layout    & li.nav__category.layout,
    .cat_print     & li.nav__category.print,
    .cat_pouring   & li.nav__category.pouring
    {
      // 着色
      & > a,
      & > span{
        color: $RGB_a1-accent;
      }
      // 開く / display で開閉するとアニメーションしない 
      ul li{ 
        height: 1.6em; 
      } 
    }
    li.nav__category:hover{
      & > a,
      & > span{
        background-color: $RGB_a1_bg2;
        // アイコンアクション
        &::before{
          // @include rotate(90deg);
          // @include translate(-0.1em, 0); // 同時に効かない
          @include translate(0.15em, 0);
        }
      }
      & > span:hover{
        background-color: $RGB_a1_bg;
      }

    }
    // 着色
    li:hover{
      & > a,
      & > span{
        color: $RGB_a1-text2;
      }
    }
    // 複数行メニュー別指定 2行
    li.nav__category.firstly:hover ul li:nth-child(2),
    .cat_firstly & li.nav__category.firstly > ul li:nth-child(2),
    li.nav__category.layout:hover ul li:nth-child(1),
    .cat_layout & li.nav__category.layout > ul li:nth-child(1),
    li.nav__category.pouring:hover ul li:nth-child(2),
    .cat_pouring & li.nav__category.pouring > ul li:nth-child(2),
    li.nav__category.pouring:hover ul li:nth-child(3),
    .cat_pouring & li.nav__category.pouring > ul li:nth-child(3)
    {
        height: 3.0em;
    }
    // 複数行メニュー別指定 3行
    li.nav__category.firstly:hover ul li:nth-child(1),
    .cat_firstly & li.nav__category.firstly > ul li:nth-child(1)
    {
        height: 4.1em;
    }

    // li.nav__category--current{
    //   ul li.page--current a span{
    //     pointer-events: none;
    //     cursor: default;
    //     color: $RGB_a1-accent;
    //   }
    // }

    // カレントページのハイライト
    #firstly_about         & li.firstly_about,
    #firstly_caution       & li.firstly_caution,
    #firstly_specification & li.firstly_specification,
    #firstly_features      & li.firstly_features,
    #operation_tips        & li.operation_tips,
    #operation_flow        & li.operation_flow,
    #operation_template    & li.operation_template,
    #operation_cloud       & li.operation_cloud,
    #screen_index          & li.screen_index,
    #screen_top            & li.screen_top,
    #screen_paper          & li.screen_paper,
    #screen_tools          & li.screen_tools,
    #screen_menu           & li.screen_menu,
    #design_index          & li.design_index,
    #design_main_pane      & li.design_main_pane,
    #design_controller_l   & li.design_controller_l,
    #design_text           & li.design_text,
    #design_text_circle    & li.design_text_circle,
    #design_text_3d        & li.design_text_3d,
    #design_text_date      & li.design_text_date,
    #design_img            & li.design_img,
    #design_square         & li.design_square,
    #design_poly           & li.design_poly,
    #design_circle         & li.design_circle,
    #design_straight       & li.design_straight,
    #design_curve          & li.design_curve,
    #design_barcode        & li.design_barcode,
    #design_qrcode         & li.design_qrcode,
    #design_table          & li.design_table,
    #design_serial         & li.design_serial,
    #design_sns            & li.design_sns,
    #design_multiselect    & li.design_multiselect,
    #design_export         & li.design_export,
    #layout_index          & li.layout_index,
    #layout_copy           & li.layout_copy,
    #layout_delete         & li.layout_delete,
    #layout_page           & li.layout_page,
    #layout_overwrite      & li.layout_overwrite,
    #print_index           & li.print_index,
    #print_pageset         & li.print_pageset,
    #print_settings        & li.print_settings,
    #print_export          & li.print_export,
    #pouring_index         & li.pouring_index,
    #pouring_operation     & li.pouring_operation,
    #pouring_loaddesign    & li.pouring_loaddesign,
    #pouring_csv           & li.pouring_csv,
    #pouring_layout        & li.pouring_layout,
    #pouring_print         & li.pouring_print
    {
      a span{
        color: $RGB_a1_accent;
      }
    }

    li.nav__category.design > ul li{
      width: 50%;
      display: inline-block;
      float: left;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(17),
      &:nth-child(18){
        width: 100%;
        clear: left;
      }

    }

  }


  // main
  // ----------------------------------------
  #main{
    padding: $main_pH 50px ;

    #main__body{
      position: relative;
      padding: 0;
    }

    h1{
      font-size: 300%;

      span{
        margin: 0 30px 0.3em 0;
        color: $RGB_a1-accent;
        font-size: 51%;
        display: block;
      }
    }

    // 最初のセクション
    h1 + section.sect_wrapper{
      // margin-bottom: 60px;

      h2{
        display:  none;
      }
      .sect_body{
        padding-bottom: 1.5em;
        font-size: 115%;
        line-height: 2em;
        &:empty{
        display: none;
        }

        p:first-child{
          margin-top: 0;
          &:last-child{
          margin-bottom: 0;
          }
        }
      }
    }

    section.sect_wrapper{
      padding-top: 10px;
      padding: 2em 0.0em;
      margin-bottom: 25px;
      line-height: 2em;
    }

    // 最初のセクション
    h1 + section.sect_wrapper{
      .sect_body{
        padding-bottom: 2em;
        line-height: 2em;
        font-size: 115%;
      }
    }

  }

  // PC 本文内のスタイル
  // ----------------------------------------
  section.sect_wrapper {
    // font-size: 98%;

    & > *:last-child{
      margin-bottom:  0 !important;
      padding-bottom: 0 !important;
    }

    h3, h4, h5{
      padding-top: 0.8em;
    }
    h2{ 
      font-size: 2em;
      margin-bottom: 25px;
    }
    h3{ 
      font-size: 1.5em;
      margin-bottom: 15px;
    }
    h4{ 
      font-size: 1.2em;
      margin-bottom: 10px;
    }
    h6{
      font-weight: normal; 
      margin: 2.0em auto 1.5em;
    }

    p{
      margin: 1.0em auto;
    }

    @include img_types;

    img{
      &[alt^="ボタン"]{
        height: 60px;
      }
      &[alt^="サイドツール"]{
        min-width: 240px;
      }
    }


    // サイドツールの隣接リスト
    #pouring_operation,
    .cat_design {
      & p+ul{
        margin-top: -0.5em;
      }
    }

  }

  // ページ内見出し
  // ------------------------------
  nav#nav__page{
    // 非 flexの表示
    // position: absolute;
    // width: $main_nav-W - 30px;
    // padding-left: 1.2em;

    // PC表示L 以外では非表示
    display: none;
    @include opacity(0);
    z-index: 0;
    right: 5em;

    // flex
    @include flex(1 0 $main_nav-W);
    width:     $main_nav-W;
    max-width: $main_nav-W;
    min-width: $main_nav-W;
    overflow: visible;
    // position: relative;

    padding-left: 0;

    ul{
      @include position-sticky;
      top: 20px;

      margin: 0;
      padding: 0.1em 0 0.1em 1.2em;
      border-left: $BORDER_a1;

      li{
        line-height: 1.5;
        list-style: outside none;
        margin-bottom: 0;//.5em;

        &:first-child a{
          font-size: 105%;
          color: $RGB_a1-text2;
          font-weight: bold;
        }

        a{
          display: block;
          padding: 0.4em 0.5em;
          font-size: 88%;
          letter-spacing: 0.04em;
          // PC表示L 以外では非表示
          cursor: default;
          pointer-events: none;
        }
      }
    }
  }


  // フッタ
  // ----------------------------------------
  footer{
    $footer_block-H: 55px;

    .foot-nav {
      padding-left: 0;
    }
    .foot-nav-policy {
      right: 52px;
      bottom: 0; 
    }
    .box-center {
      width: 1300px;
      width: auto;
    }

    #copy,
    #logo--3m .text{
      font-size: 50%;
      padding-left: 70px;
    }
    #copy{
      height: $footer_block-H;
      line-height: $footer_block-H;
      background-color: $RGB_a1-bg2;
    }
    #logo--3m{
      @include clearfix(); 
      height: $footer_block-H;
      line-height: $footer_block-H;

      .text{
        float: left;
      }
      a.link--ext{
        float: right;
        display: table-cell;
        padding: $footer_block-H*0.2 0;
        margin-right: 22px;
        vertical-align: middle;

        img{
          width: 152px;
          height: auto;
        }
      }
    }

  }


} // << min-width: $is_mobile


// PC表示M
// ------------------------------------------------------------------------------
@media screen and (min-width: 1000px){

  body{
    br.pc-item{
      display: inline;
    }
  }
  // デザイン画面カテゴリ内 [alt^="サイドツール"] 
  section.sect_wrapper{
    img{

      &[alt^="サイドツール"]{
        float: left;
        clear: both;
        width: 30%;
        // padding-left: 1em;
        // min-width: 240px;
        margin-right: 1.2em;
        margin-bottom: 1.5em;
      }

    }

    // [alt^="サイドツール"] の隣接リスト
    #pouring_operation &,
    .cat_design &{
      p+ul{
        float: left;
        width: 60%;
        margin: 0 0 1.5em;
        padding-left:  0;
        padding-right: 0;
        list-style: none outside;
      }
    }

    #operation_tips &#section_7{
      ol{
        float: left;
        width: 60%;
      }
    }

  }

  #main {

    h1 {
      font-size: 320%;
      span{
        font-size: 48%;
      }
    }
    nav#nav__page{
      display: block;
    }
  }

} // << min-width: 1000px

// PC表示L
// ------------------------------------------------------------------------------
@media screen and (min-width: 1250px){

  #main {
    #main__body {
      @include flex(1 0 0%); 
      padding-right: 50px;

      // ページ内見出し
    }
    nav#nav__page{
      @include opacity(1);
      right: 0;
      // width: auto;

      a{
        cursor: pointer;
        pointer-events: auto;
      }
    }
  }

} // << min-width: 1250px


// プリンタ表示
// ------------------------------------------------------------------------------
// @media screen, print{
@media print{

  // 左サイドメニュー
  // ----------------------------------------

  #head, 
  #wrapper,
  nav#breadcrumb,
  #main,
  #foot
  {
    width: 100%;
  }

  .box-center {
    width: auto;
  }


  body {
    min-width: $is_mobile;
    margin: 0;
    padding: 0;

    // 非表示
    #nav--global,
    #nav__page {
      display: none !important;
    }

    #head,
    nav#breadcrumb,
    #main {
      font-size: 100%;
    }

    #wrapper{
      margin: 0;
      padding: 0;
    }

    #head{
      padding: 0.5vw 0;

      .head-inner{
        height: 10vw;  
      }

      img{
        border: $BORDER-none;
      }
      .head-logo {
        left: 0;
        img{
          display: inline;
          vertical-align: middle;
          // margin-right: 40px;
          width: 20vw;
          margin-right: 3vw;
        }
        span{
          display: inline;
          font-size: 100%;
          vertical-align: middle;
        }
      }
      #gnav,
      p.head-btn{
        display: none;
      }
      .head-logo-aone {
        right: 0;
        padding-top: 3vw;

        img{ width: 10vw; }
      }
    }

    nav#breadcrumb {
      line-height: 1;
      padding: 0.9em 0;
      border-top:    $BORDER_a1;
      border-bottom: $BORDER_a1;
    }

    #main {
      clear: both;
      padding: 1em 0 !important;
      margin-left: 0;
      border-left: $BORDER_none;

      #main__body { 
        padding-right: 0; 
      }
    }

    strong{
      border: $BORDER-a1;
    }

    @include img_types;

    img{
      &[alt^="全体画面"],
      &[alt^="Objectサンプル"]{
        width: 75%;
      }
      &[alt^="サイドツール"]{
        float: left;
        clear: both;
        width: 30%;
        margin-right: 1.2em;
        margin-bottom: 1.5em;
      }
    }
    p img{
      margin: 1em 0;
    }

  }

  // flat まわりの調整
  #pouring_operation section.sect_wrapper,
  .cat_design section.sect_wrapper{
    p+ul{
      float: left;
      // float: right;
      width: 60%;
      margin: 0 0 1.5em;
      padding-left:  0;
      padding-right: 0;
      list-style: none outside;
    }
    h3+p,
    ul+p{
      clear: both;

      img{
        margin-top: 0 !important;
      }
    }
  }
  #screen_top section.sect_wrapper{
    img[alt^="ボタン"]{
      width: 13%;
      margin-top: 0 !important;
      min-width: auto; 
    }
  }

  .foot-nav {
    padding-left: 0;
    border-top:    $BORDER_a1;
    border-bottom: $BORDER_a1;
  }
  .foot-nav-policy {
    // right: 52px;
    // bottom: 0; 
    display: none;
  }


} // << プリンタ表示











