@charset "UTF-8";
/**
 * Common Styles
 *
 * 01. Reset
 * 02. Base
 * 03. Layout
 * 04. Parts
 *
 */
/* ==========================================================================
   01. Reset
   ========================================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

a {
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* ==========================================================================
   02. Base
   ========================================================================== */
html {
  color: #1a1a1a;
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
  font-family: "source-han-sans-japanese", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 140%;
  font-weight: 500;
}

body * {
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

#main {
  display: block;
}

/* link
   ========================================================================== */
a {
  -webkit-transition: color .2s ease;
  color: #1a1a1a;
  text-decoration: none;
  transition: color .2s ease;
}

a:visited {
  color: #1a1a1a;
  text-decoration: none;
}

a:hover {
  color: #38a75b;
}

#main a {
  text-decoration: underline;
}

/* image
   ========================================================================== */
img {
  height: auto;
  line-height: 1;
  max-width: 100%;
  vertical-align: top;
}

table th img,
table td img {
  vertical-align: middle;
}

/* form
   ========================================================================== */
input,
textarea,
label {
  vertical-align: middle;
}

/* display
   ========================================================================== */
.block {
  display: block;
}

.sp-item {
  display: none;
}

.pc-block {
  display: block;
}

/* float
   ========================================================================== */
.clearfix::after,
.fbox::after {
  clear: both;
  content: "";
  display: block;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

ul.fbox li {
  display: inline;
  float: left;
}

/* margin
   ========================================================================== */
.mt0 {
  margin-top: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt55 {
  margin-top: 55px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

/* padding
   ========================================================================== */
.pt0 {
  padding-top: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

/* text-align
   ========================================================================== */
.text-r {
  text-align: right !important;
}

.text-c,
table.text-c th,
table.text-c td,
table.th-c th {
  text-align: center !important;
}

.text-l {
  text-align: left !important;
}

/* font size
   ========================================================================== */
.fs13 {
  font-size: 13px;
  font-size: 1.3rem;
}

.fs14 {
  font-size: 14px;
  font-size: 1.4rem;
}

.fs15 {
  font-size: 15px;
  font-size: 1.5rem;
}

.fs16 {
  font-size: 16px;
  font-size: 1.6rem;
}

/* ==========================================================================
   03. Layout
   ========================================================================== */
/* base
   ========================================================================== */
html {
  height: 100%;
}

body {
  height: 100%;
}

#contents {
  overflow: hidden;
  position: relative;
}

.cont-wrap {
      -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  position: relative;
}

/* header
   ========================================================================== */
#head {
  padding: 22px 0 24px;
}

.head-inner {
  position: relative;
}

.head-logo {
  -webkit-transform: translateY(-50%);
  left: 40px;
  position: absolute;
  top: 50%;
          transform: translateY(-50%);
}

.head-btn {
  letter-spacing: .1em;
  margin-left: 38px;
  width: 185px;
}

.head-btn .btn {
  display: block;
}

.head-btn .btn01 {
  padding: 10px 30px 11px 20px;
}

.head-logo-aone {
  position: absolute;
  right: 30px;
  top: 6px;
}

/* navigation
   ========================================================================== */
#gnav-wrap {
      -ms-flex-align: center;
      -ms-flex-pack: end;
  -webkit-box-align: center;
  -webkit-box-pack: end;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          justify-content: flex-end;
  padding-right: 120px;
}

#gnav {
      -ms-flex-align: end;
  -webkit-box-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#gnav > li {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 48px;
}

#gnav > li:first-child {
  margin-left: 0;
}

#gnav > li.active {
  color: #38a75b;
}

#gnav > li.activeParent a {
  color: #38a75b;
}

#gnav > li.activeParent .gnav-child-list a {
  color: #1a1a1a;
}

#gnav span {
  display: block;
}

.gnav-child-wrap {
  display: none;
}

/* main
   ========================================================================== */
#main {
  position: relative;
}

#main:before {
  content: '';
  display: block;
  height: 366px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.bg-cmn #main {
  padding-top: 97px;
}

.bg-cmn #main:before {
  background: -webkit-gradient(linear, left top, right top, from(#38a85b), to(#288947));
  background: linear-gradient(to right, #38a85b 0%, #288947 100%);
  height: 266px;
}

.bg-img #main {
  padding-top: 197px;
}

.bg-img #main:before {
  height: 367px;
}

.main-cont {
  width: 980px;
}

/* side
   ========================================================================== */
.side {
  padding-right: 80px;
  position: relative;
  width: 240px;
}

.side .side-nav {
  position: static;
  width: 160px;
}

.side.is-fixed {
  left: inherit;
  position: fixed;
  top: 0;
}

.side a {
  text-decoration: none !important;
}

.is-fixed .side .side-nav {
  position: fixed;
  top: 0;
}

.side-nav li {
  border-bottom: 1px solid #ddd;
  margin-bottom: 17px;
  position: relative;
}

.side-nav li a {
  display: block;
  padding: 10px 10px 5px 10px;
  position: relative;
}

.side-nav li a:before, .side-nav li a:after {
  content: '';
  display: block;
  position: absolute;
  right: 15px;
}

.side-nav li a:before {
  -webkit-transform: translateY(-50%) rotate(45deg);
  border-right: 1px solid #888;
  border-top: 1px solid #888;
  content: '';
  display: block;
  height: 4px;
  top: 55%;
          transform: translateY(-50%) rotate(45deg);
  width: 4px;
}

.side-nav li a:after {
  -webkit-transform: translateY(-50%);
  background-color: #888;
  height: 1px;
  top: 55%;
          transform: translateY(-50%);
  width: 8px;
}

.side-nav li a.current {
  color: #38a75b;
}

.side-nav li a.current:before, .side-nav li a.current:after {
  right: 5px;
}

.side-nav li a.current:before {
  border-color: #38a75b;
}

.side-nav li a.current:after {
  background-color: #38a75b;
  width: 18px;
}

.side-nav li:after {
  background-color: #38a75b;
  bottom: -1px;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

/* footer
   ========================================================================== */
#foot {
  margin-top: 100px;
  position: relative;
}

/* SP　固定ナビ */

/* さっそく、はじめましょうと商品情報
   ========================================================================== */
.foot-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot-box-set {
      -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  height: 450px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

.foot-box-start {
  background: url(../images/foot_start_bg.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
}

.foot-box-set-inner {
  -webkit-transform: translateY(-50%);
  left: 0;
  position: absolute;
  top: 50%;
          transform: translateY(-50%);
  width: 100%;
}

.foot-box-start-ttl {
  color: #FFF;
  font-size: 35px;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1;
}

.foot-box-start-btn {
  font-size: 21px;
  font-size: 2.1rem;
  font-weight: 700;
  margin: 44px auto 0;
  width: 560px;
}

.foot-box-start-btn .btn {
  display: block;
}

.foot-box-start-label9 {
  bottom: 20px;
  font-size: 15px;
  font-size: 1.5rem;
  position: absolute;
  right: 30px;
  text-align: right;
}

.foot-box-start-label9 a {
  color: #FFF;
}

.foot-box-product {
  background: url(../images/foot_prd_bg.jpg) no-repeat center center;
  background-size: cover;
}

.foot-box-product .foot-box-set-inner {
  left: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  width: 420px;
}

.foot-box-product-lead {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.6;
  margin-top: 23px;
}

.foot-box-product-btn {
  font-size: 18px;
  font-size: 1.8rem;
  margin-top: 32px;
}

.foot-box-product-btn .btn {
  display: block;
}

/* フッターナビ
   ========================================================================== */
.foot-nav {
  background-color: #f5f5f5;
  padding-bottom: 15px;
  padding-top: 55px;
}

.foot-nav-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
}

.foot-logo {
  width: 309px;
}

.foot-nav-set {
  width: 170px;
}

.foot-nav-set.foot-nav-template {
  width: 420px;
}

.foot-nav-ttl {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
  margin-bottom: 30px;
  margin-top: 40px;
}

.foot-nav-ttl:first-child {
  margin-top: 0;
}

.foot-nav-list li {
  font-size: 13px;
  font-size: 1.3rem;
}

.foot-nav-list a {
  color: #888;
}

.foot-nav-list a:hover {
  color: #38a75b;
}

.foot-nav-template .foot-nav-list {
  -ms-flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
}

.foot-nav-template .foot-nav-list li {
  width: 50%;
}

.foot-nav-policy {
  bottom: calc(1.75em + 67px);
  font-size: 13px;
  font-size: 1.3rem;
  position: absolute;
  right: 104px;
}

.foot-nav-policy a {
  color: #888;
}

.foot-nav-policy a:hover {
  color: #38a75b;
}

.foot-nav-copyright {
  color: #888;
  font-size: 11px;
  font-size: 1.1rem;
}

.foot-logo-wrap {
  padding-bottom: 16px;
  padding-top: 16px;
  position: relative;
}

.foot-logo-trademarks {
  color: #888;
  float: left;
  font-size: 13px;
  font-size: 1.3rem;
}

.foot-logo-3m {
  float: right;
  text-align: right;
}

/* ページトップ
   ========================================================================== */
/* ==========================================================================
   04. Parts
   ========================================================================== */
/* ボックス
   ========================================================================== */
/* センターボックス */
.box-center {
  position: relative;
}

/* フルボックス（左右余白あり） */
.box-full {
  padding-left: 30px;
  padding-right: 30px;
}

/* 背景色ボックス */
.box-bg01 {
  background: rgba(56, 167, 91, 0.1);
}

/* 下層共通の白背景ボックス */
.cmn-sct-wrap {
  position: relative;
  z-index: 5;
}

.cmn-sct {
  padding-top: 80px;
}

#main > article {
  padding-top: 60px;
  position: relative;
}

#main > article:before {
  -webkit-transform: translateX(-50%);
  background-color: #FFF;
  content: '';
  display: block;
  height: 170px;
  left: 50%;
  max-width: 1300px;
  position: absolute;
  top: 0;
          transform: translateX(-50%);
  width: 100%;
}

/* 上にグレーボーダー */
.line-top {
  border-top: 1px solid #ddd;
}

/* 横並びボックス */

/* 画像・テキスト 横配置 */

/* ボタン
   ========================================================================== */
/* ボタンの基本スタイル */
.btn {
  -webkit-transition: all 0.2s ease;
  border-radius: 5em;
  display: inline-block;
  line-height: 1.2;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  transition: all 0.2s ease;
}

.btn.arrow01 {
  position: relative;
}

.btn.arrow01:after {
  -webkit-transform: translateY(-50%) rotate(45deg);
  content: '';
  display: block;
  height: 5px;
  position: absolute;
  right: 32px;
  top: 50%;
          transform: translateY(-50%) rotate(45deg);
  width: 5px;
}

.btn[target="_blank"]:after {
  -webkit-transform: translateY(-50%);
  display: block;
  height: 10px;
  margin: 0;
  position: absolute;
  right: 22px;
  top: 50%;
          transform: translateY(-50%);
  width: 11px;
}

/* スタイル別クラス */
.btn01 {
  background-color: #38a75b;
  border: 1px solid #38a75b;
  color: #fff;
  font-weight: 700;
  padding: 10px 20px 11px;
}

.btn01:visited {
  color: #fff;
}

.btn01:hover {
  background-color: #fff;
  color: #38a75b;
}

.btn01:hover.arrow01:after {
  border-color: #38a75b;
}

.btn01[target="_blank"]:after {
  background: url(/common/css/img/icon_window_w.svg) no-repeat left top;
  background-size: cover;
}

.btn01[target="_blank"]:hover:after {
  background: url(/common/css/img/icon_window_gre.svg) no-repeat left top;
  background-size: cover;
}

.btn02 {
  background-color: #38a75b;
  border: 1px solid #FFF;
  color: #fff;
  padding: 15px 20px 16px;
}

.btn02:visited {
  color: #fff;
}

.btn02.arrow01 {
  padding: 15px 47px 16px;
  position: relative;
}

.btn02.arrow01:after {
  border-right: 1px solid #FFF;
  border-top: 1px solid #FFF;
}

.btn02:hover {
  background-color: #fff;
  border: 1px solid #38a75b;
  color: #38a75b;
}

.btn02:hover.arrow01:after {
  border-color: #38a75b;
}

.btn02[target="_blank"]:after {
  background: url(/common/css/img/icon_window_gre.svg) no-repeat left top;
  background-size: cover;
}

.btn02[target="_blank"]:hover:after {
  background: url(/common/css/img/icon_window_w.svg) no-repeat left top;
  background-size: cover;
}

.btn03 {
  background-color: #FFF;
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
  padding: 15px 47px 16px;
}

.btn03:visited {
  color: #1a1a1a;
}

.btn03.arrow01 {
  border-color: #1a1a1a;
  position: relative;
}

.btn03.arrow01:after {
  border-right: 1px solid #1a1a1a;
  border-top: 1px solid #1a1a1a;
  border-width: 2px;
}

.btn03:hover {
  background: rgba(56, 167, 91, 0.1);
  color: #1a1a1a;
}

.btn03.back.arrow01:after {
  -webkit-transform: translateY(-50%) rotate(-135deg);
  left: 32px;
  right: auto;
          transform: translateY(-50%) rotate(-135deg);
}

.btn04 {
  background-color: #FFF;
  border: 1px solid #38a75b;
  color: #38a75b;
  padding: 15px 20px 16px;
}

.btn04:visited {
  color: #38a75b;
}

.btn04.arrow01 {
  border-color: #38a75b;
  padding: 15px 47px 16px;
  position: relative;
}

.btn04.arrow01:after {
  border-right: 1px solid #38a75b;
  border-top: 1px solid #38a75b;
  border-width: 2px;
}

.btn04:hover {
  background-color: #38a75b;
  color: #FFF;
}

.btn04:hover.arrow01 {
  border-color: #FFF;
}

.btn04:hover.arrow01:after {
  border-color: #FFF;
}

.btn04.back.arrow01:after {
  -webkit-transform: translateY(-50%) rotate(-135deg);
  left: 32px;
  right: auto;
          transform: translateY(-50%) rotate(-135deg);
}

/* センターボタン */
.btn-center {
  margin-top: 80px;
  text-align: center;
}

.btn-center .btn {
  font-size: 18px;
  font-size: 1.8rem;
  min-width: 450px;
}

/* ボタンレイアウト */
.btn-list {
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

.btn-list li {
  padding: 0 10px;
  width: 40%;
}

.btn-list li:nth-child(n+3) {
  margin-top: 20px;
}

/* フォーム
   ========================================================================== */
form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  color: #bababa;
}

form input::-moz-placeholder,
form textarea::-moz-placeholder {
  color: #bababa;
}

form input:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
  color: #bababa;
}

form input::-ms-clear {
  visibility: hidden;
}

form input::-ms-reveal {
  visibility: hidden;
}

form textarea {
  resize: vertical;
}

select::-ms-expand {
  background-color: transparent;
  border: 0;
  display: none;
}

/* フォームアイテム
   ----------------------------------------------------------------------- */
.form-item, .form-btn a,
.form-btn button,
.form-btn input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  margin: 0;
  outline: none;
  padding: 0;
}

.form-item {
  -webkit-transition: border-color 0.2s ease, -webkit-box-shadow 0.2s ease;
  -webkit-transition: border-color 0.2s ease, box-shadow 0.2s ease;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #1a1a1a;
  display: block;
  font-family: "source-han-sans-japanese", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif !important;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.5;
  min-height: 41px;
  padding: 6px 20px 9px;
  transition: border-color 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  transition: border-color 0.2s ease, box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
  width: 100%;
}

.form-item:focus {
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-color: #fff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

select.form-item {
  background: #fff url(../images/bg_select.png) no-repeat right center;
  background-size: contain;
  padding-right: 30px !important;
}

.form-inline {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 1rem;
}

.form-inline:last-child {
  margin-right: 0;
}

.form-inline label {
  display: inline-block;
  padding-left: .25rem;
}

/* フォームボタン
   ----------------------------------------------------------------------- */
.form-btn {
  text-align: center;
}

.form-btn a,
.form-btn button,
.form-btn input {
  cursor: pointer;
  font-family: "source-han-sans-japanese", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif !important;
  width: 100%;
}

.form-btn-submit,
.form-btn-srch {
  -webkit-transition: background-color ease .2s;
  background-color: #38a75b;
  border: 1px solid #38a75b;
  color: #FFF;
  cursor: pointer;
  font-weight: 700;
  transition: background-color ease .2s;
}

.form-btn-submit:hover,
.form-btn-srch:hover {
  background-color: #FFF;
  color: #38a75b;
}

.form-btn-srch {
  padding: 10px 30px 10px 18px;
}

.form-btn-srch path {
  -webkit-transition: all .2s ease;
  color: #FFF;
  fill: currentColor;
  transition: all .2s ease;
}

.form-btn-srch:hover path {
  color: #38a75b;
  fill: currentColor;
}

.form-btn-srch-icon {
  margin-right: 8px;
  vertical-align: middle;
  width: 12px;
}

.form-btn-srch-icon svg {
  height: auto;
  width: 12px;
}

/* アイコン
   ========================================================================== */
/*

icomoonを使用する場合はコメントアウトを外してください

@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/icomoon.eot?n6dhp8');
  src: url('fonts/icomoon.eot?n6dhp8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?n6dhp8') format('truetype'),
    url('fonts/icomoon.woff?n6dhp8') format('woff'),
    url('fonts/icomoon.svg?n6dhp8#icomoon') format('svg');
}

[class*=" icon-"],
[class^="icon-"] {
  &::before {
    color: $color-link;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

*/
/* テキストの頭に矢印アイコン */
#main .icon-arrow01 {
  padding-left: 19px;
  position: relative;
  text-decoration: none;
}

#main .icon-arrow01:before {
  -webkit-transform: rotate(45deg);
  border-right: 2px solid #38a75b;
  border-top: 2px solid #38a75b;
  content: '';
  display: block;
  height: 6px;
  left: 0;
  position: absolute;
  top: 8px;
          transform: rotate(45deg);
  width: 6px;
}

#main .icon-arrow02 {
  padding-left: 19px;
  position: relative;
  text-decoration: none;
}

#main .icon-arrow02:before {
  -webkit-transform: rotate(45deg);
  border-right: 2px solid #FFF;
  border-top: 2px solid #FFF;
  content: '';
  display: block;
  height: 6px;
  left: 0;
  position: absolute;
  top: 8px;
          transform: rotate(45deg);
  width: 6px;
}

/* リンク
   ========================================================================== */
/* 新規ウィンドウ */
a[target="_blank"]::after {
  background: url(../images/icon_window.svg) no-repeat left top;
  background-size: cover;
  content: '';
  display: inline-block;
  height: 9px;
  margin: 0 5px;
  vertical-align: middle;
  width: 10px;
}

a[target="_blank"].no-icon:after {
  display: none;
}

/* PDF */
a[href$=".pdf"]::after {
  background: url(../images/icon_pdf.svg) no-repeat left top;
  display: inline-block;
  height: 1.2em;
  margin: 0 5px;
  vertical-align: text-bottom;
  width: 1.2em;
}

/* リスト
   ========================================================================== */
/* 黒丸付きリスト */
.list-disc {
  margin-left: 1.5em;
}

.list-disc > li {
  list-style-type: disc;
}

.list-disc > li:last-child {
  margin-bottom: 0;
}

/* 番号付きリスト */
.list-decimal {
  margin-left: 1.5em;
}

.list-decimal > li {
  list-style-type: decimal;
  margin-bottom: 10px;
}

.list-decimal > li:last-child {
  margin-bottom: 0;
}

/* 注釈リスト */
.list-note > li {
  color: #888;
  margin-left: 1em;
  text-indent: -1em;
}

/* 三角アイコンリスト */
.list-arrow-link {
  margin-top: 25px;
}

.list-arrow-link li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.list-arrow-link li:last-child {
  margin-bottom: 0;
}

.list-arrow-link li:after {
  -webkit-transform: rotate(45deg);
  border-right: 2px solid #38a75b;
  border-top: 2px solid #38a75b;
  content: '';
  display: block;
  height: 6px;
  left: 0;
  position: absolute;
  top: .75em;
          transform: rotate(45deg);
  width: 6px;
}

.list-arrow-link a {
  text-decoration: none !important;
}

/* テンプレートのリスト */
.temp-item-nav {
  -ms-flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
}

.temp-item-nav li {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 28px;
  min-height: 57px;
  width: 25%;
}

.temp-item-nav li a {
      -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  text-decoration: none !important;
}

.temp-item-nav li a:hover .item-nav-icon-img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.item-nav-icon-img,
.item-nav-name {
  display: inline-block;
}

.item-nav-icon-img {
  -webkit-transition: -webkit-transform .2s ease;
  height: 68px;
  text-align: center;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  width: 68px;
}

.item-nav-icon-img path {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.temp-item-nav a .de-svg path,
.temp-item-nav a .de-svg rect,
.temp-item-nav a .de-svg polygon {
  color: #38a75b;
  fill: #959595;
}

.temp-item-nav a:hover .de-svg path,
.temp-item-nav a:hover .de-svg rect,
.temp-item-nav a:hover .de-svg polygon {
  color: #38a75b;
  fill: currentColor;
}

.item-nav-name {
  padding-left: 16px;
}

/* ボックスリスト */
.list-box-link {
  -ms-flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
}

.list-box-link li {
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
  width: 313px;
}

.list-box-link li:nth-child(3n) {
  margin-right: 0;
}

.list-box-link a {
  background-color: #f5f5f5;
  border-bottom: 3px solid #38a75b;
  display: block;
  padding: 26px 0;
  text-decoration: none !important;
}

/* 質問リスト */
.list-q {
  margin-top: -20px;
}

.list-q li {
  border-bottom: 1px solid #ddd;
  font-size: 13px;
  font-size: 1.3rem;
  padding: 27px 0 5px 36px;
  position: relative;
}

.list-q a {
  text-decoration: none !important;
}

.list-q .font-eng-b {
  color: #888;
  font-size: 20px;
  font-size: 2rem;
  left: 5px;
  position: absolute;
  top: 19px;
}

/* Movie
   ========================================================================== */
#movie-popup {
      -ms-flex-align: center;
      -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-transition: opacity 0.4s ease;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  height: 100%;
          justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.4s ease;
  visibility: hidden;
  width: 100%;
  z-index: 1000;
}

#movie-popup.-visible {
  opacity: 1;
  visibility: visible;
}

#movie-popup.-visible #movie-popup-yt {
  -webkit-transform: scale(1) translate(0, 0) skew(0deg, 0deg);
  opacity: 1;
          transform: scale(1) translate(0, 0) skew(0deg, 0deg);
}

#movie-popup-yt {
  -webkit-transform: scale(1.1) translate(100px, 100px) skew(0deg, -5deg);
  -webkit-transition: opacity 0.8s ease 0.4s, -webkit-transform 0.8s ease 0.4s;
  opacity: 0;
          transform: scale(1.1) translate(100px, 100px) skew(0deg, -5deg);
  transition: opacity 0.8s ease 0.4s, -webkit-transform 0.8s ease 0.4s;
  transition: opacity 0.8s ease 0.4s, transform 0.8s ease 0.4s;
  transition: opacity 0.8s ease 0.4s, transform 0.8s ease 0.4s, -webkit-transform 0.8s ease 0.4s;
}

.movie-popup-close {
  -webkit-transition: -webkit-transform 0.4s ease;
  border: 1px solid #fff;
  border-radius: 30px;
  cursor: pointer;
  height: 60px;
  position: fixed;
  right: 30px;
  top: 30px;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  width: 60px;
}

.movie-popup-close:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.movie-popup-close::after, .movie-popup-close::before {
  background-color: #fff;
  content: '';
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 30px;
}

.movie-popup-close::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.movie-popup-close::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

/* ページャー
   ========================================================================== */
.pagination {
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  -webkit-box-pack: center;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1;
  margin: 50px auto;
  text-align: center;
}

.pagination li {
  margin: 10px;
  min-width: 3em;
}

.pagination a {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-transition: background-color 0.2s ease;
  align-items: center;
  background-color: #fafafa;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  height: 100%;
  justify-content: center;
  padding: 10px;
  position: relative;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.pagination a:hover {
  text-decoration: underline;
}

.pagination .pagination-item-active {
  background-color: #f5f5f5;
  font-weight: bold;
}

.pagination .pagination-item-active a {
  pointer-events: none;
}

.pagination .pagination-item-first a,
.pagination .pagination-item-last a,
.pagination .pagination-item-prev a,
.pagination .pagination-item-next a {
  background-color: #eee;
}

/* テーブル
   ========================================================================== */
.tbl01 {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  width: 100%;
}

.tbl01 th, .tbl01 td {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 15px 20px;
}

.tbl01 th {
  color: #888;
  font-weight: 500;
  text-align: left;
}

.tbl01 th[scope="row"] {
  width: 25%;
}

.tbl01 td {
  color: #888;
}

.tbl01 .th-head {
  background-color: #ebf6ee;
  color: #1a1a1a;
  font-size: 15px;
  font-size: 1.5rem;
  text-align: center;
}

.w20 {
  width: 20%;
}

/* スクロール テーブル
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
.tbl-scroll-wrap:not(:last-child) {
  margin-bottom: 1em;
}

.tbl-scroll-wrap .tbl-scroll-inner {
  overflow-x: auto;
}

.tbl-scroll-wrap .tbl-scroll-inner:-webkit-scrollbar {
  display: none;
}

.tbl-scroll-wrap .tbl-scroll {
  -webkit-overflow-scrolling: touch;
  min-width: 100%;
}

/* タイトル
   ========================================================================== */
/* ページタイトル */
.main-ttlwrap {
  text-align: center;
}

.main-ttl-label {
  background-color: #38a75b;
  color: #FFF;
  display: inline-block;
  font-family: century-gothic, sans-serif;
  font-size: 1.8rem;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 1;
  padding: 7px 38px 7px 37px;
  position: relative;
}

.main-ttl-label:before, .main-ttl-label:after {
  -webkit-transform-origin: center top;
  bottom: -14px;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  right: -3px;
          transform-origin: center top;
  width: 0;
}

.main-ttl-label:before {
  -webkit-transform: rotate(-45deg);
  background-color: #FFF;
  border: 11px solid transparent;
  border-top: 11px solid #FFF;
          transform: rotate(-45deg);
}

.main-ttl-label:after {
  -webkit-transform: rotate(135deg);
  border: 11px solid transparent;
  border-top: 11px solid #7ec694;
          transform: rotate(135deg);
}

.main-ttl-label span {
  display: inline-block;
}

.main-ttl-label span:before {
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: left top;
  border: 11px solid transparent;
  border-top: 11px solid #278847;
  bottom: -22px;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  right: 9px;
          transform: rotate(-45deg);
          transform-origin: left top;
  width: 0;
}

.main-ttl {
  font-size: 50px;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 23px;
}

.main-ttl-icon {
  vertical-align: sub;
}

.main-ttl-icon .main-ttl-icon-img {
  height: 61px;
  width: 61px;
}

.main-ttl-icon .de-svg path {
  color: #1a1a1a;
  fill: currentColor;
}

.main-ttl-lead {
  margin-bottom: 50px;
  margin-top: 60px;
}

.main-ttl-lead.cmn-ttl-lead {
  font-size: 16px;
  font-size: 1.6rem;
  margin-top: 20px;
}

/* タイトル01*/
.ttl01 {
  color: #38a75b;
  font-size: 30px;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 75px;
  text-align: center;
}

.ttl01 span {
  border-bottom: 2px solid #38a75b;
  display: inline-block;
  position: relative;
}

.ttl01 span:after {
  -webkit-transform: rotate(-45deg);
  background-color: #38a75b;
  bottom: 6px;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  right: -19px;
          transform: rotate(-45deg);
  width: 23px;
}

.ttl01-lead {
  color: #a1a1a1;
  margin-bottom: 67px;
  margin-top: 40px;
  text-align: center;
}

/* タイトル02 */
.ttl02 {
  color: #38a75b;
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.25;
  margin-bottom: 40px;
  position: relative;
}

.ttl02:after {
  -webkit-transform: translateY(-50%);
  background-color: #ddd;
  content: '';
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  top: 50%;
          transform: translateY(-50%);
  width: 100%;
}

.ttl02 span {
  background-color: #FFF;
  padding-right: 30px;
  position: relative;
  z-index: 5;
}

/* タイトル03 */
.ttl03 {
  background: url(../images/icon_ttl03.png) no-repeat left 6px;
  background-size: 11px auto;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.25;
  margin-bottom: 20px;
  margin-top: 50px;
  padding-left: 20px;
}

/* パンくずリスト
   ========================================================================== */
.topicpath {
  position: absolute;
  width: 100%;
  z-index: 5;
}

.topicpath li {
  display: inline-block;
  font-size: 12px;
  font-size: 1.2rem;
  list-style-type: none;
}

.topicpath li + li {
  padding-left: 16px;
}

.topicpath li + li::before {
  -webkit-transform: rotate(45deg);
  border-right: 1px solid #FFF;
  border-top: 1px solid #FFF;
  content: '';
  display: inline-block;
  height: 5px;
  margin-right: 16px;
  position: relative;
  top: -1px;
  transform: rotate(45deg);
  width: 5px;
}

.topicpath li a,
.topicpath li a:visited,
.topicpath li a:hover {
  color: #FFF;
}

.topicpath li a:hover {
  text-decoration: underline;
}

.topicpath li:last-child a {
  color: rgba(255, 255, 255, 0.6);
  pointer-events: none;
  text-decoration: none;
}

.topicpath li:first-child a {
  background: url(../images/topicpath_home02.png) no-repeat left top;
  background-size: 14px auto;
  display: block;
  height: 10px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 14px;
}

.bg-img .topicpath li a,
.bg-img .topicpath li a:visited,
.bg-img .topicpath li a:hover {
  color: #1a1a1a;
}

.bg-img .topicpath li::before {
  border-right: 1px solid #38a75b;
  border-top: 1px solid #38a75b;
}

.bg-img .topicpath li:first-child a {
  background: url(../images/topicpath_home01.png) no-repeat left top;
  background-size: 14px auto;
}

.bg-img .topicpath li:last-child a {
  color: rgba(26, 26, 26, 0.6);
}

/* Webフォント
   ========================================================================== */
.noto-m {
  font-weight: 500;
}

.noto-b {
  font-weight: 700;
}

.font-eng-m {
  font-family: century-gothic, sans-serif;
  font-weight: 400;
}

.font-eng-b {
  font-family: century-gothic, sans-serif;
  font-weight: 700;
}

/* その他パーツ
   ========================================================================== */
/* 電話番号リンク */

/* 画像を幅100%にする */
img.img-full {
  height: auto;
  max-width: 100%;
  width: 100%;
}

/* object fit image */
img.img-ofi-cover,
img.img-ofi-contain {
  height: 100%;
  width: 100%;
}

img.img-ofi-cover {
  -o-object-fit: cover;
  font-family: 'object-fit: cover;';
     object-fit: cover;
}

img.img-ofi-contain {
  -o-object-fit: contain;
  font-family: 'object-fit: contain;';
     object-fit: contain;
}

/* sticky */
.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.sticky.sticky-fixed.is-sticky {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: fixed;
}

.sticky.sticky-fixed.is-sticky:not([style*="margin-top"]) {
  margin-top: 0 !important;
}

.sticky.sticky-fixed.is-sticky:not([style*="margin-bottom"]) {
  margin-bottom: 0 !important;
}

.sticky.sticky-fixed.is-absolute {
  position: absolute;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 2.67vw;
  }
  body {
    font-size: 140%;
    line-height: 1.85;
  }
  .sp-item {
    display: block;
  }
  .pc-item {
    display: none !important;
  }
  .pc-block {
    display: inline;
  }
  .sp-block {
    display: block;
  }
  .mt0 {
    margin-top: 0vw !important;
  }
  .mt5 {
    margin-top: 1.33vw !important;
  }
  .mt10 {
    margin-top: 2.67vw !important;
  }
  .mt15 {
    margin-top: 4vw !important;
  }
  .mt20 {
    margin-top: 5.33vw !important;
  }
  .mt25 {
    margin-top: 6.67vw !important;
  }
  .mt30 {
    margin-top: 8vw !important;
  }
  .mt35 {
    margin-top: 9.33vw !important;
  }
  .mt40 {
    margin-top: 10.67vw !important;
  }
  .mt45 {
    margin-top: 12vw !important;
  }
  .mt50 {
    margin-top: 13.33vw !important;
  }
  .mt55 {
    margin-top: 14.67vw !important;
  }
  .mt60 {
    margin-top: 16vw !important;
  }
  .mb0 {
    margin-bottom: 0vw !important;
  }
  .mb5 {
    margin-bottom: 1.33vw !important;
  }
  .mb10 {
    margin-bottom: 2.67vw !important;
  }
  .mb15 {
    margin-bottom: 4vw !important;
  }
  .mb20 {
    margin-bottom: 5.33vw !important;
  }
  .mb25 {
    margin-bottom: 6.67vw !important;
  }
  .mb30 {
    margin-bottom: 8vw !important;
  }
  .mr0 {
    margin-right: 0vw !important;
  }
  .mr5 {
    margin-right: 1.33vw !important;
  }
  .mr10 {
    margin-right: 2.67vw !important;
  }
  .mr15 {
    margin-right: 4vw !important;
  }
  .mr20 {
    margin-right: 5.33vw !important;
  }
  .ml0 {
    margin-left: 0vw !important;
  }
  .ml5 {
    margin-left: 1.33vw !important;
  }
  .ml10 {
    margin-left: 2.67vw !important;
  }
  .ml15 {
    margin-left: 4vw !important;
  }
  .ml20 {
    margin-left: 5.33vw !important;
  }
  .sp-pdg {
    padding-left: 2.67vw;
    padding-right: 2.67vw;
  }
  .sp-pdg-none {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .sp-pdg-inner {
    padding-left: 5.33vw;
    padding-right: 5.33vw;
  }
  .fs13 {
    font-size: 3.47vw;
  }
  .fs14 {
    font-size: 3.73vw;
  }
  .fs15 {
    font-size: 4vw;
  }
  .fs16 {
    font-size: 3.73vw;
  }
  body {
    position: relative;
  }
  .cont-wrap {
    display: block;
    margin-top: 0;
  }
  #head {
    padding: 0;
  }
  .head-inner.box-full {
    padding-left: 0;
    padding-right: 0;
  }
  .head-logo {
    -webkit-transform: none;
    background-color: #FFF;
    left: auto;
    padding-bottom: 5.33vw;
    padding-top: 5.33vw;
    position: relative;
    text-align: center;
    top: auto;
            transform: none;
  }
  .head-logo img {
    height: 5.33vw;
    width: auto;
  }
  .head-btn {
    font-size: 4vw;
    margin-left: 0;
    width: 100%;
  }
  .head-btn .btn {
    display: block;
    position: relative;
  }
  .head-btn .btn01 {
    border-radius: 5.87vw;
    padding: 3.47vw 5.33vw;
  }
  .head-btn .sp-item {
    display: inline-block;
  }
  .head-logo-aone {
    position: absolute;
    right: 4vw;
    top: 6.4vw;
    width: 14.13vw;
  }
  .btn-spmenu {
    height: 5.33vw;
    left: 5.33vw;
    line-height: 1;
    position: absolute;
    top: 5.33vw;
    width: 6.4vw;
  }
  .js-panel-btn {
    display: block;
    height: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }
  .panel-btn-icon {
    -webkit-transition: .2s;
    background: #38a75b;
    display: inline-block;
    height: 0.53vw;
    margin: 0;
    position: relative;
    transition: .2s;
    vertical-align: middle;
    width: 6.4vw;
  }
  .panel-btn-icon:before, .panel-btn-icon:after {
    -webkit-transition: .3s;
    background: #38a75b;
    content: "";
    display: block;
    height: 0.53vw;
    left: 0;
    position: absolute;
    top: 50%;
    transition: .3s;
    width: 100%;
  }
  .panel-btn-icon:before {
    margin-top: -2.4vw;
  }
  .panel-btn-icon:after {
    margin-top: 1.87vw;
  }
  .js-panel-btn.close .panel-btn-icon {
    background: transparent;
  }
  .js-panel-btn.close .panel-btn-icon:before, .js-panel-btn.close .panel-btn-icon:after {
    margin-top: 0;
    width: 6.4vw;
  }
  .js-panel-btn.close .panel-btn-icon:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .js-panel-btn.close .panel-btn-icon:after {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .gnav-open #head {
    background-color: #f5f5f5;
    height: 100%;
  }
  #gnav-wrap {
    background-color: #f5f5f5;
    display: none;
    padding-bottom: 6.67vw;
    padding-right: 2.67vw;
  }
  #gnav {
    display: block;
    margin-bottom: 6.67vw;
  }
  #gnav > li {
    font-size: 4.27vw;
    line-height: 1;
    margin-left: 0;
  }
  #gnav a:hover {
    color: #1a1a1a;
  }
  #gnav .gnav-parent {
    display: block;
  }
  #gnav .gnav-parent span {
    border-bottom: 1px solid #ddd;
    display: block;
    padding: 6.67vw 4.27vw 3.73vw 6.93vw;
    position: relative;
  }
  #gnav .gnav-parent span:after {
    -webkit-transform: rotate(45deg) translateY(-50%);
    border-right: 2px solid #38a75b;
    border-top: 2px solid #38a75b;
    content: '';
    display: block;
    height: 1.33vw;
    position: absolute;
    right: 4.53vw;
    top: 59%;
            transform: rotate(45deg) translateY(-50%);
    width: 1.33vw;
  }
  #gnav .gnav-parent.has-child span:after {
    -webkit-transform: rotate(135deg) translateY(-50%);
    top: 51%;
            transform: rotate(135deg) translateY(-50%);
  }
  #gnav .gnav-parent.has-child span.gnav-child-open:after {
    -webkit-transform: rotate(-45deg) translateY(-50%);
    right: 2.67vw;
    top: 63%;
            transform: rotate(-45deg) translateY(-50%);
  }
  #gnav .active span {
    border-bottom: 1px solid #ddd;
    padding: 6.67vw 4.27vw 3.73vw 6.93vw;
  }
  .gnav-child-wrap {
    display: none;
  }
  .gnav-child {
    padding-left: 5.33vw;
  }
  .gnav-child-list li {
    border-bottom: 1px solid #ddd;
    font-size: 3.73vw;
    font-weight: 500;
  }
  .gnav-child-list span {
    display: block;
    padding: 5.33vw 0 2.67vw 9.6vw;
    position: relative;
  }
  .gnav-child-list span:after {
    -webkit-transform: rotate(45deg);
    border-right: 2px solid #38a75b;
    border-top: 2px solid #38a75b;
    content: '';
    display: block;
    height: 1.33vw;
    left: 5.33vw;
    position: absolute;
    top: 5.87vw;
            transform: rotate(45deg);
    width: 1.33vw;
  }
  .gnav-child-list a[target="_blank"] > span {
    display: inline-block !important;
  }
  .bg-cmn #main,
  .bg-img #main {
    padding: 16.27vw 0 0;
  }
  .bg-cmn #main:before,
  .bg-img #main:before {
    height: 43.73vw;
  }
  .has-side #main {
    margin-top: 13.07vw;
  }
  .main-cont {
    padding-top: 10.67vw;
    width: 100%;
  }
  .has-side .main-cont {
    padding-top: 0;
  }
  .side {
    padding-right: 0;
    width: 100%;
  }
  .side .side-nav {
    width: 100%;
  }
  .sp-anchor-nav {
    background-color: #FFF;
    border-top: 1px solid #ddd;
    font-size: 4.27vw;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
  }
  .sp-anchor-nav.is-fixed {
    position: fixed;
    top: 0;
  }
  .sp-anchor-nav-current {
    border-bottom: 1px solid #ddd;
    color: #38a75b;
    padding-bottom: 3.2vw;
    padding-top: 3.2vw;
    position: relative;
  }
  .sp-anchor-nav-current:after {
    -webkit-transform: rotate(135deg) translateY(-50%);
    border-right: 0.53vw solid #38a75b;
    border-top: 0.53vw solid #38a75b;
    content: '';
    display: block;
    height: 1.33vw;
    position: absolute;
    right: 10.67vw;
    top: 40%;
            transform: rotate(135deg) translateY(-50%);
    width: 1.33vw;
  }
  .sp-anchor-nav-select {
    border-bottom: 1px solid #ddd;
    display: none;
    padding: 0 8vw 8vw;
  }
  .sp-anchor-nav-select li {
    border-bottom: 1px solid #ddd;
  }
  .sp-anchor-nav-select li a {
    color: #888;
    display: block;
    padding-bottom: 2.67vw;
    padding-top: 3.73vw;
    position: relative;
  }
  .sp-anchor-nav-select li a:after {
    -webkit-transform: rotate(135deg) translateY(-50%);
    border-right: 0.53vw solid #888;
    border-top: 0.53vw solid #888;
    content: '';
    display: block;
    height: 1.33vw;
    position: absolute;
    right: 2.67vw;
    top: 50%;
            transform: rotate(135deg) translateY(-50%);
    width: 1.33vw;
  }
  .sp-anchor-nav-select li.current {
    border-bottom: 1px solid #38a75b;
  }
  .sp-anchor-nav-select li.current a {
    color: #38a75b;
  }
  .sp-anchor-nav-select li.current a:after {
    border-color: #38a75b;
  }
  .sp-foot-nav {
    -webkit-transition: bottom ease .5s;
    background-color: #FFF;
    border-top: 1px solid #ddd;
    bottom: -16.27vw;
    height: 16.27vw;
    padding-bottom: 2.67vw;
    padding-top: 2.67vw;
    position: fixed;
    text-align: center;
    transition: bottom ease .5s;
    width: 100%;
    z-index: 15;
  }
  .sp-foot-nav.is-fixed {
    bottom: 0;
  }
  .gnav-open .sp-foot-nav {
    bottom: 0;
  }
  .sp-foot-nav-start {
    margin: 0 auto;
    width: 53.33vw;
  }
  .sp-foot-nav-start .btn {
    display: block;
  }
  .sp-foot-nav-start .btn01 {
    padding: 2.67vw 6.67vw 2.67vw 5.33vw;
  }
  .sp-foot-nav-pagetop {
    background-color: #f5f5f5;
    bottom: 0;
    height: 16vw;
    position: absolute;
    right: 0;
    width: 16vw;
  }
  .sp-foot-nav-pagetop a {
    display: block;
    height: 100%;
  }
  .sp-foot-nav-pagetop span {
    -webkit-transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
  }
  .sp-foot-nav-pagetop span::before {
    -webkit-transform: rotate(-45deg);
    border-right: 2px solid #38a75b;
    border-top: 2px solid #38a75b;
    content: '';
    display: block;
    height: 10px;
    transform: rotate(-45deg);
    width: 10px;
  }
  .sp-foot-nav-btn {
    left: 5.33vw;
    line-height: 1;
    position: absolute;
    top: 5.33vw;
    width: 6.4vw;
  }
  #foot {
    margin-top: 24vw;
    padding-bottom: 16.27vw;
    position: relative;
  }
  .foot-box {
    display: block;
  }
  .foot-box-set {
    height: 56vw;
  }
  .foot-box-start {
    background: url(../images/foot_start_bg_sp.jpg) no-repeat center center;
    background-size: cover;
  }
  .foot-box-set-inner {
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .foot-box-start-ttl {
    font-size: 6.4vw;
  }
  .foot-box-start-btn {
    font-size: 4vw;
    margin: 6.67vw auto 0;
    width: 86.67vw;
  }
  .foot-box-start-label9 {
    bottom: 3.2vw;
    font-size: 3.47vw;
    right: 6.67vw;
  }
  .foot-box-product {
    background: url(../images/foot_prd_bg_sp.jpg) no-repeat center center;
    background-size: cover;
  }
  .foot-box-product .foot-box-set-inner {
    left: 6.67vw;
    padding-left: 0;
    padding-right: 0;
    width: 56vw;
  }
  .foot-box-product-ttl {
    margin: 0 auto;
    width: 36vw;
  }
  .foot-box-product-lead {
    font-size: 3.47vw;
    margin-top: 2.4vw;
  }
  .foot-box-product-btn {
    font-size: 3.47vw;
    margin-top: 2.93vw;
  }
  .foot-nav {
    padding-bottom: 5.33vw;
    padding-top: 8vw;
  }
  .foot-nav-inner {
    display: block;
    margin-bottom: 13.33vw;
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .foot-logo {
    margin-bottom: 6.67vw;
    text-align: center;
    width: 100%;
  }
  .foot-logo img {
    height: auto;
    width: 47.47vw;
  }
  .foot-nav-set {
    border-top: 1px solid #ddd;
    width: 100%;
  }
  .foot-nav-set:last-child {
    border-bottom: 1px solid #ddd;
  }
  .foot-nav-set.foot-nav-template {
    width: 100%;
  }
  .foot-nav-ttl {
    font-size: 4vw;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
  }
  .foot-nav-ttl + .foot-nav-ttl {
    border-top: 1px solid #ddd;
  }
  .foot-nav-ttl a {
    display: block;
    padding: 4vw 4vw 4vw 8.53vw;
    position: relative;
  }
  .foot-nav-ttl a:before {
    -webkit-transform: rotate(45deg) translateY(-50%);
    border-right: 0.53vw solid #38a75b;
    border-top: 0.53vw solid #38a75b;
    content: '';
    display: block;
    height: 1.33vw;
    left: 4vw;
    position: absolute;
    top: 50%;
            transform: rotate(45deg) translateY(-50%);
    width: 1.33vw;
  }
  .foot-nav-list {
    display: none;
  }
  .foot-nav-template .foot-nav-list {
    display: none;
  }
  .foot-nav-policy {
    bottom: auto;
    font-size: 3.2vw;
    left: 4vw;
  }
  .foot-nav-copyright {
    font-size: 2.93vw;
    padding-right: 4vw;
    text-align: right;
  }
  .foot-logo-wrap {
    padding-bottom: 5.33vw;
    padding-top: 5.33vw;
    position: relative;
  }
  .foot-logo-trademarks {
    color: #888;
    float: none;
    font-size: 2.93vw;
    text-align: center;
  }
  .foot-logo-3m {
    float: none;
    margin-top: 4.27vw;
    text-align: center;
  }
  .box-full {
    padding-left: 2.67vw;
    padding-right: 2.67vw;
  }
  .cmn-sct {
    padding-top: 14.67vw;
  }
  .cmn-sct:first-child {
    padding-top: 0;
  }
  #main > article {
    padding-top: 9.33vw;
  }
  #main > article:before {
    height: 50%;
    width: calc(100% - 20px);
  }
  .box-col2 > * + * {
    margin-top: 4vw;
  }
  .box-col3 > * + * {
    margin-top: 4vw;
  }
  .box-col4 > * + * {
    margin-top: 4vw;
  }
  .box-img-l .box-img + .box-text,
  .box-img-l .box-text + .box-img,
  .box-img-r .box-img + .box-text,
  .box-img-r .box-text + .box-img {
    margin-top: 5.33vw;
  }
  .box-img-l .box-img img,
  .box-img-r .box-img img {
    height: auto;
    width: 100%;
  }
  .btn.arrow01:after {
    height: 1.33vw;
    right: 5.33vw;
    width: 1.33vw;
  }
  .btn[target="_blank"]:after {
    height: 2.4vw;
    right: 5.33vw;
    width: 2.67vw;
  }
  .btn01 {
    padding: 2.67vw 5.33vw;
  }
  .btn02 {
    padding: 2.67vw 5.33vw;
  }
  .btn02.arrow01 {
    padding: 2.93vw 9.33vw 3.2vw;
  }
  .btn03 {
    padding: 2.93vw 9.33vw 3.2vw;
  }
  .btn03.arrow01 {
    padding: 2.93vw 9.33vw 3.2vw;
  }
  .btn04 {
    padding: 2.67vw 5.33vw;
  }
  .btn04.arrow01 {
    padding: 2.93vw 9.33vw 3.2vw;
  }
  .btn-center {
    margin-top: 10.67vw;
  }
  .btn-center .btn {
    font-size: 4.27vw;
    min-width: 90%;
  }
  .btn-list {
    display: block;
    margin: 10.67vw 0;
  }
  .btn-list li {
    padding: 0;
    width: 100%;
  }
  .btn-list li + li {
    margin-top: 2.67vw !important;
  }
  .form-item {
    font-size: 4.27vw;
    min-height: 12.27vw;
    padding: 2.4vw 3.47vw 2.13vw;
  }
  select.form-item {
    padding-right: 8vw !important;
  }
  .form-btn {
    margin: 16vw auto;
  }
  .form-btn li + li {
    margin-top: 2.67vw;
  }
  .form-btn-submit,
  .form-btn-srch {
    display: block;
    font-size: 4.27vw;
    margin: 4vw auto 0 !important;
    width: 50%;
  }
  .form-btn-srch {
    padding: 1.33vw 2.67vw;
  }
  #main .icon-arrow01 {
    padding-left: 5.07vw;
  }
  #main .icon-arrow01:before {
    border-right: 0.53vw solid #38a75b;
    border-top: 0.53vw solid #38a75b;
    height: 1.6vw;
    top: 1.87vw;
    width: 1.6vw;
  }
  #main .icon-arrow02 {
    padding-left: 19px;
    position: relative;
    text-decoration: none;
  }
  #main .icon-arrow02:before {
    -webkit-transform: rotate(45deg);
    border-right: 2px solid #FFF;
    border-top: 2px solid #FFF;
    content: '';
    display: block;
    height: 6px;
    left: 0;
    position: absolute;
    top: 8px;
            transform: rotate(45deg);
    width: 6px;
  }
  a[target="_blank"]::after {
    height: 2.4vw;
    margin: 0 1.33vw;
    width: 2.67vw;
  }
  .list-disc li {
    margin-bottom: 2.67vw;
  }
  .list-decimal li {
    margin-bottom: 2.67vw;
  }
  .temp-item-nav li {
    font-size: 3.73vw;
    line-height: 1.4;
    margin-bottom: 7.47vw;
    min-height: auto;
    width: 50%;
  }
  .temp-item-nav li a {
        -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .temp-item-nav li a:hover .item-nav-icon-img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .item-nav-icon-img,
  .item-nav-name {
    display: inline-block;
  }
  .item-nav-name {
    padding-left: 2.13vw;
  }
  .item-nav-icon-img {
    height: 9.6vw !important;
    width: 9.6vw !important;
  }
  .list-box-link {
    display: block;
  }
  .list-box-link li {
    margin-bottom: 4vw;
    margin-right: 0;
    width: 100%;
  }
  .list-box-link a {
    border-bottom: 0.8vw solid #38a75b;
    padding: 4vw 0;
  }
  .list-q {
    margin-top: -5.33vw;
  }
  .list-q li {
    font-size: 3.2vw;
    padding: 7.2vw 0 1.33vw 8vw;
  }
  .list-q .font-eng-b {
    font-size: 4.8vw;
    left: 1.33vw;
    top: 5.87vw;
  }
  #movie-popup-yt {
    -webkit-transform: scale(1.1) translate(0, 10.67vw) skew(0deg, -5deg);
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
            transform: scale(1.1) translate(0, 10.67vw) skew(0deg, -5deg);
    width: 100%;
  }
  #movie-popup-yt iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .movie-popup-close {
    border-radius: 6.67vw;
    height: 13.33vw;
    right: 5.33vw;
    top: 5.33vw;
    width: 13.33vw;
  }
  .movie-popup-close::before, .movie-popup-close::after {
    height: 1px;
    width: 6.67vw;
  }
  .pagination li {
    font-size: 12px;
    font-size: 1.2rem;
    margin: 1.33vw;
  }
  .pagination a {
    padding: 2.67vw 1.33vw;
  }
  .tbl01 th, .tbl01 td {
    font-size: 3.47vw;
    padding: 1.87vw 4vw;
  }
  .tbl01 .th-head {
    font-size: 3.73vw;
  }
  .sp-tbl-vertical .th-head {
    display: none;
  }
  .sp-tbl-vertical th,
  .sp-tbl-vertical td {
    display: block;
    width: 100% !important;
  }
  .sp-tbl-vertical th[scope="row"] {
    background-color: #ebf6ee;
    color: #1a1a1a;
    text-align: center;
  }
  .tbl-scroll-note {
    color: #888;
    font-size: 3.47vw;
    margin-bottom: 1.33vw;
    text-align: center;
  }
  .tbl-scroll-wrap {
    -webkit-transform: scale(1, -1);
            transform: scale(1, -1);
  }
  .tbl-scroll-wrap .tbl-scroll {
    -webkit-transform: scale(1, -1);
    margin-bottom: 10px;
    min-width: 170%;
            transform: scale(1, -1);
  }
  .tbl-scroll-inner::-webkit-scrollbar {
    height: 8px;
  }
  .tbl-scroll-inner::-webkit-scrollbar-track {
    background: #ddd;
  }
  .tbl-scroll-inner::-webkit-scrollbar-thumb {
    background: #38a75b;
  }
  .main-ttl-label {
    font-size: 3.2vw;
    padding: 1.87vw 10.13vw 1.87vw 9.87vw;
  }
  .main-ttl {
    font-size: 7.2vw;
    margin-top: 6.13vw;
  }
  .main-ttl-icon .main-ttl-icon-img {
    height: 10.67vw;
    width: 10.67vw;
  }
  .main-ttl-lead {
    font-size: 3.47vw;
    margin-bottom: 13.33vw;
    margin-top: 8vw;
    padding-left: 5.33vw;
    padding-right: 5.33vw;
    text-align: left;
  }
  .main-ttl-lead.cmn-ttl-lead {
    font-size: 3.73vw;
    margin-top: 5.33vw;
  }
  .ttl01 {
    font-size: 5.33vw;
    margin-bottom: 5.33vw;
    margin-top: 9.87vw;
  }
  .ttl01-lead {
    margin-bottom: 8.8vw;
    margin-top: 5.33vw;
    padding-left: 5.33vw;
    padding-right: 5.33vw;
  }
  .ttl02 {
    font-size: 5.87vw;
    margin-bottom: 8vw;
  }
  .ttl02 span {
    padding-right: 5.33vw;
  }
  .ttl03 {
    background-size: 2.4vw auto;
    font-size: 4vw;
    margin-bottom: 4vw;
    margin-top: 8vw;
    padding-left: 4.8vw;
  }
  .topicpath {
    left: 0;
    padding: 4vw 2.67vw;
    position: absolute;
    top: 0;
  }
  .topicpath a {
    color: #FFF;
  }
  .topicpath li {
    font-size: 2.67vw;
  }
  .topicpath li:first-child a {
    background-size: 3.73vw;
    height: 2.67vw;
    width: 3.73vw;
  }
  .topicpath li + li::before {
    height: 1.33vw;
    margin-right: 2.67vw;
    width: 1.33vw;
  }
  .has-side .topicpath {
    top: 13.07vw;
  }
}

@media screen and (min-width: 768px), print {
  body {
    line-height: 1.85;
    min-width: 1380px;
  }
  .pc-pdg {
    padding-left: 40px;
    padding-right: 40px;
  }
  .pc-pdg-inner {
    padding-left: 50px;
    padding-right: 50px;
  }
  #gnav a:hover {
    color: #38a75b;
  }
  .sp-foot-nav {
    display: none;
  }
  .box-center {
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    width: 1300px;
  }
  .box-col2 {
    -ms-flex-wrap: wrap;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
  }
  .box-col2 > * {
    margin: 40px 20px 0 0;
    width: 50%;
  }
  .box-col2 > *:nth-child(2n) {
    margin-right: -20px;
  }
  .box-col2 > *:nth-child(-n+2) {
    margin-top: 0;
  }
  .box-col3 {
    -ms-flex-wrap: wrap;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    padding-right: 40px;
  }
  .box-col3 > * {
    margin: 40px 20px 0 0;
    width: 33.3333333333%;
  }
  .box-col3 > *:nth-child(3n) {
    margin-right: -40px;
  }
  .box-col3 > *:nth-child(-n+3) {
    margin-top: 0;
  }
  .box-col4 {
    -ms-flex-wrap: wrap;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    padding-right: 60px;
  }
  .box-col4 > * {
    margin: 40px 20px 0 0;
    width: 25%;
  }
  .box-col4 > *:nth-child(4n) {
    margin-right: -60px;
  }
  .box-col4 > *:nth-child(-n+4) {
    margin-top: 0;
  }
  .box-img-l,
  .box-img-r {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
  }
  .box-img-l .box-text,
  .box-img-r .box-text {
    -ms-flex: 1;
    -webkit-box-flex: 1;
            flex: 1;
  }
  .box-img-l.row-reverse,
  .box-img-r.row-reverse {
    -ms-flex-direction: row-reverse;
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
            flex-direction: row-reverse;
  }
  .box-img-l .box-img {
    padding-right: 40px;
  }
  .box-img-r .box-img {
    padding-left: 40px;
  }
  .form-btn {
    -ms-flex-align: center;
    -ms-flex-direction: row-reverse;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
            align-items: center;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
            flex-direction: row-reverse;
            justify-content: center;
    margin: 60px auto;
  }
  .form-btn li {
    padding: 0 10px;
    width: 40%;
  }
  .topicpath {
    -webkit-transform: translateX(-50%);
    left: 50%;
    max-width: 1300px;
    top: 25px;
            transform: translateX(-50%);
  }
  .tel-linktext {
    pointer-events: none;
    text-decoration: none;
  }
}

/*# sourceMappingURL=common.css.map */
