@charset "UTF-8";
@import "variables";
@import "functions";


/* >> 各ページ 個別設定 //////////////////////////S/////////////////////////////// */


// 画面説明 ホーム画面
#screen_top {

  img{
    float: left;
    margin-right: 1.5em;
  }
  
}


/* << 各ページ 個別設定 ///////////////////////////////////////////////////////// */
