@charset "UTF-8";
@import "variables";
@import "functions";

//-----------------------------------------------------------------
// 2箇所以上で使うサイト固有のスタイル
//-----------------------------------------------------------------


/* >> test code //////////////////////////S/////////////////////////////// */
%testcode{

  body{

    // デザイン絵表示
    background: url(#{$PATH_images}/3a0_doc.gif) center top;
    background-size: 100%;


    // *{
    //   background-color: #fff;
    // }
  
    // p, ul, div, h1{
    //  padding: 2px 0;
    //  margin: 2px 0;
    //  border-bottom: 1px solid #cccccc;
    // }

    // ul,ol{
    //   @include menu-flat;
    
    //   ul li,
    //   ol li{
    //     list-style: none outside;
    //     padding: 0 4px;
    //     border-right: 1px solid #999999;
    //   }
    // }

    // 初期状態 確認用
    // & > *         {border: 1px solid #ff6666;}
    // & > * > *     {border: 1px solid #88aadd;}
    // & > * > * > * {border: 1px solid #dddd99;}

  }
  
}
/* << test code ///////////////////////////////////////////////////////// */
