@charset "UTF-8";

//-----------------------------------------------------------------
// 変数定義
//-----------------------------------------------------------------

// Path
// $Path_css: "./va/css";
$PATH_images: "../images/";

// SIZE
// $pane_main_w: 820px;
// $block_notes_w: 260px;

//border
$BORDER-common: 1px solid #cccccc; //#eeeeee;
$BORDER-none:   0 none transparent;

// Font
$FONT-menuArrow: "impact";

// COLOR
$RGB_a1-bg:        #ffffff;
$RGB_a1-bg2:       #f5f5f5;
$RGB_a1-text:      #555555;
$RGB_a1-text2:     #000000;
$RGB_a1-link:      #666666;	
$RGB_a1-accent:    #288947;
$RGB_a1-accent2:   #e9f7ed;
$RGB_a1-border:    #aaaaaa;


/* memo
    background: linear-gradient(to right, #38a85b 0%, #288947 100%);
 */