@charset "UTF-8" ;
@import "compass"; 
@import "parts";
// @import "normalize.css";
// @import "normalize_mixin";

//-----------------------------------------------------------------
// サイト基本スタイル
/* 
TODO:
＞サイドバーの開閉 height 0 / auto で開閉
＞リキッド時のデザイン
＞リキッド時のアニメーションを考える
＞サイドメニュー最長時の高さをmainのmin-heightにする
＞検索の機能
＞スクロール追随　fixedsticky
＞検索の消えるスニペット

*/
//-----------------------------------------------------------------

html{
  // テストコード 
  // @extend %testcode;
}

// 共通
// ==================================================

// 変数
$header_H: 80px;
$nab_grobal_W: 250px;
$header_plW: 40px;
$main_pH: 60px;
$main_nav-W: 260px;

$is_mobile: 768px;
$SCREEN_Mobile-all: 'max-width: 768px';
$SCREEN_PC-all:     'min-width: 768px';

@mixin font_awesome {
  display: inline-block;
  width: 1em;

  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}


body {
  // @include normalize;

  // フォント指定 (引用CSSで指定)
  // font-family: "source-han-sans-japanese", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  
  // テキスト初期化
  header,
  main,
  #breadcrumb,
  #nav--global {
    font-size: 117%;
    font-weight: normal;
    line-height: 1.15;
    letter-spacing: 0.05em;

  }
}

ul,ol,
h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}

em{
  font-style: normal;
  font-weight: bold;

  ul li &{
    margin-right: 0.5em;
  }
}


h1,h2,h3,h4,h5,h6{
  color: #000000;
}
ul,ol{
  color: $RGB_a1-text;
}





// イージング設定
li.nav__category:hover ul li
// nav#nav--global li.nav__category ul li
{
transition: all 400ms 0s ease;
}

// ==================================================


// 共通 (mobile表示)
// ---------------------------------------------

body {
  // line-height: 1.85;
  // min-width: 1380px;

  h1{
    margin-bottom: 0;
  }
  h2, h3, h4, {
    margin-bottom: 0.8em;
  }
  h3, h4, {
    margin-top: 1em;    
  }
  h1{ font-size: 200%; }
  h2{ font-size: 150%; }
  h3{ font-size: 120%; }
  h4{ font-size: 100%; }
}
// ヘッダ、ロゴまわりの表示
header {  
  .head-logo{
    padding: 4.0vw 0;

    img{
      display: block;
      // height: 4.4vw;
      margin: 0 auto;
    }
    span {
      display: block;
      padding-top: 1.5vw;
      font-size: 3.5vw;
      line-height: 1;
    }
  }
} 

nav#nav--global{
  display: none;
}

#main{
  margin-left: 0;
  padding: 0;

  #main__body { //.box-center
    padding: 2.67vw;
    section{}
  }

  // リンク
  a{
    text-decoration: none;
    color: $RGB_a1-link;
  }
  a:hover{
    color: $RGB_a1_accent;
    img{
      @include opacity(0.5);
    }
    // text-decoration: underline;
  }

  section
  a[href^="http"]{
    &::after{
      @include font_awesome;

      content: "\f35d";
      // content: "\f360";
      margin-left: 0.5em;
      font-weight: bold;
      font-size: 90%;
    }

  }

  h3 a{
    display: block;
    color: $RGB_a1_accent;

    &::after{
      @include font_awesome;

      content: "\f105";
      margin-left: 0.5em;
      transition: all 150ms 0s ease;
    }
    &:hover::after{
      // margin-left: 0.2em;
      @include translate(0.1em, 0); // 同時に効かない
    }

    // https://fontawesome.com/icons/angle-double-right?style=solid f101
    // https://fontawesome.com/icons/external-link-square-alt?style=solid f360
    // https://fontawesome.com/icons/external-link-alt?style=solid f35d
  }

  h1 span{
    margin: 0 30px 0.3em 0;
    color: $RGB_a1-accent;
    font-size: 48%;
    display: block;
  }
  // 最初のセクション
  h1 + nav + section{
    h2{
      display:  none;
    }
  }

}

  /* 画像アドレス指定 上書き ■ ■ かんたんマニュアル 本番公開時 コメントアウト
   ------------------------------ 
   */
  body {

    .topicpath li:first-child a {
      background-image: url(../common/css/img/topicpath_home02.png);
    }
    .start {
      background-image: url(../common/css/img/foot_start_bg.jpg);
    }
    @media screen and (max-width: 767px){
      .start {
        background-image: url(../common/css/img/foot_start_bg_sp.jpg);
      }
    }
    .bg-img .topicpath li:first-child a {
      background-image: url(../common/css/img/topicpath_home01.png);
    }
    .apps-popup-inner {
      background-image: url(../common/css/img/bg_apps_popup.png);
    }
    select.form-item {
      background-image: url(../common/css/img/bg_select.png);
    }
  }


// 本文内のスタイル
section{

  color: $RGB_a1-text;

  padding: 2em 0.5em;
  line-height: 1.6em;
  border-bottom: $BORDER-common;
  &:last-child{
    border-bottom: $BORDER-none;
  }

  h3{
    color: $RGB_a1_accent
  }
  p{
    margin: 0.5em auto;
  }
  img{
    width: 100%;
    // max-width: 800px;
    height: auto;
    border: solid 3px #eeeeee;

    // &[alt^="全体画面"]{
    // }
    // &[alt^="ボタン"]{
    //   width: auto;
    //   height: 4em;
    //   border: none 0 transparent ;
    // }
    &[alt^="サイドツール"]{
      // float: left;
      // clear: both;
      width: 70%;
      display: block;
      // margin-right: auto;
      // margin-left: auto;
      // min-width: ;
      // margin-right: 2em;
      margin-bottom: 0.5em;
    }
    /* 
      &[alt^="サイドツール"]+ul{
        float: right;
        clear: right;
        width: 69%;
        // margin-left: 2em;
        margin-bottom: 0.5em;
      }
    */  
    // &[alt^="Pop画面"]{
    //   width: 65%;
    //   // border: none 0 transparent ;
    //   border: solid 1px #ccc ;
    // }
    // &[alt^="Pop画面S"]{
    //   width: 50%;
    //   // border: none 0 transparent ;
    //   border: solid 1px #ccc ;
    // }

    //  画像 大 中 小 のような方がいいかも
  }

  // リスト今日共通
  ol,
  ul{
    margin-left: 1.2em;
    padding: 0.2em 0.5em;

    li{
      line-height: 1.5;
      margin-bottom: 0.6em;
    }
  }
  // 順序なしリスト
  ul{
    list-style: outside disc;

    ul{
      padding: 0.2em 0 0.2em 1.0em;
      list-style: outside circle;
      li{
      }
    }
  }
  .cat_design & p+ul{
    // margin-bottom: 1.8em;
    margin-bottom: 2.2em;
    list-style: inside none;
    margin-left: 0; 
    padding: 0;
  }




}
// << MOBILE


// 共通表示
// ---------------------------------------------

nav#breadcrumb{

  background-color: $RGB_a1-accent;

  ol {
  @include menu-flat;
    li.breadcrumb__dir{
      &:after{
        content: ">";
      }
      &+li{
        margin-left: 0.5em;
      }
      a{
        margin-right: 0.5em;
      }
    }
    li.breadcrumb__dir--current{}

    li, a, span{
      font-size: 82%;
      // color: $RGB_a1-link;
      color: $RGB_a1-bg;
    }
    li br{
      display: none;
    }

  }

  // リンクなし
  .cat_firstly & ,
  .cat_operation &{
    li.breadcrumb__dir.cat_manual a{
      pointer-events: none;
    }
  }


}


// PC表示 ( 最小値がモバイルサイズ )
// ---------------------------------------------
// @media screen and (min-width: $is_mobile), print{
@media screen and ( $SCREEN_PC-all ), print{

// レイアウト
// ----------------------------------------
body{
  #breadcrumb {
    border-bottom: $BORDER-common;
  }
  #nav--global {
    // float: left;
    position: absolute;
    display: block;
    width: $nab_grobal_W;
    min-width: 10em;
  }
  #main{
    margin-left: $nab_grobal_W;
    // float: left;
  }
  #main,
  #main #main__body nav {
    border-left: $BORDER-common;
  }
  footer{
    clear: both;
  }
  // 最初のセクション
  h1 + nav + section{
    // margin-bottom: 60px;

    article{
      padding-bottom: 2em;
      font-size: 115%;
      line-height: 2em;
    }
  }

}


// common.css reset
// ----------------------------------------
#foot {
  margin-top: 0; 
}


// ヘッダ
// ----------------------------------------
header{
  .head-logo {
    img{
      display: inline;
      vertical-align: middle;
      margin-right: 40px;
    }
    span{
      display: inline;
      font-size: 100%;
      vertical-align: middle;
    }
  }
  p.head-btn{
    display: none;
  }
} 

// パンくず 階層表示
// ----------------------------------------
nav#breadcrumb{
  line-height: 35px;
  padding-left: $header_plW;
}


// 左右メニュー マウスオーバー  
// ----------------------------------------
li.nav__category >,
li.nav__category li,
#main__body nav li {
  a{
    background-color: $RGB_a1_bg;
    @include border-radius(0.3em); 
    &:hover{
      background-color: $RGB_a1_bg2;
      color: $RGB_a1-text2;
    }
  }
}


// 左サイドメニュー
// ----------------------------------------
#nav--global {
  padding-top: 30px;

  form input,
  & > ul,
  & > ul ul li{
    display: block;
    // width: 80%;
    margin: 0 20px  0 20px;
  }   

  // 検索
  form {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;

    input{
      font-size: 170%;
    }
  }

  // サイドバー ページ一覧
  li.nav__category{
    padding: 0;
    list-style: outside none;

    $nav_cat_margin: 0.2em;

    // カテゴリ名
    & {
      line-height: 1.4;
      overflow: hidden;

      & > span,
      & > a {
        display: table;
        width: 100%;
        margin-bottom: $nav_cat_margin;
        padding: 0.3em 0 0.3em 0.5em;
        color: $RGB_a1-text2;
        font-weight: bold;
        &:before{
          content: ">";
          display: inline-block;
          margin-right: 0.3em;
          font-family: $FONT-menuArrow;
          font-weight: bold;
          color: $RGB_a1-text2;

          transition: all 400ms 0s ease;
        }

        span{
          display: table-cell;
          width: 100%;
        }
      }
      & > a:hover{
        color: #{$RGB_a1_accent} !important;
      }

      // ページ名
      ul {
        // margin-left: 6%;
        padding-left: 6%;

        li{
          height: 0;
          width: auto;
          margin: 0;
          overflow: hidden;
          &:last-child{
            margin-bottom: $nav_cat_margin;
          }

          span{
            display: table;
            width: 100%;

            a{
              font-size: 90%;
              display: table-cell;
              // padding: 0.2em 3% 0.2em 5%;
              padding: 0.27em 3px 0.27em 10px;
              color: $RGB_a1-text;
              &:hover{
                color: $RGB_a1-text2;

              }
            }
          }
        }
      }
    }

  }

// Font Awesome
/*
  li.nav__category{
    & > a::before,
    & > span::before {
      @include font_awesome;
      // display: inline-block;
      // width: 1em;
      margin-right: 0.5em;

      // font-family: "Font Awesome 5 Free";
      // -webkit-font-smoothing: antialiased;
      // font-variant: normal;
      // text-rendering: auto;
      // line-height: 1;

      text-align: center;
      font-style: normal;
    }
  }
  li.nav__category.firstly   > span::before{ content: "\f518"; } //f52b
  li.nav__category.operation > span::before{ content: "\f245"; }
  li.nav__category.screen    > a::before{ content: "\f2d0"; font-weight: 400;}
  li.nav__category.design    > a::before{ content: "\f304"; } //font-weight: 400; 
  li.nav__category.layout    > a::before{ content: "\f58e"; } //f58e
  li.nav__category.print     > a::before{ content: "\f02f"; }
  li.nav__category.pouring   > a::before{ content: "\f56f"; }

  li.nav__category.home       > a::before{ content: "\f015"; } //
  li.nav__category.paper      > a::before{ content: "\f0c5"; font-weight: 400;} //f15b 
  li.nav__category.template   > a::before{ content: "\f2d2"; } 

  */
  /*

    はじめに
    https://fontawesome.com/icons/book-open?style=solid f518
    https://fontawesome.com/icons/door-open?style=solid f52b
    https://fontawesome.com/icons/door-closed?style=solid
    https://fontawesome.com/icons/egg?style=solid
    
    操作概要
    https://fontawesome.com/icons/mouse-pointer?style=solid
    https://fontawesome.com/icons/sitemap?style=solid f0e8
    
    画面説明
    https://fontawesome.com/icons/window-maximize?style=regular f2d0

    デザイン画面
    https://fontawesome.com/icons/edit?style=regular f044
    https://fontawesome.com/icons/pen?style=solid f304

    印刷画面
    https://fontawesome.com/icons/print?style=solid
    
    差し込み画面
    https://fontawesome.com/icons/file-import?style=solid
    https://fontawesome.com/icons/clone?style=regular
    https://fontawesome.com/icons/images?style=regular

    ホーム画面
    https://fontawesome.com/icons/home?style=solid f015

    https://fontawesome.com/icons/file?style=regular f15b
    https://fontawesome.com/icons/copy?style=regular f0c5

    https://fontawesome.com/icons/window-restore?style=regular f2d2


    
    
    https://fontawesome.com/icons/th-large?style=solid f009
    https://fontawesome.com/icons/grip-vertical?style=solid f58e
    https://fontawesome.com/icons/table?style=solid f0ce

    https://fontawesome.com/icons/laptop?style=solid
    https://fontawesome.com/icons/chalkboard?style=solid

    https://fontawesome.com/icons/comment-alt?style=regular
    https://fontawesome.com/icons/elementor?style=brands
  */

  // カテゴリ 折りたたみ - 開く表示
  li.nav__category:hover,
  .cat_firstly   & li.nav__category.firstly,
  .cat_operation & li.nav__category.operation,
  .cat_screen    & li.nav__category.screen,
  .cat_design    & li.nav__category.design,
  .cat_layout    & li.nav__category.layout,
  .cat_print     & li.nav__category.print,
  .cat_pouring   & li.nav__category.pouring
  {
    // 着色
    & > a,
    & > span{
      color: $RGB_a1-accent;

    }
    // 開く / display で開閉するとアニメーションしない 
    ul li{ 
      height: 1.6em; 
    } 
  }
  li.nav__category:hover{
    & > a,
    & > span{
      background-color: $RGB_a1_bg2;
      // background-color: #eef6ee;
      // アイコン回転
      &:before{
        @include rotate(90deg);
        // @include translate(-0.1em, 0); // 同時に効かない
      }
    }
    & > span:hover{
      background-color: $RGB_a1_bg;
      // background-color: #eef6ee;
    }

  }
  // li.nav__category li:hover{
  li:hover{
    // 着色
    & > a,
    & > span{
      color: $RGB_a1-text2;
    }
  }
  // 複数行メニュー別指定 2行
  li.nav__category.firstly:hover ul li:nth-child(2),
  .cat_firstly & li.nav__category.firstly > ul li:nth-child(2),
  li.nav__category.layout:hover ul li:nth-child(1),
  .cat_layout & li.nav__category.layout > ul li:nth-child(1),
  li.nav__category.pouring:hover ul li:nth-child(2),
  .cat_pouring & li.nav__category.pouring > ul li:nth-child(2),
  li.nav__category.pouring:hover ul li:nth-child(3),
  .cat_pouring & li.nav__category.pouring > ul li:nth-child(3)
  {
      height: 3.0em;
  }
  // 複数行メニュー別指定 3行
  li.nav__category.firstly:hover ul li:nth-child(1),
  .cat_firstly & li.nav__category.firstly > ul li:nth-child(1)
  {
      height: 4.1em;
  }

  li.nav__category--current{
    ul li.page--current a{
      pointer-events: none;
      cursor: default;
      color: $RGB_a1-accent;
    }
  }
  // ページカレント
  #firstly_about         & li.firstly_about a,
  #firstly_caution       & li.firstly_caution a,
  #firstly_specification & li.firstly_specification a,
  #firstly_features      & li.firstly_features a,
  #operation_tips        & li.operation_tips a,
  #operation_flow        & li.operation_flow a,
  #operation_template    & li.operation_template a,
  #operation_cloud       & li.operation_cloud a,
  #screen_index          & li.screen_index a,
  #screen_top            & li.screen_top a,
  #screen_paper          & li.screen_paper a,
  #screen_tools          & li.screen_tools a,
  #screen_menu           & li.screen_menu a,
  #design_index          & li.design_index a,
  #design_main_pane      & li.design_main_pane a,
  #design_controller_l   & li.design_controller_l a,
  #design_text           & li.design_text a,
  #design_text_circle    & li.design_text_circle a,
  #design_text_3d        & li.design_text_3d a,
  #design_text_date      & li.design_text_date a,
  #design_img            & li.design_img a,
  #design_square         & li.design_square a,
  #design_poly           & li.design_poly a,
  #design_circle         & li.design_circle a,
  #design_straight       & li.design_straight a,
  #design_curve          & li.design_curve a,
  #design_barcode        & li.design_barcode a,
  #design_qrcode         & li.design_qrcode a,
  #design_table          & li.design_table a,
  #design_serial         & li.design_serial a,
  #design_sns            & li.design_sns a,
  #design_multiselect    & li.design_multiselect a,
  #design_export         & li.design_export a,
  #layout_index          & li.layout_index a,
  #layout_copy           & li.layout_copy a,
  #layout_delete         & li.layout_delete a,
  #layout_page           & li.layout_page a,
  #layout_overwrite      & li.layout_overwrite a,
  #print_index           & li.print_index a,
  #print_pageset         & li.print_pageset a,
  #print_settings        & li.print_settings a,
  #print_export          & li.print_export a,
  #pouring_index         & li.pouring_index a,
  #pouring_operation     & li.pouring_operation a,
  #pouring_loaddesign    & li.pouring_loaddesign a,
  #pouring_csv           & li.pouring_csv a,
  #pouring_layout        & li.pouring_layout a,
  #pouring_print         & li.pouring_print a
  {
    color: $RGB_a1_accent;
  }



  li.nav__category.design > ul li{
    width: 50%;
    display: inline-block;
    float: left;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(17),
    &:nth-child(18){
      width: 100%;
      clear: left;
    }

  }

}



// メイン
// ----------------------------------------
#main{
  padding: $main_pH 50px ;

  #main__body{
    position: relative;
    padding: 0;
  }


  h1{
    font-size: 340%;

    span{
      margin: 0 30px 0.3em 0;
      color: $RGB_a1-accent;
      font-size: 48%;
      display: block;

      // アイコン表示 

      // position: relative;
      // float: left;
      // clear: left;
      // margin: 0 30px 0.3em 0;
      // padding: 0 0.4em 0 0.6em;
      // color: #fff;
      // font-size: 48%;
      // background-color: #090;
      // line-height: 36px;

      // &:after{
      //   content: "";
      //   border-style: solid;
      //   position: absolute;
      //   right: -36px;
      //   top: 0;
      //   width: 0;
      //   height: 0;
      //   line-height: 0;
      //   font-size: 0;
      //   border-color: transparent transparent transparent #090;
      //   border-width: 18px 18px 18px;
      // }

    }
  }

  h1 span{
    margin: 0 30px 0.3em 0;
    color: $RGB_a1-accent;
    font-size: 48%;
    display: block;
  }
  // 最初のセクション
  h1 + nav + section{
    // margin-bottom: 60px;

    h2{
      display:  none;
    }
    article{
      padding-bottom: 1.5em;
      font-size: 115%;
      line-height: 2em;
      &:empty{
      display: none;
      }

      p:first-child{
        margin-top: 0;
        &:last-child{
        margin-bottom: 0;
        }
      }
    }
  }

  section{
    @include clearfix();
    padding-top: 10px;
    padding: 2em 0.0em;
    margin-bottom: 25px;
    line-height: 2em;

    // *:empty{
    //   display: none;
    // }
  }

}


// PC 本文内のスタイル
section{

  section{
    font-size: 98%;
  }

  h2, h3, h4, h5, h6{
    clear: both;
  }
  h3, h4, h5{
    padding-top: 0.8em;
  }
  h2{ 
    font-size: 2em;
    margin-bottom: 25px;
  }
  h3{ 
    font-size: 1.5em;
    margin-bottom: 15px;
  }
  h4{ 
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  h6{
    font-weight: normal;   
    margin: 2.0em auto 1.5em;
  }

  p{
    margin: 1.0em auto;
  }
  strong{
    font-size: 88%;
    line-height: 1.4;
  }
  img{
    width: 90%;
    max-width: 800px;
    height: auto;
    border: solid 3px #eeeeee;

    &[alt^="全体画面"]{
    }
    &[alt^="ボタン"]{
      width: auto;
      height: 60px;
      // height: 4em;
      border: $BORDER-none;
    }
    &[alt^="サイドツール"]{
      width: 50%;
      min-width: 240px;
    }
    /* 
      &[alt^="サイドツール"]+ul{
        float: right;
        clear: right;
        width: 69%;
        // margin-left: 2em;
        margin-bottom: 0.5em;
      }
    */  
    &[alt^="POP画面"]{
      width: 65%;
      // border: none 0 transparent ;
      border: solid 1px #ccc ;
      @include border-radius(2.3%);
    }
    &[alt^="POP画面S"]{
      width: 50%;
      // border: none 0 transparent ;
      border: solid 1px #ccc ;
    }


    // 個別ページ指定
    // 画面説明 ホーム画面 内 ボタン
    #screen_top &[alt^="ボタン"]{
      width: 15%;
      min-width: 130px; 
      height: auto;
    }

    // 単一画像指定
    &[alt="全体画面 通常文字フォント変更前"]:after {
      content: ' ';
      display: block;
      width: 50px;
      height: 50px;
    }

    /* 画像の種類を洗い出す


    ・ TOP正方形ボタン

    ・全体画面
    ・
    //  画像 大 中 小 のような方がいいかも


    */

  }

  // サイドツールの隣接リスト
  #pouring_operation,
  .cat_design {
    & p+ul{
      margin-top: -0.5em;
    }
  }

}


// フッタ  
// ----------------------------------------
footer{
  $footer_block-H: 55px;

  #copy,
  #logo--3m .text{
    font-size: 50%;
    padding-left: 70px;
  }

  #copy{
    height: $footer_block-H;
    line-height: $footer_block-H;
    background-color: $RGB_a1-bg2;
  }
  #logo--3m{
    @include clearfix; 
    height: $footer_block-H;
    line-height: $footer_block-H;

    .text{
      float: left;
    }
    a.link--ext{
      float: right;
      display: table-cell;
      padding: $footer_block-H*0.2 0;
      margin-right: 22px;
      vertical-align: middle;

      img{
        width: 152px;
        height: auto;
      }
    }
  }

}



// 元設定の上書き
body {
  min-width: $is_mobile;
  //line-height:1.85;

  ul#gnav {
    height: 39px;

    li span{
      line-height: 39px;
      display: none; // サイトマップ撤去
    }
  }


}
  
footer#foot {
  .foot-nav {
    padding-top: 15px;
  }
}



// 各ページ 個別設定
// ----------------------------------------
@import "pages";

// #screen_top {
//   img{
//     float: left;
//     margin-right: 1.5em;
//   }
// }


} // << end min-width: $is_mobile



// mobile表示
// ---------------------------------------------
@media screen and ( $SCREEN_Mobile-all ), print{

  $mobile_body-padding: 6vw;
  body{

    h1{
      margin-bottom: 0;
    }

    .head-logo a{
      display: block;
      width: 50%;
      margin: 0 auto;
      // &:first-child{
      //   height: 5.33vw;
      // }
    }

    #main #main__body {
      padding: $mobile_body-padding*1.3 $mobile_body-padding;
      // padding-left:  $mobile_body-padding;
      // padding-right: $mobile_body-padding;
    }

    #nav__page{
      display: none;
    }

    section article > p:first-child{
      margin-top: 0;
    }
  }

  // 最初のセクション
  h1 + nav + section{
    padding-left: 0;
    padding-right: 0;
  }


  nav#breadcrumb {
    background-color: #288947;
    padding: 0.7em 6vw;
    /* padding: 6vw; */
  }

}


// PC
// ---------------------------------------------
@media screen and ( $SCREEN_PC-all ), print{

  section section{
    position: relative;
    z-index: 1;
  }

  // ページ内見出し
  nav#nav__page{
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    width: $main_nav-W - 30px;
    padding-left: 1.2em;

    // 追加分
    @include opacity(0);
    z-index: 0;
    right: 5em;
    overflow: hidden;
    border-left: $BORDER-none;

    ul{
      margin: 0;
      padding: 0.1em 0;

      li{
        line-height: 1.5;
        list-style: outside none;
        margin-bottom: 0;//.5em;

        &:first-child a{
          font-size: 105%;
          color: #000;
          font-weight: bold;
        }

        a{
          display: block;
          padding: 0.4em 0.5em;
          font-size: 88%;
          letter-spacing: 0.04em;
        }
      }
    }
  }

  // フッタ
  #foot {
    .foot-nav-policy {
      right: 52px;
      bottom: 0; 
    }
    .box-center {
      width: 1300px;
    }
  } 

  #foot {
    .foot-nav {
      padding-left: 0;
    }
    .box-center {
      width: auto;
    }
  }

} // << min-width: $is_mobile


@media screen and (min-width: 1000px), print{

// デザイン画面カテゴリ内 [alt^="サイドツール"] の隣接リスト
section{
  img{

    &[alt^="サイドツール"]{
      float: left;
      clear: both;
      width: 30%;
      // padding-left: 1em;
      // min-width: 240px;
      margin-right: 1.2em;
      margin-bottom: 1.5em;
    }

  }

  #pouring_operation &,
  .cat_design &{
    p+ul{
      float: left;
      width: 60%;
      margin: 0 0 1.5em;
      padding-left:  0;
      padding-right: 0;
      list-style: none outside;
    }
  }


  #operation_tips &#section_7{
    ol{
      float: left;
      width: 60%;
    }
  }

}

} // << min-width: 1000px

@media screen and (min-width: 1250px), print{

  #main #main__body {
    padding-right: $main_nav-W;
  }

  // ページ内見出し
  nav#nav__page{
    @include opacity(1);
    right: 0;

  }

} // << min-width: 1250px

@media screen and (min-width: 1300px), print{
} // << min-width: 1300px


@media screen and (max-width: 1250px), print{
  // ページ内ナビの消えた表示

  #main{
    // img{
    //   width: 100%;
    // }
    div#main__body #nav__page{
      a{
        cursor: default;
        pointer-events: none !important;
      }
    }

    img,
    div#main__body #nav__page
    {
      transition: all 400ms 0s ease;
    }
  }

} // << max-width: 1250px


@media screen and (max-width: 1300px), print{
} // << max-width: 1300px


// @media screen, print{
@media print{

  // 左サイドメニュー
  // ----------------------------------------

  #wrapper{
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    padding: 0;

    #head{
      padding: 0.5vw 0;

      .head-logo{
        left: 0;
        
        img {
          width: 20vw;
          margin-right: 3vw;
        }
      }
      .head-logo-aone {
        // position: absolute;
        right: 0;
        // top: 1vw;
        padding-top: 1vw;
        img{
          width: 10vw;
        }
      }
    }

    nav#breadcrumb {
      line-height: 1;
      padding-left: 0;
    }

    #nav--global,
    #nav__page {
      display: none;
    }
    #main {
      clear: both;
      padding: 1em 0 !important;
      margin-left: 0;
      border-left: $BORDER_none;

      #main__body {
        padding-right: 0;
      }
    }

    .foot-nav {
      border-top:    1px solid $RGB_a1_border;
      border-bottom: 1px solid $RGB_a1_border;
    }
  }


} // << max-width: 1300px






