@charset "UTF-8";
/* memo
    background: linear-gradient(to right, #38a85b 0%, #288947 100%);
 */
/* >> test code //////////////////////////S/////////////////////////////// */
/* << test code ///////////////////////////////////////////////////////// */
/* >> 各ページ 個別設定 //////////////////////////S/////////////////////////////// */
#firstly_specification h3 + ul {
  margin-left: 0;
  padding: 0;
  list-style: none outside; }
  #firstly_specification h3 + ul li {
    display: inline-block; }
    #firstly_specification h3 + ul li::after {
      content: ",";
      margin-right: 0.5em; }
    #firstly_specification h3 + ul li:last-child::after {
      content: none;
      margin-right: 0; }

#screen_top img[alt^="ボタン"] {
  width: 15%;
  height: auto;
  min-width: 130px; }
#screen_top img[alt^="ボタン ファイルを"],
#screen_top img[alt^="ボタン 新規作成"],
#screen_top img[alt^="ボタン 差し込み"],
#screen_top img[alt^="ボタン 一覧"] {
  float: left;
  margin-right: 1.5em; }

#screen_tools img[alt^="上部ツール"] {
  width: 100%;
  min-width: 100%;
  height: auto; }

/* << 各ページ 個別設定 ///////////////////////////////////////////////////////// */
/* 米印 装飾

em {
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    background-color: #f0f0f0;
    padding: 1.0em 1.5em;
    line-height: 1.6;
    margin: 1.2em 0;
    font-size: 90%;
    border-radius: 0.5em;
}

*/
/* サイト基本構造
----------------------------------------------------------------- */
/* 

━━━━━━━━━━━━━━━━━━━━━━━
html
┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃  body
┃　┌─────────────────┐
┃　  header#head
┃　┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃　┃ div#wrapper
┃　┃　┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃　┃　┃ div#contents
┃　┃　┃　┌─────────────────┐
┃　┃　┃　  nav#breadcrumb
┃　┃　┃　┌─────────────────┐
┃　┃　┃　  div.sp-anchor-nav // モバイル ページ内移動
┃　┃　┃　┌─────────────────┐
┃　┃　┃　  nav#nav--global // サイドバー
┃　┃　┃　┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃　┃　┃　┃ main#main
┃　┃　┃　┃　┌─────────────────┐
┃　┃　┃　┃　  div#main__body
┃　┃　┌─────────────────┐
┃　┃　  div.apps-popup
┃　┃　┌─────────────────┐
┃　┃　  footer#foot




header#head
┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃  div.head-inner
┃　┌─────────────────┐
┃　  .head-logo
┃　┌─────────────────┐
┃　  p.btn-spmenu 
┃　┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃　┃  nav#gnav-wrap
┃　┃　┌─────────────────┐
┃　┃　  ul.#gnav
┃　┃　┌─────────────────┐
┃　┃　  p.head-btn
┃　┌─────────────────┐
┃　  p.head-logo-aone



nav#nav--global
┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃ ul
┃   li.nav_category
┃   ┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃   ┃ ul.category__pages
┃   ┃   li
┃   ┃     span
┃   ┃     a


main#main
┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃ article#mainbody
┃ ┌───────────────┐
┃   h1
┃ ┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃ ┃ section.sect_parent
┃ ┃ ┌───────────────┐
┃ ┃   h2
┃ ┃ ┌───────────────┐
┃ ┃   div //markdownを展開した各セクションの中身
┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃ nav#nav__page
┃ ┌───────────────┐
┃   ul
┃     li


footer#foot
┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃ div.foot-nav
┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃ div.foot-logo-wrap
┏━━━━━━━━━━━━━━━━━━━━━━━━━
┃ div.sp-foot-nav

*/
body #main article::before {
  content: none; }
body .topicpath li:first-child a {
  background-image: url(../common/css/img/topicpath_home02.png); }
body .start {
  background-image: url(../common/css/img/foot_start_bg.jpg); }
@media screen and (max-width: 767px) {
  body .start {
    background-image: url(../common/css/img/foot_start_bg_sp.jpg); } }
body .bg-img .topicpath li:first-child a {
  background-image: url(../common/css/img/topicpath_home01.png); }
body .apps-popup-inner {
  background-image: url(../common/css/img/bg_apps_popup.png); }
body select.form-item {
  background-image: url(../common/css/img/bg_select.png); }
body #foot {
  margin-top: 0; }

body header,
body #main,
body #breadcrumb,
body #nav--global {
  font-size: 117%;
  font-weight: normal;
  line-height: 1.15;
  letter-spacing: 0.05em; }
body h2, body h3, body h4, body h5, body h6 {
  clear: both; }
body h1, body h2, body h3, body h4, body h5, body h6,
body ul, body ol {
  padding: 0;
  margin: 0; }
body h1 {
  margin-bottom: 0; }
body h2, body h3, body h4 {
  margin-bottom: 0.8em; }
body h3, body h4 {
  margin-top: 1em; }
body h1 {
  font-size: 200%; }
body h2 {
  font-size: 150%; }
body h3 {
  font-size: 120%; }
body h4 {
  font-size: 100%; }
body h1, body h2, body h4, body h5, body h6 {
  color: #000000; }
body h3 {
  color: #288947; }
body ul, body ol {
  color: #555555; }
body em {
  font-style: normal;
  font-weight: bold;
  color: #000000; }
body ul li em {
  margin-right: 0.5em; }
body strong {
  font-size: 88%;
  display: inline-block;
  padding: 1em 1.5em;
  margin-top: 0.5em;
  font-weight: normal;
  font-style: italic;
  line-height: 1.6;
  letter-spacing: 0.07em;
  color: #000000;
  background-color: #e3f3e6; }

header .head-logo {
  padding: 4.0vw 0; }
  header .head-logo img {
    display: block;
    margin: 0 auto; }
  header .head-logo span {
    display: block;
    padding-top: 1.5vw;
    font-size: 3.5vw;
    line-height: 1; }

nav#breadcrumb {
  background-color: #288947; }
  nav#breadcrumb ol:after {
    content: " ";
    display: table;
    clear: both; }
  nav#breadcrumb ol:before {
    content: " ";
    display: table; }
  nav#breadcrumb ol {
    *zoom: 1; }
  nav#breadcrumb ol li {
    float: left;
    list-style: none outside; }
  nav#breadcrumb ol li.breadcrumb__dir::after {
    content: ">"; }
  nav#breadcrumb ol li.breadcrumb__dir + li {
    margin-left: 0.5em; }
  nav#breadcrumb ol li.breadcrumb__dir a {
    margin-right: 0.5em; }
  nav#breadcrumb ol li, nav#breadcrumb ol a, nav#breadcrumb ol span {
    font-size: 82%;
    color: #ffffff; }
  nav#breadcrumb ol li br {
    display: none; }
  .cat_firstly nav#breadcrumb li.breadcrumb__dir.cat_manual a, .cat_operation nav#breadcrumb li.breadcrumb__dir.cat_manual a {
    pointer-events: none; }

#nav--global {
  display: none; }

#main {
  margin-left: 0;
  padding: 0; }
  #main #main__body {
    padding: 2.67vw; }
  #main a {
    text-decoration: none;
    color: #666666; }
    #main a:hover {
      color: #288947; }
      #main a:hover img {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
        opacity: 0.5; }
  #main section.sect_wrapper a[href^="http"] {
    display: inline-block;
    padding-left: 0.35em;
    color: #333;
    background-color: #f0f0f0; }
    #main section.sect_wrapper a[href^="http"]:hover {
      color: #000000;
      background-color: #e3f3e6; }
    #main section.sect_wrapper a[href^="http"]::after {
      margin: 0 0.4em;
      display: inline-block;
      width: 1em;
      font-family: "Font Awesome 5 Free";
      -webkit-font-smoothing: antialiased;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      content: "\f35d";
      font-weight: bold;
      font-size: 90%; }
  #main h3 a {
    display: block;
    color: #288947; }
    #main h3 a::after {
      margin-left: 0.5em;
      display: inline-block;
      width: 1em;
      font-family: "Font Awesome 5 Free";
      -webkit-font-smoothing: antialiased;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      content: "\f105"; }
    #main h3 a:hover::after {
      -moz-transform: translate(0.1em, 0);
      -ms-transform: translate(0.1em, 0);
      -webkit-transform: translate(0.1em, 0);
      transform: translate(0.1em, 0); }
  #main h1 span {
    margin: 0 30px 0.3em 0;
    color: #288947;
    font-size: 48%;
    display: block; }
  #main h1 + section.sect_wrapper h2 {
    display: none; }

section.sect_wrapper {
  color: #555555;
  padding: 2em 0.5em 0;
  line-height: 1.6em;
  border-bottom: 1px solid #cccccc; }
  section.sect_wrapper:after {
    content: " ";
    display: table;
    clear: both; }
  section.sect_wrapper:before {
    content: " ";
    display: table; }
  section.sect_wrapper {
    *zoom: 1; }
  section.sect_wrapper .sect_body {
    padding-bottom: 2em; }
    section.sect_wrapper .sect_body:empty {
      display: none; }
  section.sect_wrapper:last-child {
    border-bottom: 0 none transparent; }
  section.sect_wrapper p {
    margin: 0.5em auto; }
  section.sect_wrapper img {
    height: auto;
    border: solid 3px #eeeeee; }
  section.sect_wrapper ol,
  section.sect_wrapper ul {
    margin-left: 1.2em;
    padding: 0.2em 0.5em; }
    section.sect_wrapper ol li,
    section.sect_wrapper ul li {
      line-height: 1.5;
      margin-bottom: 0.6em; }
  section.sect_wrapper ul {
    list-style: outside disc; }
    section.sect_wrapper ul ul {
      padding: 0.2em 0 0.2em 1.0em;
      list-style: outside circle; }
  .cat_design section.sect_wrapper p + ul {
    margin-bottom: 2.2em;
    list-style: inside none;
    margin-left: 0;
    padding: 0; }

#foot .foot-nav {
  padding-top: 15px; }

@media screen and (max-width: 768px) {
  body h1 {
    margin-bottom: 0; }

  .head-logo a {
    display: block;
    width: 50%;
    margin: 0 auto; }

  .sp-anchor-nav {
    font-size: 3.90vw;
    line-height: 1.5; }
    .sp-anchor-nav .sp-anchor-nav-current {
      padding-left: 13.0vw;
      padding-right: 13.0vw; }
    .sp-anchor-nav .sp-anchor-nav-select li a {
      padding-left: 6vw;
      padding-right: 6vw; }
      .sp-anchor-nav .sp-anchor-nav-select li a::after {
        top: 41%; }

  #main {
    padding-top: 12vw; }
    #main #main__body {
      padding: 7.8vw 6vw; }
    #main #nav__page {
      display: none; }

  .sect_body > p:first-child {
    margin-top: 0; }

  h1 + section.sect_wrapper {
    padding-left: 0;
    padding-right: 0; }

  section.sect_wrapper img {
    width: 100%; }
    section.sect_wrapper img[alt^="サイドツール"] {
      display: block;
      width: 70%;
      margin-bottom: 0.5em; }

  nav#breadcrumb {
    background-color: #288947;
    padding: 0.7em 6vw; } }
@media screen and (min-width: 768px) {
  body {
    min-width: 768px; }
    body ul#gnav {
      height: 39px; }
      body ul#gnav li span {
        line-height: 39px;
        display: none; }
    body br.pc-item {
      display: none; }

  #nav--global li.nav__category a {
    transition: all 400ms ease 0s; }
  #nav--global li.nav__category > a::before, #nav--global li.nav__category > span::before {
    transition: all 400ms ease 0s; }
  #nav--global li.nav__category ul li {
    transition: all 300ms ease 0s; }

  #main img {
    transition: all 400ms ease 0s; }
  #main h3 a::after {
    transition: all 200ms ease 0s; }
  #main #nav__page {
    transition: all 400ms ease 0s; }
  #main #nav__page li a {
    transition: all 300ms ease 0s; }

  li.nav__category > a,
  li.nav__category > span,
  li.nav__category li a,
  nav#nav__page li a {
    background-color: #ffffff;
    position: relative; }
    li.nav__category > a::after,
    li.nav__category > span::after,
    li.nav__category li a::after,
    nav#nav__page li a::after {
      content: " ";
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      border: 4.5px solid transparent;
      border-color: transparent #fff #fff  transparent;
      /* Avoids the 1px 'step' in webkit. Background colour shows through */ }
    li.nav__category > a:hover,
    li.nav__category > span:hover,
    li.nav__category li a:hover,
    nav#nav__page li a:hover {
      background-color: #f0f0f0 !important;
      color: #000000; }

  #contents {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: strech;
    position: relative;
    overflow: visible; }

  #breadcrumb {
    width: 100%;
    border-bottom: 1px solid #cccccc; }

  #nav--global {
    -webkit-flex: 1 0 250px;
    flex: 1 0 250px;
    position: relative;
    display: block;
    width: 250px;
    max-width: 250px;
    max-width: 250px;
    overflow: visible; }
    #nav--global > ul {
      position: -moz-sticky;
      position: -ms-sticky;
      position: -o-sticky;
      position: -webkit-sticky;
      position: sticky;
      top: 20px; }

  #main {
    -webkit-flex: 1 0 0%;
    flex: 1 0 0%;
    display: -webkit-flex;
    display: flex;
    margin-left: 0;
    border-left: 1px solid #cccccc; }
    #main #main__body {
      -webkit-flex: none;
      flex: none;
      width: 100%; }
      #main #main__body nav {
        border-left: 1px solid #cccccc; }

  footer {
    clear: both; }

  header .head-logo img {
    display: inline;
    vertical-align: middle;
    margin-right: 40px; }
  header .head-logo span {
    display: inline;
    font-size: 100%;
    vertical-align: middle; }
  header p.head-btn {
    display: none; }

  nav#breadcrumb {
    line-height: 35px;
    padding-left: 40px; }

  .sp-anchor-nav {
    display: none; }

  #nav--global {
    padding-top: 30px;
    /*
    li.nav__category{
      & > a::before,
      & > span::before {
        @include font_awesome;
        // display: inline-block;
        // width: 1em;
        margin-right: 0.5em;

        // font-family: "Font Awesome 5 Free";
        // -webkit-font-smoothing: antialiased;
        // font-variant: normal;
        // text-rendering: auto;
        // line-height: 1;

        text-align: center;
        font-style: normal;
      }
    }
    li.nav__category.firstly   > span::before{ content: "\f518"; } //f52b
    li.nav__category.operation > span::before{ content: "\f245"; }
    li.nav__category.screen    > a::before{ content: "\f2d0"; font-weight: 400;}
    li.nav__category.design    > a::before{ content: "\f304"; } //font-weight: 400; 
    li.nav__category.layout    > a::before{ content: "\f58e"; } //f58e
    li.nav__category.print     > a::before{ content: "\f02f"; }
    li.nav__category.pouring   > a::before{ content: "\f56f"; }

    li.nav__category.home       > a::before{ content: "\f015"; } //
    li.nav__category.paper      > a::before{ content: "\f0c5"; font-weight: 400;} //f15b 
    li.nav__category.template   > a::before{ content: "\f2d2"; } 

    */
    /*

      はじめに
      https://fontawesome.com/icons/book-open?style=solid f518
      https://fontawesome.com/icons/door-open?style=solid f52b
      https://fontawesome.com/icons/door-closed?style=solid
      https://fontawesome.com/icons/egg?style=solid
    
      操作概要
      https://fontawesome.com/icons/mouse-pointer?style=solid
      https://fontawesome.com/icons/sitemap?style=solid f0e8
    
      画面説明
      https://fontawesome.com/icons/window-maximize?style=regular f2d0

      デザイン画面
      https://fontawesome.com/icons/edit?style=regular f044
      https://fontawesome.com/icons/pen?style=solid f304

      印刷画面
      https://fontawesome.com/icons/print?style=solid
    
      差し込み画面
      https://fontawesome.com/icons/file-import?style=solid
      https://fontawesome.com/icons/clone?style=regular
      https://fontawesome.com/icons/images?style=regular

      ホーム画面
      https://fontawesome.com/icons/home?style=solid f015

      https://fontawesome.com/icons/file?style=regular f15b
      https://fontawesome.com/icons/copy?style=regular f0c5

      https://fontawesome.com/icons/window-restore?style=regular f2d2


    
    
      https://fontawesome.com/icons/th-large?style=solid f009
      https://fontawesome.com/icons/grip-vertical?style=solid f58e
      https://fontawesome.com/icons/table?style=solid f0ce

      https://fontawesome.com/icons/laptop?style=solid
      https://fontawesome.com/icons/chalkboard?style=solid

      https://fontawesome.com/icons/comment-alt?style=regular
    */ }
    #nav--global form input, #nav--global > ul, #nav--global > ul ul li {
      display: block;
      margin: 0 20px  0 20px; }
    #nav--global form {
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #cccccc; }
      #nav--global form input {
        font-size: 170%; }
    #nav--global li {
      overflow: hidden; }
    #nav--global li.nav__category {
      padding: 0;
      list-style: outside none;
      line-height: 1.4; }
      #nav--global li.nav__category > span, #nav--global li.nav__category > a {
        display: table;
        width: 100%;
        margin-bottom: 0.3em;
        padding: 0.3em 0 0.3em 0.5em;
        color: #000000;
        font-weight: bold; }
        #nav--global li.nav__category > span::before, #nav--global li.nav__category > a::before {
          display: inline-block;
          display: inline-block;
          width: 1em;
          font-family: "Font Awesome 5 Free";
          -webkit-font-smoothing: antialiased;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1;
          content: "\f105";
          font-weight: bold;
          color: #000000; }
        #nav--global li.nav__category > span span, #nav--global li.nav__category > a span {
          display: table-cell;
          width: 100%; }
      #nav--global li.nav__category > a:hover {
        color: #288947 !important; }
      #nav--global li.nav__category ul {
        padding-left: 6%; }
        #nav--global li.nav__category ul li {
          height: 0;
          width: auto;
          margin: 0; }
          #nav--global li.nav__category ul li:last-child {
            margin-bottom: 0.3em; }
          #nav--global li.nav__category ul li a {
            display: table;
            width: 100%; }
            #nav--global li.nav__category ul li a span {
              font-size: 90%;
              display: table-cell;
              padding: 0.27em 3px 0.27em 10px;
              color: #555555; }
              #nav--global li.nav__category ul li a span:hover {
                color: #000000; }
    #nav--global li.nav__category:hover > a, #nav--global li.nav__category:hover > span, .cat_firstly #nav--global li.nav__category.firstly > a, .cat_firstly #nav--global li.nav__category.firstly > span, .cat_operation #nav--global li.nav__category.operation > a, .cat_operation #nav--global li.nav__category.operation > span, .cat_screen #nav--global li.nav__category.screen > a, .cat_screen #nav--global li.nav__category.screen > span, .cat_design #nav--global li.nav__category.design > a, .cat_design #nav--global li.nav__category.design > span, .cat_layout #nav--global li.nav__category.layout > a, .cat_layout #nav--global li.nav__category.layout > span, .cat_print #nav--global li.nav__category.print > a, .cat_print #nav--global li.nav__category.print > span, .cat_pouring #nav--global li.nav__category.pouring > a, .cat_pouring #nav--global li.nav__category.pouring > span {
      color: #288947; }
    #nav--global li.nav__category:hover ul li, .cat_firstly #nav--global li.nav__category.firstly ul li, .cat_operation #nav--global li.nav__category.operation ul li, .cat_screen #nav--global li.nav__category.screen ul li, .cat_design #nav--global li.nav__category.design ul li, .cat_layout #nav--global li.nav__category.layout ul li, .cat_print #nav--global li.nav__category.print ul li, .cat_pouring #nav--global li.nav__category.pouring ul li {
      height: 1.6em; }
    #nav--global li.nav__category:hover > a, #nav--global li.nav__category:hover > span {
      background-color: #f0f0f0; }
      #nav--global li.nav__category:hover > a::before, #nav--global li.nav__category:hover > span::before {
        -moz-transform: translate(0.15em, 0);
        -ms-transform: translate(0.15em, 0);
        -webkit-transform: translate(0.15em, 0);
        transform: translate(0.15em, 0); }
    #nav--global li.nav__category:hover > span:hover {
      background-color: #ffffff; }
    #nav--global li:hover > a, #nav--global li:hover > span {
      color: #000000; }
    #nav--global li.nav__category.firstly:hover ul li:nth-child(2), .cat_firstly #nav--global li.nav__category.firstly > ul li:nth-child(2),
    #nav--global li.nav__category.layout:hover ul li:nth-child(1), .cat_layout #nav--global li.nav__category.layout > ul li:nth-child(1),
    #nav--global li.nav__category.pouring:hover ul li:nth-child(2), .cat_pouring #nav--global li.nav__category.pouring > ul li:nth-child(2),
    #nav--global li.nav__category.pouring:hover ul li:nth-child(3), .cat_pouring #nav--global li.nav__category.pouring > ul li:nth-child(3) {
      height: 3.0em; }
    #nav--global li.nav__category.firstly:hover ul li:nth-child(1), .cat_firstly #nav--global li.nav__category.firstly > ul li:nth-child(1) {
      height: 4.1em; }
    #firstly_about #nav--global li.firstly_about a span, #firstly_caution #nav--global li.firstly_caution a span, #firstly_specification #nav--global li.firstly_specification a span, #firstly_features #nav--global li.firstly_features a span, #operation_tips #nav--global li.operation_tips a span, #operation_flow #nav--global li.operation_flow a span, #operation_template #nav--global li.operation_template a span, #operation_cloud #nav--global li.operation_cloud a span, #screen_index #nav--global li.screen_index a span, #screen_top #nav--global li.screen_top a span, #screen_paper #nav--global li.screen_paper a span, #screen_tools #nav--global li.screen_tools a span, #screen_menu #nav--global li.screen_menu a span, #design_index #nav--global li.design_index a span, #design_main_pane #nav--global li.design_main_pane a span, #design_controller_l #nav--global li.design_controller_l a span, #design_text #nav--global li.design_text a span, #design_text_circle #nav--global li.design_text_circle a span, #design_text_3d #nav--global li.design_text_3d a span, #design_text_date #nav--global li.design_text_date a span, #design_img #nav--global li.design_img a span, #design_square #nav--global li.design_square a span, #design_poly #nav--global li.design_poly a span, #design_circle #nav--global li.design_circle a span, #design_straight #nav--global li.design_straight a span, #design_curve #nav--global li.design_curve a span, #design_barcode #nav--global li.design_barcode a span, #design_qrcode #nav--global li.design_qrcode a span, #design_table #nav--global li.design_table a span, #design_serial #nav--global li.design_serial a span, #design_sns #nav--global li.design_sns a span, #design_multiselect #nav--global li.design_multiselect a span, #design_export #nav--global li.design_export a span, #layout_index #nav--global li.layout_index a span, #layout_copy #nav--global li.layout_copy a span, #layout_delete #nav--global li.layout_delete a span, #layout_page #nav--global li.layout_page a span, #layout_overwrite #nav--global li.layout_overwrite a span, #print_index #nav--global li.print_index a span, #print_pageset #nav--global li.print_pageset a span, #print_settings #nav--global li.print_settings a span, #print_export #nav--global li.print_export a span, #pouring_index #nav--global li.pouring_index a span, #pouring_operation #nav--global li.pouring_operation a span, #pouring_loaddesign #nav--global li.pouring_loaddesign a span, #pouring_csv #nav--global li.pouring_csv a span, #pouring_layout #nav--global li.pouring_layout a span, #pouring_print #nav--global li.pouring_print a span {
      color: #288947; }
    #nav--global li.nav__category.design > ul li {
      width: 50%;
      display: inline-block;
      float: left; }
      #nav--global li.nav__category.design > ul li:nth-child(1), #nav--global li.nav__category.design > ul li:nth-child(2), #nav--global li.nav__category.design > ul li:nth-child(17), #nav--global li.nav__category.design > ul li:nth-child(18) {
        width: 100%;
        clear: left; }

  #main {
    padding: 60px 50px; }
    #main #main__body {
      position: relative;
      padding: 0; }
    #main h1 {
      font-size: 300%; }
      #main h1 span {
        margin: 0 30px 0.3em 0;
        color: #288947;
        font-size: 51%;
        display: block; }
    #main h1 + section.sect_wrapper h2 {
      display: none; }
    #main h1 + section.sect_wrapper .sect_body {
      padding-bottom: 1.5em;
      font-size: 115%;
      line-height: 2em; }
      #main h1 + section.sect_wrapper .sect_body:empty {
        display: none; }
      #main h1 + section.sect_wrapper .sect_body p:first-child {
        margin-top: 0; }
        #main h1 + section.sect_wrapper .sect_body p:first-child:last-child {
          margin-bottom: 0; }
    #main section.sect_wrapper {
      padding-top: 10px;
      padding: 2em 0.0em;
      margin-bottom: 25px;
      line-height: 2em; }
    #main h1 + section.sect_wrapper .sect_body {
      padding-bottom: 2em;
      line-height: 2em;
      font-size: 115%; }

  section.sect_wrapper > *:last-child {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important; }
  section.sect_wrapper h3, section.sect_wrapper h4, section.sect_wrapper h5 {
    padding-top: 0.8em; }
  section.sect_wrapper h2 {
    font-size: 2em;
    margin-bottom: 25px; }
  section.sect_wrapper h3 {
    font-size: 1.5em;
    margin-bottom: 15px; }
  section.sect_wrapper h4 {
    font-size: 1.2em;
    margin-bottom: 10px; }
  section.sect_wrapper h6 {
    font-weight: normal;
    margin: 2.0em auto 1.5em; }
  section.sect_wrapper p {
    margin: 1.0em auto; }
  section.sect_wrapper img {
    max-width: 800px;
    height: auto;
    border: solid 3px #eeeeee; }
    section.sect_wrapper img + img {
      margin-left: 1em;
      vertical-align: bottom; }
    section.sect_wrapper img[alt^="全体画面"] {
      width: 90%; }
    section.sect_wrapper img[alt^="Objectサンプル"] {
      width: 90%; }
    section.sect_wrapper img[alt^="ボタン"] {
      width: auto;
      border: 0 none transparent; }
    section.sect_wrapper img[alt^="サイドツール"] {
      width: 50%;
      float: left;
      margin-right: 1em; }
    section.sect_wrapper img[alt^="上部ツール"] {
      width: auto;
      max-width: 100%;
      height: 80px;
      border: 0 none transparent; }
    section.sect_wrapper img[alt^="POP画像"] {
      border: solid 1px #ccc;
      -moz-border-radius: 2.3%;
      -webkit-border-radius: 2.3%;
      border-radius: 2.3%; }
    section.sect_wrapper img[alt*="画像L"] {
      width: 65%; }
    section.sect_wrapper img[alt*="画像M"] {
      width: 45%; }
    section.sect_wrapper img[alt*="画像S"] {
      width: 30%; }
    section.sect_wrapper img[alt*="画像XS"] {
      width: 15%; }
    section.sect_wrapper img[alt="全体画面 通常文字フォント変更前"]::after {
      content: ' ';
      display: block;
      width: 50px;
      height: 50px; }
  section.sect_wrapper img[alt^="ボタン"] {
    height: 60px; }
  section.sect_wrapper img[alt^="サイドツール"] {
    min-width: 240px; }
  section.sect_wrapper #pouring_operation p + ul,
  section.sect_wrapper .cat_design p + ul {
    margin-top: -0.5em; }

  nav#nav__page {
    display: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    z-index: 0;
    right: 5em;
    -webkit-flex: 1 0 230px;
    flex: 1 0 230px;
    width: 230px;
    max-width: 230px;
    min-width: 230px;
    overflow: visible;
    padding-left: 0; }
    nav#nav__page ul {
      position: -moz-sticky;
      position: -ms-sticky;
      position: -o-sticky;
      position: -webkit-sticky;
      position: sticky;
      top: 20px;
      margin: 0;
      padding: 0.1em 0 0.1em 1.2em;
      border-left: 1px solid #cccccc; }
      nav#nav__page ul li {
        line-height: 1.5;
        list-style: outside none;
        margin-bottom: 0; }
        nav#nav__page ul li:first-child a {
          font-size: 105%;
          color: #000000;
          font-weight: bold; }
        nav#nav__page ul li a {
          display: block;
          padding: 0.4em 0.5em;
          font-size: 88%;
          letter-spacing: 0.04em;
          cursor: default;
          pointer-events: none; }

  footer .foot-nav {
    padding-left: 0; }
  footer .foot-nav-policy {
    right: 52px;
    bottom: 0; }
  footer .box-center {
    width: 1300px;
    width: auto; }
  footer #copy,
  footer #logo--3m .text {
    font-size: 50%;
    padding-left: 70px; }
  footer #copy {
    height: 55px;
    line-height: 55px;
    background-color: #f0f0f0; }
  footer #logo--3m {
    height: 55px;
    line-height: 55px; }
    footer #logo--3m:after {
      content: " ";
      display: table;
      clear: both; }
    footer #logo--3m:before {
      content: " ";
      display: table; }
    footer #logo--3m {
      *zoom: 1; }
    footer #logo--3m .text {
      float: left; }
    footer #logo--3m a.link--ext {
      float: right;
      display: table-cell;
      padding: 11px 0;
      margin-right: 22px;
      vertical-align: middle; }
      footer #logo--3m a.link--ext img {
        width: 152px;
        height: auto; } }
@media screen and (min-width: 1000px) {
  body br.pc-item {
    display: inline; }

  section.sect_wrapper img[alt^="サイドツール"] {
    float: left;
    clear: both;
    width: 30%;
    margin-right: 1.2em;
    margin-bottom: 1.5em; }
  #pouring_operation section.sect_wrapper p + ul, .cat_design section.sect_wrapper p + ul {
    float: left;
    width: 60%;
    margin: 0 0 1.5em;
    padding-left: 0;
    padding-right: 0;
    list-style: none outside; }
  #operation_tips section.sect_wrapper#section_7 ol {
    float: left;
    width: 60%; }

  #main h1 {
    font-size: 320%; }
    #main h1 span {
      font-size: 48%; }
  #main nav#nav__page {
    display: block; } }
@media screen and (min-width: 1250px) {
  #main #main__body {
    -webkit-flex: 1 0 0%;
    flex: 1 0 0%;
    padding-right: 50px; }
  #main nav#nav__page {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    right: 0; }
    #main nav#nav__page a {
      cursor: pointer;
      pointer-events: auto; } }
@media print {
  #head,
  #wrapper,
  nav#breadcrumb,
  #main,
  #foot {
    width: 100%; }

  .box-center {
    width: auto; }

  body {
    min-width: 768px;
    margin: 0;
    padding: 0; }
    body #nav--global,
    body #nav__page {
      display: none !important; }
    body #head,
    body nav#breadcrumb,
    body #main {
      font-size: 100%; }
    body #wrapper {
      margin: 0;
      padding: 0; }
    body #head {
      padding: 0.5vw 0; }
      body #head .head-inner {
        height: 10vw; }
      body #head img {
        border: 0 none transparent; }
      body #head .head-logo {
        left: 0; }
        body #head .head-logo img {
          display: inline;
          vertical-align: middle;
          width: 20vw;
          margin-right: 3vw; }
        body #head .head-logo span {
          display: inline;
          font-size: 100%;
          vertical-align: middle; }
      body #head #gnav,
      body #head p.head-btn {
        display: none; }
      body #head .head-logo-aone {
        right: 0;
        padding-top: 3vw; }
        body #head .head-logo-aone img {
          width: 10vw; }
    body nav#breadcrumb {
      line-height: 1;
      padding: 0.9em 0;
      border-top: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc; }
    body #main {
      clear: both;
      padding: 1em 0 !important;
      margin-left: 0;
      border-left: 0 none transparent; }
      body #main #main__body {
        padding-right: 0; }
    body strong {
      border: 1px solid #cccccc; }
    body img {
      max-width: 800px;
      height: auto;
      border: solid 3px #eeeeee; }
      body img + img {
        margin-left: 1em;
        vertical-align: bottom; }
      body img[alt^="全体画面"] {
        width: 90%; }
      body img[alt^="Objectサンプル"] {
        width: 90%; }
      body img[alt^="ボタン"] {
        width: auto;
        border: 0 none transparent; }
      body img[alt^="サイドツール"] {
        width: 50%;
        float: left;
        margin-right: 1em; }
      body img[alt^="上部ツール"] {
        width: auto;
        max-width: 100%;
        height: 80px;
        border: 0 none transparent; }
      body img[alt^="POP画像"] {
        border: solid 1px #ccc;
        -moz-border-radius: 2.3%;
        -webkit-border-radius: 2.3%;
        border-radius: 2.3%; }
      body img[alt*="画像L"] {
        width: 65%; }
      body img[alt*="画像M"] {
        width: 45%; }
      body img[alt*="画像S"] {
        width: 30%; }
      body img[alt*="画像XS"] {
        width: 15%; }
      body img[alt="全体画面 通常文字フォント変更前"]::after {
        content: ' ';
        display: block;
        width: 50px;
        height: 50px; }
    body img[alt^="全体画面"], body img[alt^="Objectサンプル"] {
      width: 75%; }
    body img[alt^="サイドツール"] {
      float: left;
      clear: both;
      width: 30%;
      margin-right: 1.2em;
      margin-bottom: 1.5em; }
    body p img {
      margin: 1em 0; }

  #pouring_operation section.sect_wrapper p + ul,
  .cat_design section.sect_wrapper p + ul {
    float: left;
    width: 60%;
    margin: 0 0 1.5em;
    padding-left: 0;
    padding-right: 0;
    list-style: none outside; }
  #pouring_operation section.sect_wrapper h3 + p,
  #pouring_operation section.sect_wrapper ul + p,
  .cat_design section.sect_wrapper h3 + p,
  .cat_design section.sect_wrapper ul + p {
    clear: both; }
    #pouring_operation section.sect_wrapper h3 + p img,
    #pouring_operation section.sect_wrapper ul + p img,
    .cat_design section.sect_wrapper h3 + p img,
    .cat_design section.sect_wrapper ul + p img {
      margin-top: 0 !important; }

  #screen_top section.sect_wrapper img[alt^="ボタン"] {
    width: 13%;
    margin-top: 0 !important;
    min-width: auto; }

  .foot-nav {
    padding-left: 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc; }

  .foot-nav-policy {
    display: none; } }
